﻿
@using PagedList.Mvc
@model PagedList.IPagedList<LibraryBILayer.Admin.QuestionLib>

@{
    var totalCount = Convert.ToInt32(ViewData["TotalArticleCount"]);
}
@if (Model.Count > 0 && Model != null)
{
    <table id="example1" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th width="10%">Created On</th>
                <th width="20%">Student Name</th>

                @*<th width="20%">Subject</th>*@
                <th width="15%">File</th>
                <th width="20%">Payment Status</th>
                <th width="20%">Assignment Status</th>
                <th width="15%">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>@Convert.ToDateTime(item.CreatedOn).ToString("yyyy-MM-dd")</td>
                <td>@item.Name</td>

                @*<td>@item.Subject</td>*@
                <td>
                    @if (item.File != null && item.File != "")
                    {
                        item.File = item.File.Substring(1);
                        <a href="@item.File" download>Download</a>
                    }
                </td>
                <td>@item.PaymentStatus</td>
                <td>@item.Status</td>
                <td>
                    <a title="View" href="@Url.Action("ViewQuestion", "ManagePlagiarism", new { @area = "NewAdmin", @Id = item.ID })"><i class="fa  fa-eye fa-2x"></i></a>

                    @*@if (item.Status == true)
            {
                @Html.ActionLink("Edit", "EditSolutionLibrary", "SolutionLibrary", new { @area = "NewAdmin", @Id = item.Sol_ID }, new { @class = "btn btn-primary btn-xs" })
                <a class="btn btn-warning btn-xs" onclick="return DeleteRecord(@item.Sol_ID, 0)">Deactivate</a>
                <a class="btn btn-danger btn-xs" onclick="return FinalDelete(@item.Sol_ID, 0)">Delete</a>
            }
            else
            {
                <a class="btn btn-primary btn-xs" onclick="return DeleteRecord(@item.Sol_ID, 1)">Activate</a>
            }*@
                </td>
            </tr>
            }
        </tbody>

    </table>
    if (totalCount > ViewBag.pageSize)
    {
        @Html.PagedListPager(Model, page => Url.Action("PlagiarismList", "ManagePlagiarism", new { area = "NewAdmin",  page }));
    }
}
else
{
    <span style="color:rosybrown"><strong>No record found!!</strong></span>
}
