﻿
@using LibraryApp.Models;
@{
    ViewBag.Title = "Classmaster - CDR Service";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
      integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
<style>
    .errBox {
        border-left: 3px solid red;
    }

    .error {
        color: red;
    }
</style>

<main class="cdr-report">
    <section class="cdr-banner">
        <div class="container">
            <div class="row d-flex flex-column flex-lg-row align-items-center justify-content-between">
                <div class="col-md-6">
                    <h1 class="text-white mt-0">YOUR CDR REPORT,</h1>
                    <h2 class="text-white mt-0">Our Responsibility</h2>
                    <p class="text-white mb-0">
                        Get top quality CDR report Help for Engineers Australia around the
                        world
                        from our specialized
                        Australian CDR report expert writers’ team. We provide professionals guidance and support in
                        CDR Report, KA02 and RPL Report writing services online for Engineers Australia Migration
                        Skills Assessment.
                    </p>
                </div>
                <!-- <div class="col-md-1"></div> -->
                <div class="col-xs-10 col-sm-6 col-md-5 mt-5 mt-lg-0">
                    <div class="form-wrapper">
                        @using (Html.BeginForm("AddCDRService", "CDRService", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()
                            <h4 class="mb-4"><strong>GET HELP INSTANTLY</strong></h4>

                            <div class="form-group">
                                <div class="transparent-price">
                                    @Html.DropDownList("ServiceID", new ListObject(0, "CDRServiceList").CDRServiceList, "-- SELECT --", new { @autocomplete = "off", @class = "form-control requiredField", @title = "Service" })

                                </div>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="Subject" name="Subject" placeholder="Text input">
                            </div>

                            <div class="form-group">
                                <textarea class="form-control" rows="3" id="Question" name="Question" placeholder="Your Message"></textarea>
                            </div>

                            <div class="d-flex justify-content-between align-items-center mt-4">
                                <div class="custom-file">
                                    <label class="custom-file-label mb-0" for="file">
                                        <i class="fas fa-upload align-middle"></i>
                                    </label>
                                    <input type="file" class="custom-file-input" id="file" name="file"
                                           aria-describedby="file" multiple>
                                    <span class="file-name d-inline-block"></span>
                                </div>

                                <div class="btn-wrap text-center">
                                    <button type="submit" class="btn btn-primary px-5" @*onclick="InsertCDRService()"*@>Submit</button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="choose-us">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="text-center mb-5">Why Choose Us</h2>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-md-6">
                    <p>
                        An engineering student has to prepare a CDR report and submit that report to the Engineers
                        Australia. The CDR report is a key component of Australian immigration process & skill
                        assessment.
                    </p>
                    <p>
                        We started this service to provide genuine CDR writing help to these needful engineers. Our
                        company employs a dedicated team of CDR Australia engineers and writers who have countless
                        years of experience in preparing CDR report help & career episodes. We work day & night to
                        offer you an economical & executive CDR report service. The brilliant writing from our
                        experts and punctual delivery of our services makes us the best company to choose for CDR
                        report help services.
                    </p>
                    <p>
                        NeedCDRReport is the best CDR report help service provider in the business. We have the most
                        reliable and qualified online CDR Australia writers in our team.
                    </p>
                </div>
                <div class="col-md-6 mt-5 mt-lg-0">
                    <div class="img-wrap">
                        <img class="img-fluid" src="~/assets/images/compressed/choose-us.jpg" />
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="features-services">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="text-center mb-5">Our Services</h2>
                </div>
            </div>
            <div class="row d-flex flex-wrap">
                <div class="col-md-6 col-lg-4 mx-auto mb-5 mb-lg-1" data-aos="fade-up">
                    <div class="features-card shadow">
                        <div class="card-head">
                            <div class="img-wrap text-center">
                                <i class="fas fa-pen-alt fa-4x text-blue"></i>
                            </div>
                        </div>
                        <div class="card-body text-center">
                            <h3>CDR Writing</h3>
                            <p>
                                CDR Writers Australia provides 24/7 help in preparation of your CDR. Our writers are
                                skilled and experienced in writing CDR for Australia for engineers and ICT
                                Professionals. Our CDR Writing Services for Engineers Australia consists of
                                preparing your detailed CV, writing Career Episodes (CEs), preparing a Summary
                                statement(SS) and Continuing Professional Development.
                            </p>

                            <div class="button-wrap mt-3">
                                <a href="@Url.Action("Service","CDRService")" class="btn read-more">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mx-auto mb-5 mb-lg-1" data-aos="fade-up">
                    <div class="features-card shadow">
                        <div class="card-head">
                            <div class="img-wrap text-center">
                                <i class="fas fa-search fa-4x text-blue"></i>
                            </div>
                        </div>
                        <div class="card-body text-center">
                            <h3>CDR Reviewing</h3>
                            <p>
                                Our CDR Quality Assurance team offers complete support in reviewing and assuring the
                                quality of your complete CDR as per the format defined by Engineers Australia. Our
                                team will make sure that there is no error in your Career episodes and Summary
                                Statements. They will ensure that your CDR meets every technical requirement
                                mentioned by Engineers Australia CDR.
                            </p>
                            <div class="button-wrap mt-3">
                                <a href="@Url.Action("Service","CDRService")" class="btn read-more">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mx-auto mb-5 mb-lg-1" data-aos="fade-up">
                    <div class="features-card shadow">
                        <div class="card-head">
                            <div class="img-wrap text-center">
                                <i class="fas fa-user-tie fa-4x text-blue"></i>
                            </div>
                        </div>
                        <div class="card-body text-center">
                            <h3>CDR Tutoring</h3>
                            <p>
                                CDR Writing Services for Engineers Australia includes tutoring engineers on preparing
                                CDR to get skilled migration in Australia. Our team is well acquainted with the
                                steps to be taken to prepare CDR for Australia. Hence they are capable of providing
                                guidelines to the Engineers and ICT Professionals for creating a high quality CDR.
                            </p>
                            <div class="button-wrap mt-3">
                                <a href="@Url.Action("Service","CDRService")" class="btn read-more">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="features-plagiarism">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="text-center mt-5 mb-5">Our Features</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-4 mx-auto mb-5" data-aos="fade-up">
                    <div class="features-card shadow">
                        <div class="card-head">
                            <div class="img-wrap text-center">
                                <i class="fas fa-clock fa-4x text-blue"></i>
                            </div>
                        </div>
                        <div class="card-body text-center">
                            <h3>On Time Delivery</h3>
                            <p>
                                If you are looking for a prominent service provider to help you with on time delivery
                                of your CDR report, then knock the doors of NeedCDRReport now!
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 mx-auto mb-5" data-aos="fade-up">
                    <div class="features-card shadow">
                        <div class="card-head">
                            <div class="img-wrap text-center">
                                <i class="fas fa-user-tie fa-4x text-blue"></i>
                            </div>
                        </div>
                        <div class="card-body text-center">
                            <h3>Engineering Experts</h3>
                            <p>
                                NeedCDRReport is a highly acclaimed service provider in the industry. You can
                                completely trust our engineering experts to help you in CDR report approved in first
                                attempt.
                            </p>

                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 mx-auto mb-5" data-aos="fade-up">
                    <div class="features-card shadow">
                        <div class="card-head">
                            <div class="img-wrap text-center">
                                <i class="fab fa-adn fa-4x text-blue"></i>
                            </div>
                        </div>
                        <div class="card-body text-center">
                            <h3>All Engineering Domains</h3>
                            <p>
                                Being one of the best CDR report help service providers in the industry,
                                NeedCDRReport covers all engineering domains to get your report approved in the
                                first go!
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 mx-auto mb-5" data-aos="fade-up">
                    <div class="features-card shadow">
                        <div class="card-head">
                            <div class="img-wrap text-center">
                                <i class="fas fa-headset fa-4x text-blue"></i>
                            </div>
                        </div>
                        <div class="card-body text-center">
                            <h3>24x7 Live Help</h3>
                            <p>
                                NeedCDRReport has a team who are highly acclaimed for providing 24*7 live help to the
                                aspirants all around the world for their needs of CDR report writing.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 mx-auto mb-5" data-aos="fade-up">
                    <div class="features-card shadow">
                        <div class="card-head">
                            <div class="img-wrap text-center">
                                <i class="fas fa-hand-holding-usd fa-4x text-blue"></i>
                            </div>
                        </div>
                        <div class="card-body text-center">
                            <h3>Plagiarism Free</h3>
                            <p>
                                Are you looking for plagiarism free report writing services? We are the most
                                preferred known for providing CDR report writing services. Connect them for unique
                                writing services.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 mx-auto mb-5" data-aos="fade-up">
                    <div class="features-card shadow">
                        <div class="card-head">
                            <div class="img-wrap text-center">
                                <i class="fas fa-money-bill-wave fa-4x text-blue"></i>
                            </div>
                        </div>
                        <div class="card-body text-center">
                            <h3>Best Price Guarantee</h3>
                            <p>
                                There are 100’s of companies which offer CDR report writing services. In order to
                                compete with them, we offer the above-mentioned features at the best possible price.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="how-it-works">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="text-center mb-5">How It Works</h2>
                </div>
                <div class="col-md-12">
                    <div class="img-wrap">
                        <img class="" src="~/assets/images/compressed/process-img.png" />
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

@section scripts{
    <script>
        function InsertCDRService() {
            debugger;
            var hasError = Validate("#frmCDRService");
            if (!hasError) {
                if (window.FormData != undefined) {
                    var fileUpload = $("#file").get(0);
                    var files = fileUpload.files;
                    var fileData = new FormData();
                    for (var i = 0; i < files.length; i++) {
                        var validExtensions = ['docx', 'png', 'jpg', 'jpeg'];
                        var fileName = files[i].name;
                        var fileNameExt = fileName.substr(fileName.lastIndexOf('.') + 1).toLowerCase();
                        if ($.inArray(fileNameExt, validExtensions) == -1) {
                            swal("Oops", "Please select valid image", "error");
                            success = -1;
                            return false;
                        }
                        else {
                            fileData.append(files[i].name, files[i]);
                        }
                    }

                    fileData.append("files", files);
                    $.post('/CDRService/AddCDRService', $('#frmCDRService').serialize(), function (data) {
                        if (data.IsSuccess == 1) {
                            swal({
                                title: "Success",
                                text: data.Message,
                                icon: "success",
                            })
                                .then((refresh) => {
                                    window.location.href = '/CDRService/Index';
                                });
                        }
                        else if (data.IsSuccess == -1) {
                            window.location.href = '/login/Index';
                        }
                        else {
                            swal("Oops", data.Message, "error");
                        }
                    });
                }

                else {
                    swal("Oops", "Something went wrong! Please try again later", "error");
                    return false
                }
            }
        };
    </script>

    <script>
        $('input[type="file"]').change(function () {
            var files = $(this)[0].files;
            $(this).next('.file-name').text(files.length + ' File Added')
        });
    </script>
}