﻿@{
    ViewBag.Title = "Student Profile";
    Layout = "~/Areas/Student/Views/Shared/_Layout.cshtml";
}
@model LibraryDataLayer.tblCollegeStudent

<script src="~/Contents/customjs/jquery.validate.min.js"></script>
<script src="~/Contents/customjs/jquery.validate.unobtrusive.js"></script>
<script src="~/Contents/customjs/jquery.validate.unobtrusive.min.js"></script>
<link href="~/Contents/customcss/validate.css" rel="stylesheet" />
<script src="~/Contents/customjs/validations.js"></script>

<style>
    .custom-input-error {
        border: 1px solid #a94442 !important;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;
        background-color: #FBE8E8 !important;
    }

    .custom-input-success {
        border: 1px solid #3c763d !important;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;
        background-color: #D6F3D6 !important;
    }

    .add_field_button {
        background-color: #089cd3;
        border: none;
        margin-bottom: 15px;
        color: #fff;
        font-weight: 400;
        padding: 5px 11px;
    }

    .add_field_button1 {
        background-color: #089cd3;
        border: none;
        margin-bottom: 15px;
        color: #fff;
        font-weight: 400;
        padding: 5px 11px;
    }
</style>

<div class="content-wrapper" style="min-height: 960px;">
    <section class="content-header">
        <h1>
            Profile
        </h1>
        <ol class="breadcrumb">
            <li><a href="/Student/Profile/StudentProfile"><i class="fa fa-dashboard"></i> Home</a></li>
          
        </ol>
    </section>
    <!-- Content Header (Page header) -->
    <!-- Main content -->
    <section class="content">
        <!-- Info boxes -->

        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Details</h3>

                    </div><!-- /.box-header -->
                    <div class="box-body">

                        <div class="form-group">
                            <label for="exampleInputEmail1">Name: </label>
                            @Html.DisplayFor(model => Model.Name, new { @class = "form-control" })
                            @*  @Html.DropDownListFor(m => m.UID, (IEnumerable<SelectListItem>)ViewBag.University, "Select", new { @class = "form-control", style = "width:85%" })*@
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email: </label>
                            @Html.DisplayFor(model => Model.Email, new { @class = "form-control" })
                            @*  @Html.DropDownListFor(m => m.UID, (IEnumerable<SelectListItem>)ViewBag.University, "Select", new { @class = "form-control", style = "width:85%" })*@
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Password: **********</label>
                            @*@Html.DisplayFor(model => Model.PhoneNo, new { @class = "form-control" , @type= "password" })
                            @Html.Display("**********" ,new { @class = "form-control", @type= "password" })*@
                            @*@Html.DropDownListFor(m => m.UID, (IEnumerable<SelectListItem>)ViewBag.University, "Select", new { @class = "form-control", style = "width:85%" })*@
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Phone Number: </label>
                            @Html.DisplayFor(model => Model.PhoneNo, new { @class = "form-control" })
                            @*  @Html.DropDownListFor(m => m.UID, (IEnumerable<SelectListItem>)ViewBag.University, "Select", new { @class = "form-control", style = "width:85%" })*@
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Country: </label>
                            @Html.DisplayFor(model => Model.country, new { @class = "form-control" })
                            @*  @Html.DropDownListFor(m => m.UID, (IEnumerable<SelectListItem>)ViewBag.University, "Select", new { @class = "form-control", style = "width:85%" })*@
                        </div>

                        <div>
                            @*<button type="submit" id="btnSubmitArticle" class="btn btn-primary">Update</button>*@
                            @Html.ActionLink("Update", "UpdateProfile", "Profile", new { @area = "Student", @id = Model.Email }, new { @class = "btn btn-primary btn-xs" })
                        </div>

                    </div><!-- ./box-body -->
                    <!-- /.box-footer -->
                </div><!-- /.box -->
            </div><!-- /.col -->
        </div>

    </section><!-- /.content -->
</div>


<script src="~/Areas/NewAdmin/NewContent/plugins/jQuery/jQuery-2.1.4.min.js"></script>
<script src="~/Areas/NewAdmin/NewContent/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/5.0.4/tinymce.min.js"></script>

