﻿
@using LibraryApp.Models;
@{
    ViewBag.Title = "Classmaster - Plagiarism";
}

    <main class="plagiarism-checker overflow-auto">
        <!-- Report Banner Section Start -->
        <section class="report-banner">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-6" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="300">

                        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators align-items-center">
                                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="./assets/images/compressed/blog1.jpg" class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">

                                    <img src="./assets/images/compressed/blog1.jpg" class="d-block w-100" alt="...">

                                </div>
                                <div class="carousel-item">

                                    <img src="./assets/images/compressed/blog1.jpg" class="d-block w-100" alt="...">

                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button"
                               data-slide="prev">
                                <i class="fas fa-angle-left fa-2x top-center"></i>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button"
                               data-slide="next">
                                <i class="fas fa-angle-right fa-2x top-center"></i>

                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>





                    <div class="col-md-6" data-aos="fade-left" data-aos-duration="1000" data-aos-delay="300">
                        <div class="banner-content">
                            <h1 class="text-white mt-5 mt-md-0">The #1 plagiarism checker for students</h1>
                            <ul class="text-white my-4 banner-list list-unstyled">
                                <li>
                                    <i class="fas fa-check align-middle mr-2"></i> <span>
                                        Best plagiarism checker of
                                        2019
                                    </span>
                                </li>
                                <li>
                                    <i class="fas fa-check align-middle mr-2"></i> <span>
                                        Plagiarism report &
                                        percentage
                                    </span>
                                </li>
                                <li>
                                    <i class="fas fa-check align-middle mr-2"></i> <span>
                                        Largest plagiarism
                                        database
                                    </span>
                                </li>
                            </ul>
                        </div>

                        <div class="button-wrap">
                            <a href="@Url.Action("Upload","Plagiarism")" class="btn btn-orange">Upload</a>
                            <a href="@Url.Action("Sample","Plagiarism")" class="btn btn-orange">View Example Report</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Report Banner Section End -->
        <!-- Features Plagiarism Section Start -->
        <section class="features-plagiarism">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="text-center mb-5">Features Plagiarism</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-4 mx-auto mb-5" data-aos="fade-up">
                        <div class="features-card shadow">
                            <div class="card-head">
                                <div class="img-wrap text-center">
                                    <i class="fab fa-superpowers fa-4x text-blue"></i>
                                </div>
                            </div>
                            <div class="card-body text-center">
                                <h3>Most advanced technology</h3>
                                <p>
                                    Our software only highlights the similarities that are most likely plagiarism.
                                    Commonly used words and phrases along with your reference list are ignored.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 mx-auto mb-5" data-aos="fade-up">
                        <div class="features-card shadow">
                            <div class="card-head">
                                <div class="img-wrap text-center">
                                    <i class="fas fa-database fa-4x text-blue"></i>
                                </div>
                            </div>
                            <div class="card-body text-center">
                                <h3>Largest plagiarism database</h3>
                                <p>
                                    In partnership with Turnitin, the Plagiarism Plagiarism Checker compares your document
                                    to over 70 billion web pages and 69 million scholarly publications.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 mx-auto mb-5" data-aos="fade-up">
                        <div class="features-card shadow">
                            <div class="card-head">
                                <div class="img-wrap text-center">
                                    <i class="fas fa-user-shield fa-4x text-blue"></i>
                                </div>
                            </div>
                            <div class="card-body text-center">
                                <h3>Safe and confidential</h3>
                                <p>
                                    We never add your paper to our database. After the check, you can delete your
                                    document right away. Your document stays yours.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Features Plagiarism Section End -->
        <!-- Detect All Section Start -->
        <section class="detect-all" data-aos="fade-up">
            <div class="container">
                <div class="detect-content" data-aos="fade-right">
                    <div>
                        <h2 class="text-white">Detect all types of plagiarism</h2>
                        <p class="text-white">
                            Like many other plagiarism checkers, the Plagiarism Plagiarism Checker
                            identifies
                            sentences that
                            are exactly the same as in the original source.
                        </p>
                        <p class="text-white">
                            However, it also detects plagiarism in paragraphs where the sentence
                            structure
                            is changed,
                            synonyms are used, extra words are inserted or text from multiple sources is combined.
                        </p>
                    </div>
                </div>

            </div>
        </section>
        <!-- Detect All Section End -->
        <!-- Reviews Section Start -->
        <section class="testimon-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 m-auto text-center">
                        <div class="title-wrap">
                            <h2 class="title-heading">Used by over 100,000 students</h2>
                            <p>
                                Thousands of students have used the Plagiarism Plagiarism Checker to detect, understand and
                                correct plagiarism.
                            </p>
                            <hr class="hr-sm mb-5" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="bd-example">
                            <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                                <div class="row align-items-center">
                                    <div class="col-lg-10">
                                        <div class="carousel-inner">
                                            <div class="carousel-item active">
                                                <div class="row align-items-center">
                                                    <div class="col-lg-3">
                                                        <div class="img-wrap text-center">
                                                            <img src="~/assets/images/user/rishabh.jpg"
                                                                 class="img-fluid" alt="" />
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-9">
                                                        <div class="carousel-caption">
                                                            <div class="caption-wrap">
                                                                <p>
                                                                    Definitely worth the money! Where other plagiarism
                                                                    checkers only detected 5%, the Classmaster
                                                                    Plagiarism Checker detected 24% plagiarism!
                                                                </p>
                                                                <h6 class="text-right mb-0 font-weight-bolder">
                                                                    “Marketing Student”
                                                                </h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="carousel-item">
                                                <div class="row align-items-center">
                                                    <div class="col-lg-3">
                                                        <div class="img-wrap text-center">
                                                            <img src="~/assets/images/user/raghav.jpg"
                                                                 class="img-fluid" alt="" />
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-9">
                                                        <div class="carousel-caption">
                                                            <div class="caption-wrap">
                                                                <p>
                                                                    Using Classmaster plagiarism checker gave me the
                                                                    peace of mind to submit my research paper, knowing I
                                                                    didn't accidentally plagiarize. I'll certainly use
                                                                    it again!
                                                                </p>
                                                                <h6 class="text-right mb-0 font-weight-bolder">
                                                                    “Leisure Management Student”
                                                                </h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="carousel-item">
                                                <div class="row align-items-center">
                                                    <div class="col-lg-3">
                                                        <div class="img-wrap text-center">
                                                            <img src="~/assets/images/user/pankaj.jpg"
                                                                 class="img-fluid" alt="" />
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-9">
                                                        <div class="carousel-caption">
                                                            <div class="caption-wrap">
                                                                <p>
                                                                    I have been very impressed with the quality
                                                                    of their work and the support they provide.
                                                                    They are really attentive and responsive to
                                                                    the email immediately. Excellent work and I
                                                                    am very pleased with the results.
                                                                </p>
                                                                <h6 class="text-right mb-0 font-weight-bolder">
                                                                    “Rajan Mittal”
                                                                </h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="carousel-item">
                                                <div class="row align-items-center">
                                                    <div class="col-lg-3">
                                                        <div class="img-wrap text-center">
                                                            <img src="~/assets/images/user/minku.jpg"
                                                                 class="img-fluid" alt="" />
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-9">
                                                        <div class="carousel-caption">
                                                            <div class="caption-wrap">
                                                                <p>
                                                                    RevInfotech team is hardworking and have
                                                                    great patients. I appreciate the hard work
                                                                    and on-time delivery. I will surely hire
                                                                    them again for my future project and also
                                                                    recommend you to my connections.
                                                                </p>
                                                                <h6 class="text-right mb-0 font-weight-bolder">
                                                                    “Dinesh Paliwal”
                                                                </h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="carousel-item">
                                                <div class="row align-items-center">
                                                    <div class="col-lg-3">
                                                        <div class="img-wrap text-center">
                                                            <img src="~/assets/images/user/ankit.jpg"
                                                                 class="img-fluid" alt="" />
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-9">
                                                        <div class="carousel-caption">
                                                            <div class="caption-wrap">
                                                                <p>
                                                                    I have been a satisfied client of
                                                                    RevInfotech. I am really impressed with
                                                                    their quality work and responsiveness.
                                                                </p>
                                                                <h6 class="text-right mb-0 font-weight-bolder">
                                                                    “Jakub Fundowicz”
                                                                </h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <ol class="carousel-indicators flex-lg-column">
                                            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active">
                                                <img class="img-fluid"
                                                     src="~/assets/images/user/rishabh.jpg" />
                                            </li>
                                            <li data-target="#carouselExampleCaptions" data-slide-to="1">
                                                <img class="img-fluid"
                                                     src="~/assets/images/user/raghav.jpg" />
                                            </li>
                                            <li data-target="#carouselExampleCaptions" data-slide-to="2">
                                                <img class="img-fluid"
                                                     src="~/assets/images/user/pankaj.jpg" />
                                            </li>
                                            <li data-target="#carouselExampleCaptions" data-slide-to="3">
                                                <img class="img-fluid"
                                                     src="~/assets/images/user/minku.jpg" />
                                            </li>
                                            <li data-target="#carouselExampleCaptions" data-slide-to="4">
                                                <img class="img-fluid"
                                                     src="~/assets/images/user/ankit.jpg" />
                                            </li>
                                        </ol>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Reviews Section End -->
        <!-- Proud Features Section Start -->
        <section class="proud-features" data-aos="fade-left" data-aos-anchor="#example-anchor" data-aos-offset="1000"
                 data-aos-duration="1000">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h2 class="text-center mb-5 mob-heading">Features we're proud of</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-lg-3 mx-auto mb-5">
                        <div class="proud-item" data-aos="fade-right">
                            <div class="text-center mb-3">
                                <i class="fas fa-users fa-4x"></i>
                            </div>
                            <div class="">
                                <h4 class="mt-0 mb-3">Industry-leading technology</h4>
                                <p class="mb-0">
                                    We partner with Turnitin, the leader in plagiarism prevention software.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3 mx-auto mb-5">
                        <div class="proud-item" data-aos="fade-left">
                            <div class="text-center mb-3">
                                <i class="fas fa-headset fa-4x"></i>
                            </div>
                            <div class="">
                                <h4 class="mt-0 mb-3">Plagiarism support</h4>
                                <p class="mb-0">
                                    Our plagiarism experts are happy to answer all your questions! Call,
                                    email
                                    or chat with us!
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3 mx-auto mb-5">
                        <div class="proud-item" data-aos="fade-right">
                            <div class="text-center mb-3">
                                <i class="fas fa-globe-americas fa-4x"></i>
                            </div>
                            <div class="">
                                <h4 class="mt-0 mb-3">
                                    Supported languages
                                </h4>
                                <p class="mb-0">
                                    We can detect plagiarism in many languages, including English, French,
                                    Spanish and other major languages.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3 mx-auto mb-5">
                        <div class="proud-item mb-0" data-aos="fade-left">
                            <div class="text-center mb-3">
                                <i class="fas fa-file-archive fa-4x"></i>
                            </div>
                            <div class="">
                                <h4 class="mt-0 mb-3">Different file formats</h4>
                                <p class="mb-0">
                                    You can upload your paper in .doc, .docx and .pdf format. It’s that
                                    easy!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </section>



        <!-- Detail Report Section Start -->
        <section class="detail-report">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h2 class="text-center mb-5">Detailed plagiarism report</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div>
                            <nav>
                                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                    <a class="nav-item nav-link active" id="nav-percentage-tab" data-toggle="tab"
                                       href="#nav-percentage" role="tab" aria-controls="nav-percentage"
                                       aria-selected="true">
                                        Plagiarism
                                        Percentage
                                    </a>
                                    <a class="nav-item nav-link" id="nav-source-tab" data-toggle="tab"
                                       href="#nav-source" role="tab" aria-controls="nav-source"
                                       aria-selected="false">Matched Source</a>
                                    <a class="nav-item nav-link" id="nav-controls-tab" data-toggle="tab"
                                       href="#nav-controls" role="tab" aria-controls="nav-controls"
                                       aria-selected="false">Advanced Controls</a>
                                    <a class="nav-item nav-link" id="nav-writing-tab" data-toggle="tab"
                                       href="#nav-writing" role="tab" aria-controls="nav-writing"
                                       aria-selected="false">Improve Writing</a>
                                </div>
                            </nav>
                            <div class="tab-content" id="nav-tabContent">
                                <div class="tab-pane fade show active" id="nav-percentage" role="tabpanel"
                                     aria-labelledby="nav-percentage-tab">
                                    <div class="row d-flex flex-column flex-md-row align-items-center">
                                        <div class="col-sm-6">
                                            <div class="img-wrap">
                                                <img class="img-responsive"
                                                     src="./assets/images/compressed/similarity-score.png" />
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <p>
                                                The plagiarism percentage indicates what portion of your paper matches
                                                other sources in our database.
                                            </p>
                                            <p>
                                                The percentage is accurate and does not include similarities found in,
                                                for instance, your reference list.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="nav-source" role="tabpanel"
                                     aria-labelledby="nav-source-tab">
                                    <div class="row d-flex flex-column flex-md-row align-items-center">
                                        <div class="col-sm-6">
                                            <div class="img-wrap">
                                                <img class="img-responsive"
                                                     src="./assets/images/compressed/similarity-results.png" />
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <p>
                                                The plagiarism report displays a list of all the sources that match your
                                                paper and a preview that highlights the similarities.
                                            </p>
                                            <p>
                                                A similarity can range from a couple words to entire sentences or
                                                paragraphs.
                                            </p>
                                            <p>
                                                The structure of the report allows you to easily find the original source
                                                and cite it correctly.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="nav-controls" role="tabpanel"
                                     aria-labelledby="nav-controls-tab">
                                    <div class="row d-flex flex-column flex-md-row align-items-center">
                                        <div class="col-sm-6">
                                            <div class="img-wrap">
                                                <img class="img-responsive"
                                                     src="./assets/images/compressed/settings-panel.png" />
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <p>
                                                You have access to advanced settings that allow you to customize your
                                                plagiarism report. You can:
                                            </p>
                                            <ul class="list-style">
                                                <li>
                                                    <i class="fas fa-check align-middle mr-2"></i> <span>
                                                        Search or
                                                        exclude content databases.
                                                    </span>
                                                </li>
                                                <li>
                                                    <i class="fas fa-check align-middle mr-2"></i> <span>
                                                        Exclude your
                                                        bibliography.
                                                    </span>
                                                </li>
                                                <li>
                                                    <i class="fas fa-check align-middle mr-2"></i> <span>
                                                        Ignore
                                                        similarities in quotes.
                                                    </span>
                                                </li>
                                                <li>
                                                    <i class="fas fa-check align-middle mr-2"></i> <span>
                                                        Change the
                                                        threshold for small matches to exclude similarities that
                                                        are not plagiarism.
                                                    </span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="nav-writing" role="tabpanel"
                                     aria-labelledby="nav-writing-tab">

                                    <div class="row d-flex flex-column flex-md-row align-items-center">
                                        <div class="col-sm-6">
                                            <div class="img-wrap">
                                                <img class="img-responsive"
                                                     src="./assets/images/compressed/paraphrase-or-quoting.png" />
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <p>
                                                After the plagiarism check is complete, you can start improving your
                                                text.
                                            </p>
                                            <p>
                                                Paraphrase or quote the original source and include a proper citation.
                                                Our guide and Knowledge Base with articles about plagiarism will help
                                                you with this.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Detail Report Section End -->
        <!-- Plagiarism Works Section Start -->
        <section class="plagiarism-works">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="text-center mb-5">How the plagiarism checker works</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-lg-3 mx-auto mb-5" data-aos="fade-up">
                        <div class="features-card shadow step1">
                            <div class="card-head">
                                <div class="img-wrap text-center">
                                    <i class="fas fa-cloud-upload-alt fa-4x text-blue"></i>
                                </div>
                            </div>
                            <div class="card-body text-center">
                                <h3>1. Upload</h3>
                                <p>Upload a Word or PDF file of your paper. Multiple languages are supported.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3 mx-auto mb-5" data-aos="fade-up">
                        <div class="features-card shadow step2">
                            <div class="card-head">
                                <div class="img-wrap text-center">
                                    <i class="fab fa-searchengin fa-4x text-blue"></i>
                                </div>
                            </div>
                            <div class="card-body text-center">
                                <h3>2. Detect plagiarism</h3>
                                <p>
                                    Your document is compared to billions of web pages, books, journal articles and more.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3 mx-auto mb-5" data-aos="fade-up">
                        <div class="features-card shadow step3">
                            <div class="card-head">
                                <div class="img-wrap text-center">
                                    <i class="fas fa-file-alt fa-4x text-blue"></i>
                                </div>
                            </div>
                            <div class="card-body text-center">
                                <h3>3. Plagiarism report</h3>
                                <p>
                                    Similarities are highlighted and matched to the source. Then, the plagiarism
                                    percentage is calculated.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3 mx-auto mb-5" data-aos="fade-up">
                        <div class="features-card shadow step4">
                            <div class="card-head">
                                <div class="img-wrap text-center">
                                    <i class="fas fa-tasks fa-4x text-blue"></i>
                                </div>
                            </div>
                            <div class="card-body text-center">
                                <h3>4. Fix plagiarism</h3>
                                <p>
                                    Add missing citations or rewrite your text. Our plagiarism Knowledge Base can help
                                    you.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Plagiarism Works Section End -->
        <!-- Other Plagiarism Section Start -->
        <section class="other-plagiarism">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 mb-5">
                        <h2 class="text-center">Why Classmaster Plagiarism is Best</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="compare-wrap">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col"></th>
                                            <th scope="col" class="text-center">Most other plagiarism checks</th>
                                            <th scope="col" class="text-center">Classmaster Plagiarism Checker</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Easy-to-use plagiarism report</td>
                                            <td class="text-center"><i class="fas fa-times"></i></td>
                                            <td class="text-center"><i class="fas fa-check"></i></td>
                                        </tr>
                                        <tr>
                                            <td>Advanced plagiarism detection software</td>
                                            <td class="text-center"><i class="fas fa-times"></i></td>
                                            <td class="text-center"><i class="fas fa-check"></i></td>
                                        </tr>
                                        <tr>
                                            <td>Largest plagiarism database</td>
                                            <td class="text-center"><i class="fas fa-times"></i></td>
                                            <td class="text-center"><i class="fas fa-check"></i></td>
                                        </tr>
                                        <tr>
                                            <td>Helpful support team</td>
                                            <td class="text-center"><i class="fas fa-times"></i></td>
                                            <td class="text-center"><i class="fas fa-check"></i></td>
                                        </tr>
                                        <tr>
                                            <td>Safe and confidential</td>
                                            <td class="text-center"><i class="fas fa-times"></i></td>
                                            <td class="text-center"><i class="fas fa-check"></i></td>
                                        </tr>
                                        <tr>
                                            <td>Plagiarism Knowledge Base</td>
                                            <td class="text-center"><i class="fas fa-times"></i></td>
                                            <td class="text-center"><i class="fas fa-check"></i></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Other Plagiarism Section End -->
        <!-- Fix Plagiarism Section Start -->
        <section class="fix-plagiarism">
            <div class="container py-5">
                <div class="row">
                    <div class="col-sm-12">
                        <h2 class="text-center mt-0 mb-5" data-aos="fade-up">
                            Ready to detect and fix all plagiarism?
                        </h2>
                    </div>
                </div>
                <div class="row d-flex mb-5 flex-column flex-md-row flex-wrap">

                    @foreach (var item in ViewBag.PlagPrice)
                    {
                        <div class="col-sm-6 col-lg-4 mx-md-auto" data-aos="fade-up">
                            <div class="plan-card shadow">
                                <div class="card-head">
                                    <h3 class="my-0 text-center text-white">@item.Heading</h3>
                                </div>
                                <div class="card-body">
                                    <h1 class="my-0 text-center text-white">$ @item.PlagPrice</h1>

                                </div>

                            </div>
                        </div>
                    }

                </div>
                <div class="row d-flex justify-content-center">
                    <div class="col-md-12">
                        <div class="button-wrap text-center d-flex flex-column flex-md-row justify-content-center">
                            <a href="@Url.Action("Upload","Plagiarism")" class="btn btn-orange mr-md-3">Check For Plagiarism</a>
                            <a href="@Url.Action("Sample","Plagiarism")" class="btn btn-blue mt-4 mt-md-0">View Plagiarism Report</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Fix Plagiarism Section End -->
        <!-- FAQ Section Start -->
        <section class="faq-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="text-center mb-5" data-aos="fade-up">Frequently asked questions</h2>
                    </div>
                    <div class="col-lg-6">

                        <div class="accordion" id="accordion1">
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link" type="button" data-toggle="collapse"
                                                data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            <span>
                                                How long does the Plagiarism Plagiarism
                                                Checker take?
                                            </span> <span><i class="fas fa-angle-down"></i></span>
                                        </button>
                                    </h2>
                                </div>

                                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                     data-parent="#accordion1">
                                    <div class="card-body">
                                        <p>The Plagiarism Plagiarism Checker takes around 10 minutes.</p>
                                        <p>
                                            For documents larger than 25,000 words it can take a bit longer. You will
                                            be shown an estimate on the order overview page.
                                        </p>
                                        <p class="mb-0">As soon as the check is done we will send you an email.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingTwo">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                                data-target="#collapseTwo" aria-expanded="false"
                                                aria-controls="collapseTwo">
                                            <span>
                                                Will I get a 100% match at my university when I use the Plagiarism
                                                Plagiarism Checker?
                                            </span>
                                            <span><i class="fas fa-angle-down"></i></span>
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                     data-parent="#accordion1">
                                    <div class="card-body">
                                        <p class="mb-0">
                                            No, you will never get a 100% match, because the Plagiarism
                                            Plagiarism Checker does not store any documents in a shared database.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingThree">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                                data-target="#collapseThree" aria-expanded="false"
                                                aria-controls="collapseThree">
                                            <span>
                                                Will the result of the Plagiarism plagiarism report be the same as at my
                                                university?
                                            </span>
                                            <span><i class="fas fa-angle-down"></i></span>
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                     data-parent="#accordion1">
                                    <div class="card-body">
                                        <p>
                                            The Plagiarism plagiarism report is similar to the report your supervisor
                                            will see, but there are two main differences:
                                        </p>
                                        <h4>Access to more detail and resources</h4>
                                        <p>
                                            The Plagiarism Plagiarism Checker is optimized for students, which means
                                            that you will receive a detailed report with extra information and
                                            resources to fix and prevent plagiarism.
                                        </p>
                                        <h4>
                                            No access to private university databases
                                        </h4>
                                        <p>
                                            Your university might have a private database with submitted student
                                            papers that your document is compared with. The Plagiarism Plagiarism
                                            Checker (or any other plagiarism checker) does not have access to this
                                            database.
                                        </p>
                                        <p class="mb-0">
                                            However, many papers and theses are also published in public
                                            databases. The Plagiarism Plagiarism Checker will compare your text with
                                            all documents that are in these public databases.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="accordion" id="accordion2">
                            <div class="card">
                                <div class="card-header" id="headingFour">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link" type="button" data-toggle="collapse"
                                                data-target="#collapseFour" aria-expanded="true"
                                                aria-controls="collapseFour">
                                            <span>
                                                What technology does the Plagiarism
                                                Plagiarism
                                                Checker use?
                                            </span> <span><i class="fas fa-angle-down"></i></span>
                                        </button>
                                    </h2>
                                </div>

                                <div id="collapseFour" class="collapse show" aria-labelledby="headingFour"
                                     data-parent="#accordion2">
                                    <div class="card-body">
                                        <p class="mb-0">
                                            The Plagiarism Plagiarism Checker is powered by elements of
                                            Turnitin’s
                                            Similarity Checker, namely the plagiarism detection software and the
                                            Internet Archive and Premium Scholarly Publications content databases.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingFive">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                                data-target="#collapseFive" aria-expanded="false"
                                                aria-controls="collapseFive">
                                            <span>Will my document be published on a (public) database?</span>
                                            <span><i class="fas fa-angle-down"></i></span>
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapseFive" class="collapse" aria-labelledby="headingFive"
                                     data-parent="#accordion2">
                                    <div class="card-body">
                                        <p>
                                            No, the Plagiarism Plagiarism Checker does not publish your document in any
                                            public database (unlike other plagiarism checkers).
                                        </p>
                                        <p class="mb-0">
                                            In addition, you can delete all your personal information
                                            and documents from the Plagiarism server as soon as you’ve received your
                                            plagiarism report.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingSix">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                                data-target="#collapseSix" aria-expanded="false"
                                                aria-controls="collapseSix">
                                            <span>Which sources are used for the Plagiarism Plagiarism Checker?</span>
                                            <span><i class="fas fa-angle-down"></i></span>
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapseSix" class="collapse" aria-labelledby="headingSix"
                                     data-parent="#accordion2">
                                    <div class="card-body">
                                        <p>
                                            The Plagiarism Plagiarism Checker, in partnership with Turnitin, compares
                                            your document against the largest and fastest-growing content database
                                            in the world:
                                        </p>

                                        <ul>
                                            <li>Over 70 billion current and historical web pages.</li>
                                            <li>
                                                Over 69 million journal articles and books from more than 1,700
                                                publishers such as Springer, IEEE, Elsevier, Wiley-Blackwell and
                                                Taylor & Francis.
                                            </li>
                                        </ul>
                                        <p class="mb-0">
                                            The Plagiarism Plagiarism Checker does not have access to
                                            Turnitin’s global database with student papers. Only your university can
                                            add and compare submissions to this database.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- FAQ Section End -->
    </main>


