﻿
@using PagedList.Mvc
@model PagedList.IPagedList<LibraryDataLayer.tbl_orderLibrary>
@using LibraryBILayer.Admin;

@{
    var totalCount = Convert.ToInt32(ViewData["TotalArticleCount"]);
}
<!-- Modal HTML embedded directly into document -->



@if (Model.Count > 0 && Model != null)
{
    <table id="example1" class="table table-bordered table-striped">
        <thead>
            <tr>
                @*<th width="20%">Created Date</th>*@
                <th width="15%">Order Date</th>
                <th width="10%">Name</th>
                <th width="10%">Email ID</th>
                <th width="10%">Total Payment</th>
                <th width="15%">Payment Date</th>
                <th width="15%">Transaction ID</th>
                @*<th width="15%">Member ID</th>*@
                @*<th width="5%">Qty</th>*@
                <th width="15%">Payment Status</th>
                @*<th></th>*@
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                if (ManageOrder.GetStudentD(item.memberid) != null)
                {
            <tr>
                <td>@Convert.ToDateTime(item.CreatedDate).ToString("yyyy-MM-dd HH:mm:ss")</td>
                <td>@ManageOrder.GetStudentD(item.memberid).Name</td>
                <td>@ManageOrder.GetStudentD(item.memberid).Email</td>
                <td>$ @item.TotalAmount </td>
                <td>
                    @if (item.paymentDate != null)
                    {
                        <span>@Convert.ToDateTime(item.paymentDate).ToString("yyyy-MM-dd HH:mm:ss")</span>
                    }
                </td>
                <td><a href="/NewAdmin/Panel/ViewOrderDetailFull/@item.OrderID">@item.OrderID</a></td>
                @*<td><a href="javascript:void(0)" onclick="return ViewUser('@item.memberid')">@item.memberid</a></td>*@
                @*<td>@item.qty</td>*@


                @* <td>@item.CreatedDate</td>*@

                <td>@(item.status == null ? "Pending" : item.status)</td>
                @*<td><a href="javascript:void(0)" onclick="return ViewUser('@item.memberid')">Show</a></td>*@
                @*<td>

            @if (item.IsActive == false)
            {
                @Html.ActionLink("Edit", "EditSubject", "Subject", new { @area = "NewAdmin", @Id = item.id }, new { @class = "btn btn-primary btn-xs" })
                <a class="btn btn-danger btn-xs" onclick="return DeleteRecord(@item.id, 1)">Deactivate</a>
            }
            else
            {
                <a class="btn btn-primary btn-xs" onclick="return DeleteRecord(@item.id, 0)">Activate</a>
            }
        </td>*@
            </tr>
                }
               
            }
        </tbody>

    </table>
    if (totalCount > ViewBag.pageSize)
    {
        @Html.PagedListPager(Model, page => Url.Action("_OrderData", "Panel", new { area = "NewAdmin", IsActive = ViewBag.IsDeleted, page }));
    }
}
else
{
    <span style="color:rosybrown"><strong>No record found!!</strong></span>
}
