﻿
@using PagedList.Mvc
@model PagedList.IPagedList<LibraryDataLayer.SP_GETSTUDENT_Result>
@{
    var totalCount = Convert.ToInt32(ViewData["TotalStudentCount"]);
}
@if (Model.Count > 0)
{
    <table id="example1" class="table table-bordered table-striped">
        <thead>
            <tr>
             @*   <th width="15%">Student-Id</th>*@
                <th width="10%"><a data-sort="@ViewBag.Sort" href="/NewAdmin/Panel/_StudentList?page=@ViewBag.Page">Student Name<i class="fa fa-sort"></i></a></th>
                <th width="15%">Email</th>
                <th width="10%">Contact</th>
                <th width="10%">Status</th>
                <th width="15%">Total Service</th>  
                <th width="15%">Total Payment</th>
                <th width="10%">Action</th>
                @*<th width="10%">Action</th>*@
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
            <tr>
                @*<td>@(!String.IsNullOrEmpty(item.StudID) ? item.StudID : "N/A")</td>*@
                <td>@item.Name</td>
                <td>@item.Email</td>
                <td>@(item.PhoneNo != null ? item.PhoneNo : "N/A")</td>
                <td>@(item.IsActive == false ? "Active" : "Not Active")</td>
                <td>@item.ServiceCount</td>
                <td>$ @item.Price</td>
                <td>


                    @if (item.IsActive == false)
                    {

                        @*<a title="Edit" href="@Url.Action("EditMainSubject", "MainSubject", new { @area = "NewAdmin", @Id = item.MSID })"><i class="fa  fa-edit fa-2x"></i></a>*@
                        <a title="Deactivate" onclick="return DeleteRecord(@item.id, 0)"><i class="fa fa-times-circle fa-2x"></i></a>
                        <a title="Delete" onclick="return FinalDelete(@item.id, 0)"><i class="fa fa-trash fa-2x"></i></a>

                    }
                    else
                    {
                        <a title="Activate" onclick="return DeleteRecord(@item.id, 1)"><i class="fa fa-check-circle fa-2x"></i></a>

                    }
                </td>
                @*<td>
            <a class="btn-warning btn-sm" onclick="return UserDetail('@item.id');" data-toggle="modal" data-target="#modalUserDetail" href="javascript:void(0)">View</a>
        </td>*@
            </tr>
            }

        </tbody>

    </table>
    if (totalCount > ViewBag.pageSize)
    {
        @Html.PagedListPager(Model, page => Url.Action("_StudentList", "Panel", new { area = "NewAdmin", page, sortOption = ViewBag.Sort }));
    }
    @*<div style="margin-top: 10px;">
        @Html.ActionLink("Generate Excel-Sheet", "ExcelStudentList", "Student", new { area = "Admin" }, new { @class = "btn-success btn-sm" })
    </div>*@
}
else
{
    <span style="color:rosybrown"><strong>No record found!!</strong></span>
}
