﻿@using PagedList;
@using PagedList.Mvc
@{
    ViewBag.Title = "ListOfOrder";
    Layout = "~/Areas/NewAdmin/Views/Shared/_Layout.cshtml";
    var data = (PagedList<LibraryDataLayer.tbl_orderLibrary>)ViewBag.StudentInfo;
}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<style>
    .pagination {
        float: right;
        margin: 0;
    }

        .pagination li.active a {
            cursor: not-allowed;
        }

            .pagination li.active a:hover {
                cursor: not-allowed;
            }

    .fa-sort {
        margin: 0 4px;
    }

    .faSpinner {
        display: none;
        position: absolute;
        z-index: 9;
        width: 100%;
        height: 100%;
        background: #ddd;
        opacity: 0.4;
    }

        .faSpinner i {
            position: absolute;
            left: 40%;
            top: 40%;
        }

    .myWd {
        width: 60%;
    }
</style>
<style type="text/css">
    .ui-dialog, .ui-dialog-content {
        height: 250.84px !important;
        width: 338.84px !important;
    }
</style>
<div id="dialog" style="display: none;" align="left">
    @*<div class="col-lg-12" align="center" style="padding-bottom: 20px;">
        <img id="pic" style="width: 67px; border-radius: 50%;" />
    </div>*@

    @*<div class="col-lg-4">
        <b>Name</b>
    </div>
    <div class="col-lg-8">
        <label id="lblname" style="font-weight:400; font-size:14px;"></label>
    </div>
    <div class="col-lg-4">
        <b>Email</b>
    </div>
    <div class="col-lg-8">
        <label id="lblemail" style="font-weight:400; font-size:14px;"></label>
    </div>*@
    <div class="col-lg-4">
        <b>Phone</b>
    </div>
    <div class="col-lg-8">
        <label id="lblcontact" style="font-weight:400; font-size:14px;"></label>
    </div>
    <div class="col-lg-4">
        <b>Country</b>
    </div>
    <div class="col-lg-8">
        <label id="lblcountry" style="font-weight:400; font-size:14px;"></label>
    </div>
</div>
<div class="content-wrapper" style="min-height: 960px;">
    <!-- Content Header (Page header) -->

    <section class="content-header">
        <h1>
            Manage Order Data
            @*<div class="topAddNewLink"><a href="/NewAdmin/Subject/AddSubject" class="btn btn-primary btn-xs">Add New</a></div>*@
        </h1>
        <ol class="breadcrumb">
            <li><a href="/Admin/Dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">View Order Data</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <!-- Info boxes -->
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Order Data List</h3>

                        @*<a href="javascript:void(0)" class="btn btn-primary" onclick="window.history.back();" style="float: right;">Back</a>*@
                        @*<div class="checkbox">
                                <label>
                                    <input style="float:right" type="checkbox" id="InActive" onchange="GetArticlesList(this);" class="minimal"> In-Active
                                </label>
                            </div>*@
                        @*<div class="box-tools pull-right">
                                <div class="has-feedback">
                                    <input type="text" id="Search" class="form-control input-sm" placeholder="Search - Solution Library" style="width:300px" />
                                    <span class="glyphicon glyphicon-search form-control-feedback"></span>
                                </div>
                            </div>*@
                    </div><!-- /.box-header -->
                    <div class="box-body" id="ArticlesList">
                        @{
                            ViewDataDictionary extraData = new ViewDataDictionary(ViewData) { { "TotalArticleCount", ViewBag.TotalCount } };
                            Html.RenderPartial("_OrderData", data, extraData);
                        }

                    </div><!-- /.box-body -->
                </div>
                <!-- /.box-footer -->

            </div><!-- /.col -->
        </div>

    </section><!-- /.content -->
</div>




<script type="text/javascript">
    function DeleteRecord(Id, status) {
        var txt;
        var r = confirm("Do you really want to perform this action?");
        if (r == true) {
            $.ajax({
                url: '@Url.Action("DeleteSubject", "Subject", new { area = "NewAdmin" })',
                type: "POST",
                data: JSON.stringify({ Id: Id, status: status }),
                async: false,
                contentType: "application/json",
                dataType: "json",
                success: function (result) {
                    if (result > 0) {
                        if (status == "0") {
                            toastr["success"]("Record is successfully deactivated.");
                        } else {
                            toastr["success"]("Record is successfully activated.");
                        }
                        //  alert("Record is successfully deleted.");
                        GetArticlesList();
                    }
                    else {
                        toastr["error"]("Some error while processing your request.")
                    }
                },
                error: function (data) {
                    toastr["error"]("Some error while processing your request.")
                }
            });
        }
        else {
            txt = "You pressed Cancel!";
        }
    }
</script>

<script>
    function GetArticlesList(elem) {
        $(elem).attr("disabled", 1);
        var HTML = "";
        var chkdata = "";
        var IsActive = $('#InActive').is(":Checked");
        if (IsActive == true)
        {
            chkdata = true;
        }
        else
        {
            chkdata = false;
        }
        $.ajax({
            type: 'GET',
            async: false,
            url: '@Url.Action("_OrderData", "Panel", new { @area = "NewAdmin" })',
            data: { IsActive: chkdata },
            success: function (data) {
                if (data != null) {
                    $('#ArticlesList').html(data)

                    $(elem).removeAttr("disabled");
                }
                else {
                    alert("No Record Found!!")
                }
            },
            error: function (response) {
            }
        });
    }

    $('body').on('click', '#ArticlesList .pagination a', function (event) {
        if (!$(this).hasClass('btn-xs')) {
            var url = $(this).attr("href");
            var HTML = "";
            var InActive = $('#InActive').is(":Checked");
            $(".faSpinner").show();

            if (url != undefined) {
                event.preventDefault();

                url = url + '&IsActive=' + $('#InActive').is(":Checked").toString();
                setTimeout(function () {
                    $.ajax({
                        url: url,
                        success: function (result) {
                            $('#ArticlesList').html(result);

                            $(".faSpinner").hide();
                        }
                    });
                },500)
            }
        }
   });


    function ChangeUrl(page, url) {
        if (typeof (history.pushState) != "undefined") {
            var obj = { Page: page, Url: url };
            history.pushState(obj, obj.Page, obj.Url);
        } else {
            alert("Browser does not support HTML5.");
        }
    }

    function getUrlVars() {
        var vars = [], hash;
        var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
        for (var i = 0; i < hashes.length; i++) {
            hash = hashes[i].split('=');
            vars.push(hash[0]);
            vars[hash[0]] = hash[1];
        }
        return vars;
    }
    function ViewUser(Id) {
        //alert(Id);
       // $('#dialog').dialog('open');
        $.ajax({
                url: '@Url.Action("getStudentDetails", "Panel", new { area = "NewAdmin" })',
                type: "POST",
                data: JSON.stringify({ Id: Id}),
                async: false,
                contentType: "application/json",
                dataType: "json",
                success: function (result) {
                    $("#lblname").text(result.Name);
                    //$("#pic").attr("src", "/Areas/Admin/Content/UploadImage/AdminOriginal/"+result.Image);
                    $("#lblemail").text(result.Email);
                    $("#lblcontact").text(result.PhoneNo);
                    $("#lblcountry").text(result.country);
                    $('#dialog').dialog('open');

                },
                error: function (data) {
                    toastr["error"]("Some error while processing your request.")
                }
            });
    }
</script>
<script type="text/javascript">
    $(function () {
        $("#dialog").dialog({
            modal: true,
            autoOpen: false,
            title: "User Details",
            width: 300,
            height: 150,
            open: function () {
                var closeBtn = $('.ui-dialog-titlebar-close');
               // closeBtn.append('<span class="ui-button-icon-primary ui-icon ui-icon-closethick"></span><span class="ui-button-text">close</span>');
            }
        });
    });

</script>