﻿@model LibraryBILayer.Admin.SolutionLibr
@{   
    var NewOrder = LibraryBILayer.Admin.ManageLibrary.GetOrderSubject(Model.OrderID);
}
<div>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title" id="myModalLabel">FriendsInfo</h4>
    </div>

    <div class="content-wrapper" style="min-height: 960px;">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                View Full Order Details
            </h1>
            <ol class="breadcrumb">
                <li><a href="/NewAdmin/Panel"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">Full Order Details </li>
            </ol>
        </section>
        <!-- Main content -->
        <section class="content">
            <!-- Info boxes -->

            <div class="row">
                <div class="col-md-12">
                    <div class="box">
                        <div class="box-header with-border">
                            <h3 class="box-title">Order Information</h3>

                        </div><!-- /.box-header -->
                        <div class="box-body">


                            <div class="box-body">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-3"><label for="exampleInputEmail1">Order ID</label></div>
                                        <div class="col-md-3">@Model.OrderID</div>
                                        <div class="col-md-3"><label for="exampleInputEmail1">Name</label></div>
                                        <div class="col-md-3">@Model.name</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-3"><label for="exampleInputEmail1">Email ID</label></div>
                                        <div class="col-md-3">@Model.email</div>
                                        <div class="col-md-3"><label for="exampleInputEmail1">Phone No.</label></div>
                                        <div class="col-md-3">@Model.phone</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-3"><label for="exampleInputEmail1">Country</label></div>
                                        <div class="col-md-3">@Model.country</div>
                                        <div class="col-md-3"><label for="exampleInputEmail1">Total Amount ($)</label></div>
                                        <div class="col-md-3">@Model.Amount</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-3"><label for="exampleInputEmail1">Order Date</label></div>
                                        <div class="col-md-3">@Convert.ToDateTime(Model.CreatedOn).ToString("yyyy-MM-dd HH:mm:ss")</div>
                                        <div class="col-md-3"><label for="exampleInputEmail1">Payment Date</label></div>
                                        <div class="col-md-3">
                                            @if (Model.PaymentDate != null)
                                            {
                                                @Convert.ToDateTime(Model.CreatedOn).ToString("yyyy-MM-dd HH:mm:ss")
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-3"><label for="exampleInputEmail1">Payment Status</label></div>
                                        <div class="col-md-3">@(Model.PaymentStatus == null ? "Pending" : Model.PaymentStatus)</div>
                                        <div class="col-md-3"><label for="exampleInputEmail1">Purchased Code</label></div>
                                        <div class="col-md-3">
                                            @if (NewOrder.Count > 0)
                                            {
                                                foreach (var m in NewOrder)
                                                {
                                                    <span><a href="/solution/@m.UrlText" target="_blank">@m.Question_File_ID</a></span>
                                                }
                                            }
                                        </div>
                                    </div>
                                </div>

                            </div><!-- /.box-body -->

                            <div class="box-footer">
                                @*<button type="submit" id="btnSubmitArticle2" class="btn btn-primary">Add</button>*@
                                <a href="/NewAdmin/Panel/OrderData" class="btn btn-primary" style="float: right;">Back to list</a>
                            </div>


                        </div><!-- ./box-body -->
                        <!-- /.box-footer -->
                    </div><!-- /.box -->
                </div><!-- /.col -->
            </div>

        </section><!-- /.content -->
    </div>
</div>

