﻿
@{
    ViewBag.Title = "Index";
    Layout = null;
}
@using LibraryApp.Models

@model IEnumerable<AdminRolesModel>


@foreach (var item in Model)
{
    if (item.IsParent == true)
    {
        <div>
            @if (item.IsSelected)
            {
                <input type="checkbox" onchange="changeRole(this)" id="@item.AdminNavigationID" name="AdminRole" checked>
            }

            else
            {
                <input type="checkbox" onchange="changeRole(this)" id="@item.AdminNavigationID" name="AdminRole">
            }

            <label for="vehicle1"><b> @item.AdminNavigation</b> </label>
            <br>
        </div>

    }

    else
    {
        <div style="margin-left:10%">
            @if (item.IsSelected)
            {
                <input type="checkbox" onchange="changeRole(this)" id="@item.AdminNavigationID" name="AdminRole" checked>
            }

            else
            {
                <input type="checkbox" onchange="changeRole(this)" id="@item.AdminNavigationID" name="AdminRole">
            }
            <label for="vehicle1"> @item.AdminNavigation</label>
            <br>
        </div>
    }

}


