﻿
@if (ViewBag.LatestBlogs.Count <= 0)
{
    <div class="blog-item" data-aos="fade-left">

        <h5><a href="javascript:void(0)" class="blog-link">No Recent Blogs</a></h5>

    </div>
}

@foreach (var m in ViewBag.LatestBlogs)
{

    <div class="blog-item" data-aos="fade-left">

        <h5><a href="/blog/@m.VirtualUrl" class="blog-link">@m.Title</a></h5>

    </div>

}


