﻿@model LibraryDataLayer.tblBlogCat
@using LibraryApp.Models;

@{
    ViewBag.Title = Model.Meta_Title;
    ViewBag.MetaKeyWord = Model.Meta_Keyword;
    ViewBag.MetaDesc = Model.Meta_Desc;
}

    <main class="blog-page">
        <section class="blog-banner">
        </section>
        <div class="bg-theme-light shadow-sm">
            <div class="container">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page"><a href="/blog">Blog</a></li>
                        <li class="breadcrumb-item active" aria-current="page">@Model.BlogCatName</li>
                    </ol>
                </nav>
            </div>
        </div>

        <section class="blog-list">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 order-1 order-md-0 mt-5 mt-md-0">
                        <div class="row">

                            @foreach (var m in ViewBag.Blogs)
                            {

                                <div class="col-lg-6 mb-5">
                                    <div class="blog-card" data-aos="zoom-in" data-aos-duration="1000">
                                        <div class="img-wrap">
                                            <img class="img-fluid" src="https://www.classmaster.com.au/@m.Image.Replace("~/","/")" alt="@m.Title" />
                                        </div>
                                        <div class="blog-card-body">
                                            <a href="/blog/@m.VirtualUrl">@m.Title</a>
                                            <div class="tag-list">
                                                <div class="blog-tag">
                                                    <span><i class="far fa-user"></i></span>
                                                    <span>By : Admin</span>
                                                </div>
                                                <div class="blog-tag">
                                                    <span><i class="far fa-folder-open"></i></span>
                                                    <span>in : Informational</span>
                                                </div>
                                                <div class="blog-tag">
                                                    <span><i class="far fa-clock"></i></span>
                                                    <span>@Convert.ToDateTime(m.CreatedOn).ToString("dd-MMM-yyyy")</span>
                                                </div>
                                            </div>

                                            <p>
                                                @{
                                                    String result = OtherTags.StripHTML(m.Content);
                                                }
                                                @if (result.Length > 120)
                                                {
                                                    string content = result.Substring(0, 120);
                                                    content += "...";
                                                    @Html.Raw(content)
                                                }
                                                else
                                                {
                                                    @Html.Raw(result)
                                                }

                                                <br />

                                                <a href="/blog/@m.VirtualUrl" class="btn btn-primary" style="margin-top:5%">Read More</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>

                    </div>

                    <div class="col-md-6 col-lg-4" data-aos="fade-left" data-aos-duration="1000">
                        <div class="blog-right shadow">
                            <div class="happy-students text-center mt-0">
                                <div class="mb-5"><i class="fas fa-users fa-3x"></i></div>
                                <h4>Happy Students</h4>
                                <p class="text-white">
                                    With so many students using our help, they can't be wrong.
                                </p>
                                <h4>100,000+</h4>
                            </div>
                            <div class="recent-blog pb-5">
                                <div class="recent-title pl-4 py-2">
                                    <h3 class="mb-0 mt-0">Categories</h3>
                                </div>
                                <div class="recent-body px-4">
                                    @Html.Partial("_LatestBlog")
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

