﻿@model LibraryDataLayer.tblBlogLib
@{
    ViewBag.Title = Model.Title;
    ViewBag.MetaDesc = Model.MetaDesc;
    ViewBag.MetaKeyWord = Model.MetaKey;

    var Url = Request.Url.AbsoluteUri;
}



<main class="blog-details overflow-auto">
    <section class="blog-banner">
    </section>
    <div class="bg-theme-light shadow-sm">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page"><a href="/blog">Blog</a></li>
                    <li class="breadcrumb-item active" aria-current="page">@Model.Title</li>
                </ol>
            </nav>
        </div>
    </div>


    <section class="blog-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 order-1 order-md-0 mt-5 mt-md-0">
                    <div class="details-content">
                        <h2 class="mb-3">
                            @Model.Title
                        </h2>
                        <div class="img-wrap mb-5">
                            <img class="img-fluid" src="https://www.classmaster.com.au/@Model.Image.Replace("~/","/")" alt="@Model.Title" />
                        </div>
                        <p class="mb-5">
                            @Html.Raw(Model.Content)

                    </div>
                </div>
                <div class="col-md-6 col-lg-4" data-aos="fade-left" data-aos-duration="1000">
                    <div class="blog-right shadow">
                        <div class="happy-students text-center mt-0">
                            <div class="mb-5"><i class="fas fa-users fa-3x"></i></div>
                            <h4>Happy Students</h4>
                            <p>
                                With so many students using our help, they can't be wrong.
                            </p>
                            <h4>100,000+</h4>
                        </div>
                        <div class="recent-blog pb-5">
                            <div class="recent-title pl-4 py-2">
                                <h3 class="mb-0 mt-0">Recent Blogs</h3>
                            </div>
                            <div class="recent-body px-4">
                                @Html.Partial("_LatestBlog")

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
