﻿@using PagedList.Mvc
@model IEnumerable<LibraryDataLayer.mstplagiarismprice>

@{
    Layout = "~/Areas/NewAdmin/Views/Shared/_Layout.cshtml";
}

<style>
    .pagination {
        float: right;
        margin: 0;
    }

        .pagination li.active a {
            cursor: not-allowed;
        }

            .pagination li.active a:hover {
                cursor: not-allowed;
            }

    .fa-sort {
        margin: 0 4px;
    }

    .faSpinner {
        display: none;
        position: absolute;
        z-index: 9;
        width: 100%;
        height: 100%;
        background: #ddd;
        opacity: 0.4;
    }

        .faSpinner i {
            position: absolute;
            left: 40%;
            top: 40%;
        }

    .myWd {
        width: 60%;
    }
</style>

<div class="content-wrapper" style="min-height: 960px;"> 
    <section class="content-header">
        <h1>
            Manage Plagiarism Plans     
        </h1>
        <ol class="breadcrumb">
            <li><a href="/Admin/Dashboard"><i class="fa fa-dashboard"></i> Home</a></li>          
        </ol>
    </section>
 
    <section class="content">
        <!-- Info boxes -->
        <div class="row">
            <div class="col-md-12">
                <div class="box">                   
                    <div class="box-body" id="ArticlesList">
                        <table id="example1" class="table table-bordered table-striped">
                            <h1>
                                Plagiarism Plans List

                            </h1>
                            <thead>
                                <tr>
                                    <th width="10%"> Price</th>
                                    <th width="20%">Starting Word</th>
                                    <th width="20%">Ending Word</th>
                                    <th width="35%">Heading</th>

                                    <th width="15%">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>$ @item.PlagPrice</td>
                                        <td>@item.StartingWord</td>
                                        <td>@item.EndingWord</td>
                                        <td>@item.Heading</td>

                                        @*<td>@(item.IsActive == true ? "Active" : "Not Active")</td>*@
                                    <td>
                                        <a title="Edit" href="@Url.Action("EditPlagiarism", "ManagePlagiarism", new { @area = "NewAdmin", @Id = item.PlagPriceID })"><i class="fa  fa-edit fa-2x"></i></a>

                                      </td>
                                    </tr>
                                }
                            </tbody>

                        </table>

                    </div><!-- /.box-body -->
                </div>
                <!-- /.box-footer -->

            </div><!-- /.col -->
        </div>

    </section><!-- /.content -->
</div>



