﻿
@foreach (var m in ViewBag.BlogCat)
{
    <div class="blog-item" data-aos="fade-left">

        <h5><a href="/blog/category/@m.Virtual_Url" class="blog-link">@m.BlogCatName</a></h5>

    </div>

}

