﻿@model IEnumerable<LibraryBILayer.Comman.JoinClassForPCR>

@{
    ViewBag.Title = "CompletedAssignment";
    Layout = "~/Areas/Student/Views/Shared/_Layout.cshtml";
}

<script src="~/Contents/customjs/jquery.validate.min.js"></script>
<script src="~/Contents/customjs/jquery.validate.unobtrusive.js"></script>
<script src="~/Contents/customjs/jquery.validate.unobtrusive.min.js"></script>
<link href="~/Contents/customcss/validate.css" rel="stylesheet" />
<script src="~/Contents/customjs/validations.js"></script>

<style>
    .pagination {
        float: right;
        margin: 0;
    }

        .pagination li.active a {
            cursor: not-allowed;
        }

            .pagination li.active a:hover {
                cursor: not-allowed;
            }

    .fa-sort {
        margin: 0 4px;
    }

    .faSpinner {
        display: none;
        position: absolute;
        z-index: 9;
        width: 100%;
        height: 100%;
        background: #ddd;
        opacity: 0.4;
    }

        .faSpinner i {
            position: absolute;
            left: 40%;
            top: 40%;
        }

    .myWd {
        width: 60%;
    }
</style>

<div class="content-wrapper" style="min-height: 960px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            History
        </h1>
        <ol class="breadcrumb">
            <li><a href="/Student/Profile/StudentProfile"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">View History</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <!-- Info boxes -->
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title"> History List</h3>


                    </div><!-- /.box-header -->
                    <div class="box-body" id="ArticlesList">
                        @if (Model != null)
                        {
                            <table class="table table-bordered table-striped" style="background-color:white">
                                <thead>
                                    <tr>
                                        <th width="20%">Service</th>
                                        <th width="20%">Subject</th>
                                        <th width="20%">Question</th>
                                        <th width="20%">Price</th>
                                        <th width="20%">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                    <tr>
                                        <td>@item.ServiceType</td>
                                        <td>@item.Subject</td>
                                        <td>@item.Question</td>
                                        @if (@item.Price == null)
                                        {
                                            <td>$ 0.00</td>
                                        }
                                        else
                                        {
                                            <td>$ @item.Price</td>
                                        }

                                        <td> @Html.ActionLink("View", "CompletedresultById", "Completed", new { @area = "Student", @id = item.id }, new { @class = "btn btn-primary btn-xs" })</td>

                                    </tr>
                                    }
                                </tbody>

                            </table>
                        }
                        else
                        {
                            <span style="color:rosybrown"><strong>No record found!!</strong></span>
                        }
                    </div><!-- /.box-body -->
                </div>
                <!-- /.box-footer -->

            </div><!-- /.col -->
        </div>

    </section><!-- /.content -->
</div>


<script src="~/Areas/NewAdmin/NewContent/plugins/jQuery/jQuery-2.1.4.min.js"></script>
<script src="~/Areas/NewAdmin/NewContent/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/5.0.4/tinymce.min.js"></script>

