﻿
@using PagedList.Mvc
@model PagedList.IPagedList<LibraryBILayer.Admin.QuestionLib>

@{
    var totalCount = Convert.ToInt32(ViewData["TotalArticleCount"]);
}
@if (Model.Count > 0 && Model != null)
{
    <table id="example1" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th width="10%">Created On</th>
                <th width="15%">Student Name</th>             
                <th width="15%">Subject</th>
                <th width="15%">Message</th>
                <th width="15%">Payment Status</th>
                <th width="15%">Assignment Status</th>
                <th width="15%">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>@Convert.ToDateTime(item.CreatedOn).ToString("yyyy-MM-dd")</td>
                <td>@item.Name</td>
                <td>@item.Subject</td>
                <td>@item.Question</td>

                <td>@item.PaymentStatus</td>
                <td>@item.Status</td>
                <td>
                    <a title="View" href="@Url.Action("ViewQuestion", "ManageCDRService", new { @area = "NewAdmin", @Id = item.ID })"><i class="fa  fa-eye fa-2x"></i></a>


                </td>
            </tr>
            }
        </tbody>

    </table>
    if (totalCount > ViewBag.pageSize)
    {
        @Html.PagedListPager(Model, page => Url.Action("CDRServicesList", "ManageCDRService", new { area = "NewAdmin",  page }));
    }
}
else
{
    <span style="color:rosybrown"><strong>No record found!!</strong></span>
}
