﻿
@using PagedList.Mvc
@model PagedList.IPagedList<LibraryDataLayer.tblBlogLib>

@{
    var totalCount = Convert.ToInt32(ViewData["TotalBlogCount"]);
}
@if (Model.Count > 0 && Model != null)
{
    <table id="example1" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th width="15%">Created Date</th>
                <th width="45%">Blog Title</th>
               
                <th width="15%">Status</th>
                <th width="25%">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Convert.ToDateTime(item.CreatedOn).ToString("yyyy-MM-dd")</td>
                    <td>@item.Title</td>
                    
                    <td>@(item.IsActive == true ? "Active" : "Not Active")</td>
                    <td>

                      

                        @if (item.IsActive == true)
                        {

                            <a title="Edit" href="@Url.Action("EditBlog", "BlogData", new { @area = "NewAdmin", @Id = item.ID })"><i class="fa  fa-edit fa-2x"></i></a>
                            <a title="Deactivate" onclick="return DeleteRecord(@item.ID, 0)"><i class="fa fa-times-circle fa-2x"></i></a>
                            <a title="Delete" onclick="return FinalDelete(@item.ID, 0)"><i class="fa fa-trash fa-2x"></i></a>

                        }
                        else
                        {
                            <a title="Activate" onclick="return DeleteRecord(@item.ID, 1)"><i class="fa fa-check-circle fa-2x"></i></a>

                        }
                    </td>
                </tr>
            }
        </tbody>

    </table>
    if (totalCount > ViewBag.pageSize)
    {
        @Html.PagedListPager(Model, page => Url.Action("_ListOfBlog", "BlogData", new { area = "NewAdmin", IsActive = ViewBag.IsDeleted, page }));
    }
}
else
{
    <span style="color:rosybrown"><strong>No record found!!</strong></span>
}
