﻿@using LibraryUtility
@{
    ViewBag.Title = "PendingAssignment";
    Layout = "~/Areas/Student/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<LibraryBILayer.Comman.JoinClassForPCR>

<script src="~/Contents/customjs/jquery.validate.min.js"></script>
<script src="~/Contents/customjs/jquery.validate.unobtrusive.js"></script>
<script src="~/Contents/customjs/jquery.validate.unobtrusive.min.js"></script>
<link href="~/Contents/customcss/validate.css" rel="stylesheet" />
<script src="~/Contents/customjs/validations.js"></script>

<style>
    .pagination {
        float: right;
        margin: 0;
    }

        .pagination li.active a {
            cursor: not-allowed;
        }

            .pagination li.active a:hover {
                cursor: not-allowed;
            }

    .fa-sort {
        margin: 0 4px;
    }

    .faSpinner {
        display: none;
        position: absolute;
        z-index: 9;
        width: 100%;
        height: 100%;
        background: #ddd;
        opacity: 0.4;
    }

        .faSpinner i {
            position: absolute;
            left: 40%;
            top: 40%;
        }

    .myWd {
        width: 60%;
    }
</style>

<div class="content-wrapper" style="min-height: 960px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Order Details
        </h1>
        <ol class="breadcrumb">
            <li><a href="/Student/Profile/StudentProfile"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">View Assignment</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <!-- Info boxes -->
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title"> Order Details</h3>


                    </div><!-- /.box-header -->
                    <div class="box-body" id="ArticlesList">
                        @if (Model != null)
                        {
                            <table id="example1" class="table table-bordered table-striped" style=" display: block;overflow-x: auto;white-space: nowrap;">
                                <thead>
                                    <tr>
                                        <th width="25%">Service</th>
                                        <th width="20%">Subject</th>                                      
                                        <th width="10%">Price</th>
                                        <th width="20%">Assignment Status</th>
                                        <th width="20%">Payment Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.ServiceType</td>
                                            <td>@item.Subject</td>                                           
                                            @if (@item.Price == null)
                                            {
                                                <td>$ 0.00</td>
                                            }
                                            else
                                            {
                                                <td>$ @item.Price</td>
                                            }
                                        <td>
                                            @if (item.AssignmentStatusID == (Int32)Enums.StatusID.Pending)
                                            {                                              

                                                <p>Pending</p>
                                            }

                                            @if (item.AssignmentStatusID == (Int32)Enums.StatusID.Completed)
                                            {
                                                <p>Completed</p>
                                            }

                                            @if (item.AssignmentStatusID == (Int32)Enums.StatusID.Rejected)
                                            {
                                                <p>Rejected</p>
                                            }
                                            @*else
                                            {
                                                <p>Pending</p>
                                            }*@
                                        </td>

                                            <td>
                                                @if (item.PaymentStatusId == (Int32)Enums.PaymentStatus.Pending)
                                                {
                                                    <p>Pending</p>
                                                }

                                                @if (item.PaymentStatusId == (Int32)Enums.PaymentStatus.Paid)
                                                {
                                                    <p>Paid</p>
                                                }

                                                @if (item.PaymentStatusId == (Int32)Enums.PaymentStatus.Declined)
                                                {
                                                    <p>Declined</p>
                                                }
                                                @*else
                                                {
                                                    <p>Pending</p>
                                                }*@
                                            </td>

                                            <td>
                                                @*<a title="View" href="@Url.Action("PendingresultById", "Pending", new { @area = "Student", @Id = item.id })"><i class="fa  fa-edit fa-2x"></i></a>*@

                                                @*@Html.ActionLink("View", "PendingresultById", "Pending", new { @area = "Student", @id = item.id }, new { @class = "btn btn-primary btn-xs" })*@

                                                @if (item.Price > 0 && item.PaymentStatusId == (Int32)Enums.PaymentStatus.Pending)
                                                {
                                                    <a title="Pay Now" href="@Url.Action("SaveAddress", "Home", new { @area = "", cost = item.Price, qty = 1, QuestionID = item.id})"><i class="fa fa-paypal fa-2x"></i></a>

                                                    @*<a href="@Url.Action("SaveAddress", "Home", new { cost = item.Price, qty = 1, QuestionID = item.id})" class="btn btn-primary btn-xs">Pay Now </a>*@
                                                    @*@Html.ActionLink("Pay Now", "PendingresultById", "Pending", new { @area = "Student", @id = item.id }, new { @class = "btn btn-primary btn-xs" })*@
                                                }

                                                @if (item.Price > 0 && item.PaymentStatusId == 0)
                                                {
                                                    <a title="Pay Now" href="@Url.Action("SaveAddress", "Home", new { @area = "", cost = item.Price, qty = 1, QuestionID = item.id})"><i class="fa fa-paypal fa-2x"></i></a>

                                                    @*<a href="@Url.Action("SaveAddress", "Home", new { cost = item.Price, qty = 1, QuestionID = item.id})" class="btn btn-primary btn-xs">Pay Now </a>*@
                                                    @*@Html.ActionLink("Pay Now", "PendingresultById", "Pending", new { @area = "Student", @id = item.id }, new { @class = "btn btn-primary btn-xs" })*@
                                                }

                                                @if (item.Price <= 0 && item.PaymentStatusId == (Int32)Enums.PaymentStatus.Pending)
                                                {
                                                    <a title="Price not confirmed" href="javascript:void(0)"><i class="fa fa-info-circle fa-2x"></i></a>

                                                }

                                                @if (item.Price <= 0 && item.PaymentStatusId == 0)
                                                {
                                                    <a title="Price not confirmed" href="javascript:void(0)"><i class="fa fa-info-circle fa-2x"></i></a>

                                                }

                                                @if (item.PaymentStatusId == (Int32)Enums.PaymentStatus.Paid)
                                                {
                                                    <a title="Payment successfull" href="javascript:void(0)"><i class="fa fa-info-circle fa-2x"></i></a>

                                                }

                                                @if (item.PaymentStatusId == (Int32)Enums.PaymentStatus.Declined)
                                                {
                                                    <a title="Payment declined" href="javascript:void(0)"><i class="fa fa-info-circle fa-2x"></i></a>
                                                }

                                                @*else
        {
            <a title="Price not confirmed" href="javascript:void(0)"><i class="fa fa-info-circle fa-2x"></i></a>
        }*@
                                            </td>

                                        </tr>
                                    }

                                </tbody>

                            </table>
                        }
                        else
                        {
                            <span style="color:rosybrown"><strong>No record found!!</strong></span>
                        }
                    </div><!-- /.box-body -->
                </div>
                <!-- /.box-footer -->

            </div><!-- /.col -->
        </div>

    </section><!-- /.content -->
</div>


