﻿
@{
    ViewBag.Title = "Pending Assignment";
    Layout = "~/Areas/Student/Views/Shared/_Layout.cshtml";
}
@model LibraryBILayer.Comman.JoinClassForPCR

<script src="~/Contents/customjs/jquery.validate.min.js"></script>
<script src="~/Contents/customjs/jquery.validate.unobtrusive.js"></script>
<script src="~/Contents/customjs/jquery.validate.unobtrusive.min.js"></script>
<link href="~/Contents/customcss/validate.css" rel="stylesheet" />
<script src="~/Contents/customjs/validations.js"></script>


<style>
    .custom-input-error {
        border: 1px solid #a94442 !important;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;
        background-color: #FBE8E8 !important;
    }

    .custom-input-success {
        border: 1px solid #3c763d !important;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;
        background-color: #D6F3D6 !important;
    }

    .add_field_button {
        background-color: #089cd3;
        border: none;
        margin-bottom: 15px;
        color: #fff;
        font-weight: 400;
        padding: 5px 11px;
    }

    .add_field_button1 {
        background-color: #089cd3;
        border: none;
        margin-bottom: 15px;
        color: #fff;
        font-weight: 400;
        padding: 5px 11px;
    }
</style>

<div class="content-wrapper" style="min-height: 960px;">
    <section class="content-header">
        <h1>
            Detail
        </h1>
        <ol class="breadcrumb">
            <li><a href="/Student/Profile/StudentProfile"><i class="fa fa-dashboard"></i> Home</a></li>

        </ol>
    </section>
    <!-- Content Header (Page header) -->
    <!-- Main content -->
    <section class="content">
        <!-- Info boxes -->

        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Details</h3>

                    </div><!-- /.box-header -->
                    <div class="box-body">

                        <div class="form-group">
                            <label for="exampleInputEmail1">Service</label>
                            @Html.DisplayFor(model => Model.ServiceType, new { @class = "form-control" })
                            @*  @Html.DropDownListFor(m => m.UID, (IEnumerable<SelectListItem>)ViewBag.University, "Select", new { @class = "form-control", style = "width:85%" })*@
                        </div>

                        <div class="form-group">
                            <label for="exampleInputEmail1">Subject</label>
                            @Html.DisplayFor(model => Model.Subject, new { @class = "form-control" })
                            @*  @Html.DropDownListFor(m => m.UID, (IEnumerable<SelectListItem>)ViewBag.University, "Select", new { @class = "form-control", style = "width:85%" })*@
                        </div>

                        <div class="form-group">
                            <label for="exampleInputEmail1">Question</label>
                            @Html.DisplayFor(model => Model.Question, new { @class = "form-control" })
                            @*  @Html.DropDownListFor(m => m.UID, (IEnumerable<SelectListItem>)ViewBag.University, "Select", new { @class = "form-control", style = "width:85%" })*@
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Price</label>
                            @if (Model.Price == null)
                            {
                                Model.Price = 0.00m;
                            }
                            @Html.DisplayFor(model => Model.Price, new { @class = "form-control" })
                            @*  @Html.DropDownListFor(m => m.UID, (IEnumerable<SelectListItem>)ViewBag.University, "Select", new { @class = "form-control", style = "width:85%" })*@
                        </div>

                    </div><!-- ./box-body -->
                    <!-- /.box-footer -->
                </div><!-- /.box -->
            </div><!-- /.col -->
        </div>

    </section><!-- /.content -->
</div>

<script src="~/Areas/NewAdmin/NewContent/plugins/jQuery/jQuery-2.1.4.min.js"></script>
<script src="~/Areas/NewAdmin/NewContent/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/5.0.4/tinymce.min.js"></script>

