﻿<main class="pdf-report">
    <section class="pdf-wrapper">
        <div class="container-fluid px-0">
            <div class="row no-gutters">
                <div class="col-md-8">
                    <div class="frame-wrapper">
                        <iframe id="iframepdf" src="~/assets/pdf/sample.pdf" frameborder="0"></iframe>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="overview-wrapper">
                        <div class="source-overview">
                            <div class="title-bar d-flex justify-content-between align-items-center py-2 px-3 border-bottom">
                                <a href="#" class=""><i class="fas fa-question"></i></a>
                                <span>Source Overview</span>
                                <a href="#" class=""><i class="fas fa-cog"></i></a>
                            </div>

                            <div class="header-bar d-flex justify-content-center text-center px-3 py-2">
                                <div class="content">
                                    <h2 class="mb-1">43%</h2>
                                    <p class="mb-0">SIMILARITY INDEX</p>
                                </div>
                            </div>
                            <div class="header-bar d-flex justify-content-between text-center px-3 py-2">

                                <div class="content">
                                    <h3 class="mb-1">26%</h3>
                                    <p class="mb-0">INTERNET SOURCES</p>
                                </div>
                                <div class="content">
                                    <h3 class="mb-1">10%</h3>
                                    <p class="mb-0">PUBLICATIONS</p>
                                </div>
                                <div class="content">
                                    <h3 class="mb-1">41%</h3>
                                    <p class="mb-0">STUDENT PAPERS</p>
                                </div>
                            </div>
                            <div class="body-bar">
                                <div class="similarity-wrapper">
                                    <div class="card">
                                        <div class="card-header p-3">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="number-wrap flex-shrink-0"><span>1</span></div>
                                                <div class="">
                                                    <h6 class="mb-0">Submitted to Kaplan Professional</h6>
                                                    <p class="mb-0 font12 text-left fw-600">Student Paper</p>
                                                </div>
                                                <div class="">
                                                    <h4 class="mb-0">16%</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header p-3">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="number-wrap flex-shrink-0"><span>2</span></div>
                                                <div class="">
                                                    <h6 class="mb-0">Submitted to Central Queensland University</h6>
                                                    <p class="mb-0 font12 text-left fw-600">Student Paper</p>
                                                </div>
                                                <div class="">
                                                    <h4 class="mb-0">2%</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header p-3">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="number-wrap flex-shrink-0"><span>3</span></div>
                                                <div class="">
                                                    <h6 class="mb-0">Submitted to University of South Australia</h6>
                                                    <p class="mb-0 font12 text-left fw-600">Student Paper</p>
                                                </div>
                                                <div class="">
                                                    <h4 class="mb-0">2%</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header p-3">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="number-wrap flex-shrink-0"><span>4</span></div>
                                                <div class="">
                                                    <h6 class="mb-0">Submitted to University of Edinburgh</h6>
                                                    <p class="mb-0 font12 text-left fw-600">Student Paper</p>
                                                </div>
                                                <div class="">
                                                    <h4 class="mb-0">1%</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header p-3">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="number-wrap flex-shrink-0"><span>5</span></div>
                                                <div class="">
                                                    <h6 class="mb-0">
                                                        Sasima Charoenkit, S. Kumar. "Environmental
                                                        sustainability assessment tools for low carbon
                                                        and climate resilient low income housing
                                                        settlements"
                                                        , Renewable and Sustainable
                                                        Energy Reviews, 2014
                                                    </h6>
                                                    <p class="mb-0 font12 text-left fw-600">Publication</p>
                                                </div>
                                                <div class="">
                                                    <h4 class="mb-0">1%</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header p-3">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="number-wrap flex-shrink-0"><span>6</span></div>
                                                <div class="">
                                                    <h6 class="mb-0">eprints.lancs.ac.uk</h6>
                                                    <p class="mb-0 font12 text-left fw-600">Internet Source</p>
                                                </div>
                                                <div class="">
                                                    <h4 class="mb-0">1%</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card">
                                        <div class="card-header p-3">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="number-wrap flex-shrink-0"><span>7</span></div>
                                                <div class="">
                                                    <h6 class="mb-0">standards.sinzer.org</h6>
                                                    <p class="mb-0 font12 text-left fw-600">Internet Source</p>
                                                </div>
                                                <div class="">
                                                    <h4 class="mb-0">1%</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header p-3">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="number-wrap flex-shrink-0"><span>8</span></div>
                                                <div class="">
                                                    <h6 class="mb-0">Submitted to University of Adelaide</h6>
                                                    <p class="mb-0 font12 text-left fw-600">Student Paper</p>
                                                </div>
                                                <div class="">
                                                    <h4 class="mb-0">1%</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header p-3">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="number-wrap flex-shrink-0"><span>9</span></div>
                                                <div class="">
                                                    <h6 class="mb-0">
                                                        Submitted to Australian National University
                                                    </h6>
                                                    <p class="mb-0 font12 text-left fw-600">Student Paper</p>
                                                </div>
                                                <div class="">
                                                    <h4 class="mb-0">1%</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header p-3">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="number-wrap flex-shrink-0"><span>10</span></div>
                                                <div class="">
                                                    <h6 class="mb-0">www.ekvilib.org</h6>
                                                    <p class="mb-0 font12 text-left fw-600">Internet Source</p>
                                                </div>
                                                <div class="">
                                                    <h4 class="mb-0">1%</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header p-3">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="number-wrap flex-shrink-0"><span>11</span></div>
                                                <div class="">
                                                    <h6 class="mb-0">www.emeraldinsight.com</h6>
                                                    <p class="mb-0 font12 text-left fw-600">Internet Source</p>
                                                </div>
                                                <div class="">
                                                    <h4 class="mb-0">1%</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header p-3">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="number-wrap flex-shrink-0"><span>12</span></div>
                                                <div class="">
                                                    <h6 class="mb-0">Submitted to Southern Business School</h6>
                                                    <p class="mb-0 font12 text-left fw-600">Student Paper</p>
                                                </div>
                                                <div class="">
                                                    <h4 class="mb-0">1%</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card">
                                        <div class="card-header p-3">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="number-wrap flex-shrink-0"><span>13</span></div>
                                                <div class="">
                                                    <h6 class="mb-0">
                                                        Submitted to University of Technology, Sydney
                                                    </h6>
                                                    <p class="mb-0 font12 text-left fw-600">Student Paper</p>
                                                </div>
                                                <div class="">
                                                    <h4 class="mb-0">1%</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header p-3">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="number-wrap flex-shrink-0"><span>14</span></div>
                                                <div class="">
                                                    <h6 class="mb-0">Submitted to National American University</h6>
                                                    <p class="mb-0 font12 text-left fw-600">Student Paper</p>
                                                </div>
                                                <div class="">
                                                    <h4 class="mb-0">1%</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header p-3">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="number-wrap flex-shrink-0"><span>15</span></div>
                                                <div class="">
                                                    <h6 class="mb-0">www.globalreporting.org</h6>
                                                    <p class="mb-0 font12 text-left fw-600">Internet Source</p>
                                                </div>
                                                <div class="">
                                                    <h4 class="mb-0">2%</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header p-3">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="number-wrap flex-shrink-0"><span>18</span></div>
                                                <div class="">
                                                    <h6 class="mb-0">
                                                        Submitted to London School of Economics and
                                                        Political Science
                                                    </h6>
                                                    <p class="mb-0 font12 text-left fw-600">Student Paper</p>
                                                </div>
                                                <div class="">
                                                    <h4 class="mb-0">1%</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header p-3">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="number-wrap flex-shrink-0"><span>17</span></div>
                                                <div class="">
                                                    <h6 class="mb-0">www.globeunion.com</h6>
                                                    <p class="mb-0 font12 text-left fw-600">Internet Source</p>
                                                </div>
                                                <div class="">
                                                    <h4 class="mb-0">1%</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header p-3">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="number-wrap flex-shrink-0"><span>18</span></div>
                                                <div class="">
                                                    <h6 class="mb-0">sustainability.sherritt.com</h6>
                                                    <p class="mb-0 font12 text-left fw-600">Internet Source</p>
                                                </div>
                                                <div class="">
                                                    <h4 class="mb-0">1%</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header p-3">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="number-wrap flex-shrink-0"><span>19</span></div>
                                                <div class="">
                                                    <h6 class="mb-0">Submitted to City University of Hong Kong</h6>
                                                    <p class="mb-0 font12 text-left fw-600">Student Paper</p>
                                                </div>
                                                <div class="">
                                                    <h4 class="mb-0">1%</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header p-3">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="number-wrap flex-shrink-0"><span>20</span></div>
                                                <div class="">
                                                    <h6 class="mb-0">eprints.whiterose.ac.uk</h6>
                                                    <p class="mb-0 font12 text-left fw-600">Internet Source</p>
                                                </div>
                                                <div class="">
                                                    <h4 class="mb-0">1%</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header p-3">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="number-wrap flex-shrink-0"><span>21</span></div>
                                                <div class="">
                                                    <h6 class="mb-0">www.univaasa.fi</h6>
                                                    <p class="mb-0 font12 text-left fw-600">Internet Source</p>
                                                </div>
                                                <div class="">
                                                    <h4 class="mb-0">1%</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header p-3">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="number-wrap flex-shrink-0"><span>22</span></div>
                                                <div class="">
                                                    <h6 class="mb-0">
                                                        Submitted to Laureate Higher Education Group
                                                    </h6>
                                                    <p class="mb-0 font12 text-left fw-600">Student Paper</p>
                                                </div>
                                                <div class="">
                                                    <h4 class="mb-0">1%</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header p-3">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="number-wrap flex-shrink-0"><span>23</span></div>
                                                <div class="">
                                                    <h6 class="mb-0">Submitted to Oyster Bay High School</h6>
                                                    <p class="mb-0 font12 text-left fw-600">Student Paper</p>
                                                </div>
                                                <div class="">
                                                    <h4 class="mb-0">1%</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header p-3">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="number-wrap flex-shrink-0"><span>24</span></div>
                                                <div class="">
                                                    <h6 class="mb-0">
                                                        Submitted to Southern New Hampshire
                                                        University - Continuing Education
                                                    </h6>
                                                    <p class="mb-0 font12 text-left fw-600">Student Paper</p>
                                                </div>
                                                <div class="">
                                                    <h4 class="mb-0">1%</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card">
                                        <div class="card-header p-3">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="number-wrap flex-shrink-0"><span>25</span></div>
                                                <div class="">
                                                    <h6 class="mb-0">
                                                        Marta Elisa Bubicz, Ana Paula Ferreira Dias
                                                        Barbosa-Póvoa, Ana Carvalho. "Incorporating
                                                        social aspects in sustainable supply chains:
                                                        Trends and future directions"
                                                        , Journal of
                                                        Cleaner Production, 2019
                                                    </h6>
                                                    <p class="mb-0 font12 text-left fw-600">Publication</p>
                                                </div>
                                                <div class="">
                                                    <h4 class="mb-0">1%</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header p-3">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="number-wrap flex-shrink-0"><span>26</span></div>
                                                <div class="">
                                                    <h6 class="mb-0">liusson.com</h6>
                                                    <p class="mb-0 font12 text-left fw-600">Internet Source</p>
                                                </div>
                                                <div class="">
                                                    <h4 class="mb-0">1%</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header p-3">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="number-wrap flex-shrink-0"><span>27</span></div>
                                                <div class="">
                                                    <h6 class="mb-0">www.trans-lex.org</h6>
                                                    <p class="mb-0 font12 text-left fw-600">Internet Source</p>
                                                </div>
                                                <div class="">
                                                    <h4 class="mb-0">&lt;1%</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header p-3">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="number-wrap flex-shrink-0"><span>28</span></div>
                                                <div class="">
                                                    <h6 class="mb-0">Submitted to University of Liverpool</h6>
                                                    <p class="mb-0 font12 text-left fw-600">Student Paper</p>
                                                </div>
                                                <div class="">
                                                    <h4 class="mb-0">&lt;1%</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header p-3">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="number-wrap flex-shrink-0"><span>29</span></div>
                                                <div class="">
                                                    <h6 class="mb-0">Submitted to Waikato University</h6>
                                                    <p class="mb-0 font12 text-left fw-600">Student Paper</p>
                                                </div>
                                                <div class="">
                                                    <h4 class="mb-0">&lt;1%</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header p-3">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="number-wrap flex-shrink-0"><span>30</span></div>
                                                <div class="">
                                                    <h6 class="mb-0">pt.scribd.com</h6>
                                                    <p class="mb-0 font12 text-left fw-600">Internet Source</p>
                                                </div>
                                                <div class="">
                                                    <h4 class="mb-0">&lt;1%</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card">
                                        <div class="card-header p-3">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="number-wrap flex-shrink-0"><span>31</span></div>
                                                <div class="">
                                                    <h6 class="mb-0">Submitted to University of Gloucestershire</h6>
                                                    <p class="mb-0 font12 text-left fw-600">Student Paper</p>
                                                </div>
                                                <div class="">
                                                    <h4 class="mb-0">&lt;1%</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header p-3">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="number-wrap flex-shrink-0"><span>32</span></div>
                                                <div class="">
                                                    <h6 class="mb-0">Submitted to Napier University</h6>
                                                    <p class="mb-0 font12 text-left fw-600">Student Paper</p>
                                                </div>
                                                <div class="">
                                                    <h4 class="mb-0">&lt;1%</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card">
                                        <div class="card-header p-3">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="number-wrap flex-shrink-0"><span>33</span></div>
                                                <div class="">
                                                    <h6 class="mb-0">Submitted to Abacus Institute of Studies</h6>
                                                    <p class="mb-0 font12 text-left fw-600">Student Paper</p>
                                                </div>
                                                <div class="">
                                                    <h4 class="mb-0">&lt;1%</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header p-3">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="number-wrap flex-shrink-0"><span>34</span></div>
                                                <div class="">
                                                    <h6 class="mb-0">issuu.com</h6>
                                                    <p class="mb-0 font12 text-left fw-600">Internet Source</p>
                                                </div>
                                                <div class="">
                                                    <h4 class="mb-0">&lt;1%</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header p-3">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="number-wrap flex-shrink-0"><span>35</span></div>
                                                <div class="">
                                                    <h6 class="mb-0">hdl.handle.net</h6>
                                                    <p class="mb-0 font12 text-left fw-600">Internet Source</p>
                                                </div>
                                                <div class="">
                                                    <h4 class="mb-0">&lt;1%</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header p-3">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="number-wrap flex-shrink-0"><span>36</span></div>
                                                <div class="">
                                                    <h6 class="mb-0">Submitted to University of Sussex</h6>
                                                    <p class="mb-0 font12 text-left fw-600">Student Paper</p>
                                                </div>
                                                <div class="">
                                                    <h4 class="mb-0">&lt;1%</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header p-3">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="number-wrap flex-shrink-0"><span>37</span></div>
                                                <div class="">
                                                    <h6 class="mb-0">Submitted to North West University</h6>
                                                    <p class="mb-0 font12 text-left fw-600">Student Paper</p>
                                                </div>
                                                <div class="">
                                                    <h4 class="mb-0">&lt;1%</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="footer-bar">
                                <div class="">
                                    <button class="btn">
                                        <i class="fas fa-angle-double-right align-middle"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>