/* ----------------------------------------------- */
/* ----------------------------------------------- */
/* Global Styles Start */


.text-blue {
    color: #1f4d98;
}

.text-white {
    color: #fff !important;
}

.bg-button {
    background-color: #ff5722;
}

.bg-light {
    background-color: #f4fbff;
}

.bg-light2 {
    background-color: #c3e1ff;
}

.bg-blue {
    background-color: #2e92c5;
}

.bg-green {
    background-color: #ff5722;
}

.mt-0 {
    margin-top: 0rem !important;
}

.mt-2 {
    margin-top: 1rem;
}

.mt-3 {
    margin-top: 1.5rem;
}

.mt-4 {
    margin-top: 2rem;
}

.mt-5 {
    margin-top: 3rem !important;
}

@media (min-width: 768px) {
    .mt-md-0 {
        margin-top: 0rem !important;
    }
}

@media (min-width: 992px) {
    .mt-lg-0 {
        margin-top: 0rem !important;
    }
}


.mb-0 {
    margin-bottom: 0rem !important;
}

.mb-2 {
    margin-bottom: 0.5rem !important;
}

.mb-3 {
    margin-bottom: 1rem !important;
}

.mb-4 {
    margin-bottom: 2rem !important;
}


.mb-5 {
    margin-bottom: 3rem !important;
}

.my-4 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.my-0 {
    margin-top: 0;
    margin-bottom: 0;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}



.mr-0 {
    margin-right: 0;
}

.mr-2 {
    margin-right: 0.5rem;
}

.mr-3 {
    margin-right: 1rem;
}

.mr-4 {
    margin-right: 2rem;
}

.mr-5 {
    margin-right: 3rem;
}

@media(min-width: 768px) {
    .mr-md-2 {
        margin-right: 0.5rem;
    }

    .mr-md-3 {
        margin-right: 1rem;
    }

    .mr-md-4 {
        margin-right: 2rem;
    }

    .mr-md-5 {
        margin-right: 3rem;
    }

    .mx-md-auto {
        margin-left: auto;
        margin-right: auto;
    }
}

.mr-2 {
    margin-right: 0.5rem;
}


.pl-4 {
    padding-left: 1.5rem !important;
}

.pt-5 {
    padding-top: 3rem !important;
}

.pb-4 {
    padding-bottom: 1.5rem !important;
}

.pb-5 {
    padding-bottom: 3rem !important;
}

.px-1 {
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
}

.px-2 {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

.px-3 {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
}

.px-4 {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
}

.px-5 {
    padding-left: 3rem !important;
    padding-right: 3rem !important;
}

.py-0 {
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
}

.py-1 {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
}

.py-2 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}

.py-3 {
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
}

.py-4 {
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
}

.py-5 {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
}

.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

@media(min-width: 768px) {
    .flex-md-row {
        flex-direction: row;
    }
}

@media(min-width: 992px) {
    .flex-lg-column {
        flex-direction: column;
    }

    .flex-lg-row {
        flex-direction: row;
    }
}


.align-items-center {
    align-items: center;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-center {
    justify-content: center;
}

.flex-shrink-0 {
    flex-shrink: 0;
}

.flex-shrink-1 {
    flex-shrink: 1;
}

.flex-shrink-2 {
    flex-shrink: 2;
}

.align-middle {
    vertical-align: middle;
}

.plagiarism-checker h2 {
    font-size: 28px;
    color: #1f4d98;
}

.min-vh-100 {
    min-height: 100vh !important;
}

@media(min-width: 768px) {
    .plagiarism-checker h2 {
        font-size: 36px;
        color: #1f4d98;
    }
}

.shadow {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.hr-sm {
    width: 200px;
    height: 3px;
    background-color: #ff5722;
    margin-left: 0;
    margin-top: 0;
}

.button-wrap .btn-green {
    background-color: #ff5722;
    color: #fff;
    font-size: 20px;
}

    .button-wrap .btn-green:hover {
        background-color: #659c14;
    }

.button-wrap .btn-blue {
    background-color: #2e92c5;
    color: #fff;
    font-size: 20px;
}

    .button-wrap .btn-blue:hover {
        background-color: #21749e;
    }

.btn-orange {
    background-color: #ff5722;
    color: #fff;
    border-radius: 4px;
    font-size: 20px;
}

    .btn-orange:hover {
        color: #fff;
        background-color: #cc4419;
    }

    .btn-orange:focus {
        outline: none;
        color: #fff;
    }

.pagination .page-item .page-link:hover {
    background-color: #f4fbff;
}

.pagination .page-item.active .page-link {
    background-color: #ff5722;
    color: #fff;
    border-color: #ff5722;
}

.pagination .page-item .page-link {
    color: #ff5722;
}

    .pagination .page-item .page-link:focus {
        box-shadow: 0 0 0 0.2rem#ec532840;
    }

.pagination .page-item.disabled .page-link {
    color: #6c757d;
}

/* Grid Layout */
.grid-section {
    padding: 100px 0;
}

    .grid-section .col-md-6.col-lg-4:nth-child(3n + 1) {
        clear: both;
    }


@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Global Styles End */
/* ----------------------------------------------- */
/* ----------------------------------------------- */


/* ----------------------------------------------- */
/* ----------------------------------------------- */
/* Blog Page Styes Start */
.blog-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./../images/Plagiarism/blog1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    height: 300px;
}

    .blog-banner h1 {
        font-size: 50px;
        color: #fff;
        text-shadow: 3px 3px 6px #1f4d98;
    }

.blog-page .blog-list {
    padding: 100px 0;
}

.blog-page .blog-card {
    border-radius: 8px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    transition: all 0.4s linear;
}

    .blog-page .blog-card:hover {
        transform: scale(1.02);
    }

.blog-card .img-wrap {
    height: 200px;
}

    .blog-card .img-wrap img {
        border-radius: 8px 8px 0 0;
    }

.blog-card .blog-card-body {
    padding: 20px;
    background-color: #f4fbff;
    border-radius: 0 0 8px 8px;
}

    .blog-card .blog-card-body .read-more-link {
        color: #ff5722;
    }

        .blog-card .blog-card-body .read-more-link:hover {
            color: #ff5722;
            text-decoration: underline;
        }

    .blog-card .blog-card-body h3 a {
        color: #204c97;
        transition: all 0.4s ease-in;
    }

        .blog-card .blog-card-body h3 a:hover {
            color: #0d316d;
            text-decoration: underline;
        }

    .blog-card .blog-card-body h3,
    .blog-card .blog-card-body p {
        color: #333;
        margin-top: 0;
    }

.blog-card .tag-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto;
}

.blog-page .blog-card .tag-list .blog-tag {
    font-size: 12px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    padding: 8px;
    border-radius: 4px;
    transition: all 0.4s ease-in;
}

    .blog-page .blog-card .tag-list .blog-tag:hover {
        background-color: #ff5722;
        color: #fff;
    }

        .blog-page .blog-card .tag-list .blog-tag:hover i {
            color: #fff;
        }

    .blog-page .blog-card .tag-list .blog-tag i {
        color: #ff5722;
        margin-right: 2px;
        transition: all 0.4s ease-in;
    }

.blog-right {
    border-radius: 8px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

    .blog-right .happy-students {
        background: #1f4d98;
        padding: 20px;
        color: #fff;
        border-radius: 8px 8px 0 0;
    }

        .blog-right .happy-students .fa-users {
            color: #fff;
        }

        .blog-right .happy-students h4 {
            color: #f4fbff;
            font-weight: 600;
        }

    .blog-right .recent-blog,
    .blog-right .get-quote,
    .blog-right .attachments {
        background-color: #f4fbff;
    }

        .blog-right .recent-blog .recent-title {
            background-color: #fff;
            color: #000;
            margin-bottom: 20px;
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
        }

            .blog-right .recent-blog .recent-title h3 {
                padding: 12px 4px;
                font-size: 28px;
                text-align: center;
                color: #000;
            }

        .blog-right .get-quote .quote-title h3 {
            padding: 12px 4px;
            font-size: 28px;
            text-align: center;
            color: #fff;
        }

        .blog-right .get-quote .quote-title {
            background-color: #ff5722;
            color: #fff;
            padding-right: 10px;
            margin-bottom: 60px;
        }

        .blog-right .recent-blog .recent-body {
            margin: 60px 0px 40px;
        }

        .blog-right .recent-blog .blog-item {
            display: block;
            margin-bottom: 30px;
            padding: 12px;
            background-color: #fff;
            border-left: 5px solid #ff5722;
            border-right: 5px solid #ff5722;
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
            transition: all 0.4s linear;
        }

            .blog-right .recent-blog .blog-item:hover {
                transform: scale(1.02);
            }

            .blog-right .recent-blog .blog-item:last-child {
                margin-bottom: 0px;
            }

            .blog-right .recent-blog .blog-item h5 {
                margin-top: 0;
                margin-bottom: 0;
                font-size: 17px;
            }


            .blog-right .recent-blog .blog-item .img-wrap {
                width: 150px;
                margin-right: 20px;
            }


            .blog-right .recent-blog .blog-item .blog-link:hover {
                color: #ff5722;
            }

    .blog-right .quote-form .quote-body .form-control {
        border-color: #ff5722;
    }

    .blog-right .quote-form .attachments .btn-orange {
        padding: 15px 20px;
        width: 100%;
    }

.blog-page .pagination.justify-content-center {
    display: flex;
    justify-content: center;
}

.blog-details .blog-content {
    padding: 100px 0;
}

    .blog-details .blog-content .details-content {
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
        background-color: #f4fbff;
        padding: 30px;
        border-radius: 8px;
    }

        .blog-details .blog-content .details-content h2 {
            font-size: 34px;
        }

        .blog-details .blog-content .details-content p {
            font-size: 16px;
        }

/* Blog Page Styes End */
/* ----------------------------------------------- */
/* ----------------------------------------------- */


/* ----------------------------------------------- */
/* ----------------------------------------------- */
/* Plagrisim Checker Page Style Start */

/* Banner Styles Start */
.report-banner {
    background: linear-gradient(165deg, rgba(46, 146, 197, 1) 0%, rgba(31, 77, 152, 1) 36%, rgba(46, 146, 197, 1) 100%);
    padding-top: 70px;
    margin-top: 100px;
}

@media(min-width: 1200px) {
    .report-banner {
        min-height: calc(70vh - 80px);
    }
}

.report-banner .carousel .carousel-control i {
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    color: #ec5328;
}

.report-banner .carousel .carousel-indicators {
    transition: all 0.3s ease-in;
}

    .report-banner .carousel .carousel-indicators .active {
        background-color: #ff5722;
        width: 16px;
        height: 16px;
    }

    .report-banner .carousel .carousel-indicators li {
        border-color: #ff5722;
    }

.report-banner .carousel .carousel-caption {
    font-size: 18px;
    color: #1f4d98;
    /* text-shadow: 0 1px 2px rgba(30, 77, 152, 0.6); */
    text-shadow: none;
}

.report-banner .banner-content h1 {
    font-size: 32px;
}

.report-banner .banner-list {
    font-size: 16px;
    list-style: none;
    margin-left: 8px;
}

    .report-banner .banner-list .fa-check {
        color: #ff5722;
        font-size: 16px;
    }

@media(min-width: 768px) {
    .report-banner .banner-content h1 {
        font-size: 44px;
    }

    .report-banner .banner-list {
        font-size: 20px;
    }
}

.report-banner .button-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

    .report-banner .button-wrap .btn-green,
    .report-banner .button-wrap .btn-orange {
        width: 100%;
        margin-bottom: 20px;
    }

@media(min-width: 768px) {

    .report-banner .button-wrap .btn-green,
    .report-banner .button-wrap .btn-orange {
        width: 48%;
    }
}

@media(min-width: 576px) {
    .report-banner .button-wrap {
        flex-direction: row;
    }

        .report-banner .button-wrap .btn-green {
            margin-right: 20px;
        }

        .report-banner .button-wrap .btn {
            margin-bottom: 0;
        }
}

/* Banner Styles End */
/* ----------------------------------------------- */
/* ----------------------------------------------- */

/* ----------------------------------------------- */
/* ----------------------------------------------- */
/* Features Plagiarism Style Start */
.features-plagiarism .row,
.plagiarism-works .row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.features-card {
    padding: 30px 15px;
    border-radius: 8px;
    transition: all 0.3s ease-in;
    min-height: 306px;
    background-color: #f4fbff;
}

    .features-card:hover {
        background-color: #1f4d98 !important;
        color: #fff;
    }

    .features-card i,
    .features-card h3 {
        transition: all 0.3s ease-in;
    }

    .features-card:hover i,
    .features-card:hover h3 {
        color: #fff;
    }


/* Features Plagiarism Style End */
/* ----------------------------------------------- */
/* ----------------------------------------------- */

/* ----------------------------------------------- */
/* ----------------------------------------------- */
/* Detect All Style Start */
.detect-all {
    background-image: url('./../images/compressed/pen-paper.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    padding: 150px 15px;
}

    .detect-all::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #00000099;
        z-index: -1;
    }

    .detect-all .container {
        padding-top: 40px;
        padding-bottom: 50px;
    }

.detect-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
    font-size: 16px;
}

/* Detect All Style End */
/* ----------------------------------------------- */
/* ----------------------------------------------- */

/* ----------------------------------------------- */
/* ----------------------------------------------- */
/* Proud Features Style Start */
.proud-features {
    padding: 40px 0;
    background-color: #f4fbff;
    /* background: linear-gradient(165deg, rgba(46, 146, 197, 1) 0%, rgba(31, 77, 152, 1) 36%, rgba(46, 146, 197, 1) 100%); */
}

    .proud-features .col-md-6.d-lg-block {
        display: none;
    }

    /* .proud-features .proud-bg-img {
  background-image: url('./../images/Plagiarism/plagiarism-type.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
} */

    .proud-features .proud-bg-img h2 {
        font-size: 2rem;
    }

    /* 
@media(min-width: 992px) {
  .proud-features .mob-heading {
    display: none;
  }

  .proud-features .col-md-6.d-lg-block {
    display: block;
  }

  .proud-features .proud-bg-img {
    height: 600px;
  }
} */

    .proud-features .proud-bg-img::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #00000099;
        z-index: -1;
    }

    .proud-features .proud-item {
        background-color: #fff;
        padding: 20px 10px;
        border-radius: 4px;
        /* border-left: 5px solid #ff5722;
  border-right: 5px solid #ff5722; */
        transition: all 0.3s ease-in;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.35) !important;
        margin-bottom: 10px;
        min-height: 220px;
        text-align: center;
        width: 100%;
        transition: all 0.2s ease-out;
        /* display: flex;
  align-items: center; */
    }

        /* 
.proud-features .proud-item:hover {
} */

        .proud-features .proud-item div:first-child {
            width: 100px;
            margin: auto;
        }

@media(min-width: 992px) {
    /* .proud-features .proud-item {
  } */

    .proud-features .proud-item:nth-child(even) {
        margin-left: auto;
    }
}

.proud-features i {
    color: #1f4d98;
    transition: all 0.3s ease-in;
}

.proud-features .proud-item:hover {
    border-color: #ff5722;
    transform: scale(1.05) !important;
}

    .proud-features .proud-item:hover i {
        color: #ff5722;
    }

/* Proud Features Style End */
/* ----------------------------------------------- */
/* ----------------------------------------------- */




/* Reviews Style Start */
/* ----------------------------------------------- */
/* ----------------------------------------------- */
.testimon-section {
    padding: 3rem 0rem;
    position: relative;
}

    .testimon-section .title-wrap {
        font-size: 18px;
    }

    .testimon-section .bd-example .carousel-inner .item .img-wrap img {
        border: 6px solid #fff;
        border-radius: 50%;
        -webkit-box-shadow: 0 0.5rem 1rem 0.2rem rgba(0, 0, 0, 0.15);
        box-shadow: 0 0.5rem 1rem 0.2rem rgba(0, 0, 0, 0.15);
    }

@media (max-width: 991px) {
    .testimon-section .bd-example .carousel-inner .item .img-wrap {
        width: 200px;
        margin: auto;
    }
}

.testimon-section .bd-example .carousel-inner .item .carousel-caption {
    position: static;
    background-image: url("./../images/compressed/world-map.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 350px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

@media (min-width: 992px) {
    .testimon-section .bd-example .carousel-inner .item .carousel-caption .caption-wrap {
        width: 75%;
        padding-left: 50px;
    }
}

.testimon-section .bd-example .carousel-inner .item .carousel-caption .caption-wrap p {
    font-weight: 400;
    color: rgb(10, 10, 10);
    font-size: 18px;
}

.testimon-section .bd-example .carousel-inner .item .carousel-caption .caption-wrap h6 {
    color: rgb(10, 10, 10);
    font-size: 24px;
    margin-top: 10px;
}

.testimon-section .bd-example .carousel-indicators {
    position: static;
    background-color: #e6edf7;
    margin: auto;
    padding: 15px;
    width: 100%;
}

@media (min-width: 768px) {
    .testimon-section .bd-example .carousel-indicators {
        width: 60%;
    }
}


@media (min-width: 992px) {
    .testimon-section .bd-example .carousel-indicators {
        width: 100px;
    }
}

.testimon-section .bd-example .carousel-indicators li {
    width: 60px;
    height: auto;
    margin: auto;
    border-radius: 50%;
    text-indent: 0;
    background-color: transparent;
    border: 4px solid transparent;
    margin-top: 10px;
    margin-bottom: 10px;
}

.testimon-section .bd-example .carousel-indicators .active {
    border: 4px solid #fff;
    -webkit-box-shadow: 0 0.5rem 1rem 0.5rem rgba(0, 0, 0, 0.15);
    box-shadow: 0 0.5rem 1rem 0.5rem rgba(0, 0, 0, 0.15);
}

.testimon-section .career h2 {
    text-transform: capitalize;
    font-size: 70px;
    font-weight: 500;
}

.testimon-section .career p {
    font-size: 40px;
    font-weight: 300;
    margin-top: 10px;
    line-height: 40px;
}

.testimon-section .career-image-container {
    background-image: url("../../assets/images/career-pic.jpg");
    background-size: cover;
    min-height: 50vh;
    background-position: center center;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 1;
}

    .testimon-section .career-image-container::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ffffff8f;
        z-index: -1;
    }

    .testimon-section .career-image-container .life-revinfotech {
        font-size: 20px;
        background: #ffffffbf;
        padding: 6px 18px;
        color: #083d77;
    }

    .testimon-section .career-image-container .slider-wrap {
        width: 500px;
        position: absolute;
        right: 30px;
        bottom: 0px;
    }

        .testimon-section .career-image-container .slider-wrap .career-items {
            background-color: #fff;
            padding: 24px;
            -webkit-box-shadow: 0px 0px 9px -2px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 0px 9px -2px rgba(0, 0, 0, 0.2);
        }

            .testimon-section .career-image-container .slider-wrap .career-items .slick-dots {
                left: 0;
                bottom: -50px;
            }

                .testimon-section .career-image-container .slider-wrap .career-items .slick-dots li button:before {
                    font-size: 10px;
                }

            .testimon-section .career-image-container .slider-wrap .career-items .career-content .media-body h5 {
                font-size: 16px;
                font-weight: 600;
                line-height: 1.15;
            }

            .testimon-section .career-image-container .slider-wrap .career-items .career-content .media-body p {
                font-size: 12px;
                line-height: 1.6;
                margin-bottom: 0;
            }


@media (max-width: 767px) {
    .testimonial-section .career-image-container .slider-wrap {
        width: 272px;
        position: absolute;
        right: 10px;
        bottom: -26px;
    }
}

/* Reviews Style End */
/* ----------------------------------------------- */
/* ----------------------------------------------- */

/* Detail Report Style Start */
/* ----------------------------------------------- */
/* ----------------------------------------------- */
.detail-report .nav-tabs {
    display: flex;
    justify-content: space-between;
    margin: auto;
    /* white-space: nowrap; */
    flex-direction: column;
}

    .detail-report .nav-tabs li {
        margin-bottom: 10px;
        /* margin: auto; */
        /* margin-left: auto; */
        /* margin-right: auto; */
    }

@media(min-width: 576px) {
    .detail-report .nav-tabs {
        flex-direction: row;
        white-space: nowrap;
        flex-wrap: wrap;
        /* justify-content: center; */
    }
}

/* .detail-report .nav-tabs li{
  border: 1px solid #ff5722;
} */
.detail-report .nav-tabs > li.active > a {
    background-color: #2e92c5;
    border-color: #2e92c5;
}

.detail-report .nav-tabs a {
    transition: all 0.5s ease;
    border-width: 1px;
}

    .detail-report .nav-tabs a:hover {
        background-color: #2e92c5;
        border: 1px solid #2e92c5;
        color: #fff;
    }

.detail-report .tab-content {
    padding: 15px;
    font-size: 18px;
    background-color: transparent;
    color: #000;
    border: none;
}

.detail-report .nav-tabs > li > a {
    font-size: 20px !important;
    border: 1px solid #2e92c5;
}

.detail-report .list-style {
    list-style-type: none;
    padding-left: 0px;
}

/* Detail Report Style End */
/* ----------------------------------------------- */
/* ----------------------------------------------- */


/* ----------------------------------------------- */
/* ----------------------------------------------- */
/* Plagiarism Checker Works Styles Start */

.plagiarism-works {
    background-color: #f4fbff;
}

    .plagiarism-works .features-card {
        background-color: #fff;
        max-width: 100%;
        margin: auto;
        transition: all 0.8s ease;
    }

@media(min-width: 576px) {

    .plagiarism-works .features-card,
    .proud-features .proud-item {
        width: 350px;
        max-width: 100%;
        margin: auto;
    }
}

/* Plagiarism Checker Works Styles End */
/* ----------------------------------------------- */
/* ----------------------------------------------- */

/* Fix Plagiarism Styles Start */
/* ----------------------------------------------- */
/* ----------------------------------------------- */

.fix-plagiarism {
    background-color: #f4fbff;
    padding: 30px 0;
}


.plan-card {
    border-radius: 8px;
    background: linear-gradient(165deg, rgba(46, 146, 197, 1) 0%, rgba(31, 77, 152, 1) 36%, rgba(46, 146, 197, 1) 100%);
    margin-bottom: 30px;
    transition: all 0.4s ease-in;
}

    .plan-card:hover {
        transform: scale(1.04);
        background: linear-gradient(15deg, rgba(46, 146, 197, 1) 0%, rgba(31, 77, 152, 1) 36%, rgba(46, 146, 197, 1) 100%);
    }

    .plan-card .card-head {
        padding: 20px;
    }

    .plan-card .card-body {
        padding: 20px;
    }

    .plan-card .card-foot {
        padding: 20px;
    }

/* ----------------------------------------------- */
/* ----------------------------------------------- */
/* Fix Plagiarism Styles End */



/* ----------------------------------------------- */
/* ----------------------------------------------- */
/* Plagiarism Upload Styles Start */
.plagiarism-upload .document-upload {
    background-image: url('./../images/compressed/bg-shape.svg') calc(50% - 175px) -510px no-repeat;
    background-size: 1800px;
    background-position: right;
    background-color: #f4fbff;
}

.document-upload .document-title h1 {
    color: #1f4d98;
}

.document-upload .upload-top h3 {
    color: #1f4d98;
    margin-top: 0;
}

.document-upload .upload-top p {
    font-size: 16px;
}

.document-upload .upload-wrapper {
    width: 460px;
    height: 300px;
    border: 2px dashed #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    position: relative;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}

.document-upload .button-wrap {
    text-align: center;
}

    .document-upload .button-wrap .btn-primary {
        width: 460px;
        max-width: 100%;
        font-size: 16px;
    }

@media(min-width: 768px) {
    .document-upload .upload-wrapper {
        margin-left: 0;
    }

    .document-upload .button-wrap {
        text-align: left;
    }
}

.document-upload .overlay {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.8);
    color: #fff;
    z-index: 0;
}

.document-upload .upload-wrapper .upload-body {
    position: relative;
    width: 100%;
    text-align: center;
}

    .document-upload .upload-wrapper .upload-body .loading-spinner {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
    }

        .document-upload .upload-wrapper .upload-body .loading-spinner i {
            color: #ec5328;
            -webkit-animation: spin 2s linear infinite;
            /* Safari */
            animation: spin 2s linear infinite;
        }

        .document-upload .upload-wrapper .upload-body .loading-spinner p {
            font-size: 20px;
            font-weight: 600;
            color: #1f4d98;
        }

            .document-upload .upload-wrapper .upload-body .loading-spinner p:last-child {
                font-size: 16px;
                color: #464648;
            }

.document-upload .upload-wrapper .custom-wrap {
    margin-top: 20px;
}

    .document-upload .upload-wrapper .custom-wrap p:first-child {
        font-size: 18px;
        font-weight: 600;
    }

    .document-upload .upload-wrapper .custom-wrap p:last-child {
        font-weight: 600;
    }

    .document-upload .upload-wrapper .custom-wrap .custom-label {
        width: 260px;
        height: 50px;
        background-color: #cc4419;
        text-align: center;
        margin-bottom: 0;
        position: relative;
        border-radius: 4px;
    }

        .document-upload .upload-wrapper .custom-wrap .custom-label span {
            color: #fff;
            font-size: 16px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

    .document-upload .upload-wrapper .custom-wrap .custom-input {
        visibility: hidden;
    }

.document-upload .transparent-price {
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
    -webkit-box-shadow: 0px 0px 9px -2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 9px -2px rgba(0, 0, 0, 0.2);
}

.transparent-price h4 {
    font-size: 16px;
}

.transparent-price button {
    background-color: #1f4d98;
    border: none;
    font-size: 16px;
    color: #fff;
    border-radius: 4px;
    padding: 6px 10px;
}

@media(min-width: 992px) {
    .transparent-price button {
        padding: 6px 12px;
    }

    .transparent-price h4 {
        font-size: 18px;
    }
}

.transparent-price .price-body {
    margin-top: 30px;
}

    .transparent-price .price-body .price-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1px solid #1f4d98;
        border-radius: 4px;
        padding: 10px 20px;
        margin-bottom: 20px;
        font-size: 16px;
        color: #1f4d98;
        transition: all 0.5s ease-in;
    }

@media(min-width: 992px) {
    .transparent-price .price-body .price-item {
        font-size: 18px;
    }
}

/* .transparent-price .price-body .price-item:hover {
  background-color: #1f4d98;
  color: #fff;
} */

.transparent-price .price-foot {
    margin-top: 30px;
}

    .transparent-price .price-foot ul {
        margin-left: 0px;
    }

    .transparent-price .price-foot li {
        font-size: 12px;
    }

@media(min-width:576px) {
    .transparent-price .price-foot li {
        font-size: 14px;
    }
}

@media(min-width:992px) {
    .transparent-price .price-foot ul {
        margin-left: 10px;
    }

    .transparent-price .price-foot li {
        font-size: 16px;
    }
}

.transparent-price .price-foot .fa-check,
.transparent-price .price-foot a {
    color: #ec5328;
}

.transparent-price .price-foot .other-source {
    font-size: 20px;
    text-align: center;
}

@media(min-width: 768px) {
    .transparent-price .price-body .price-item {
        flex-direction: column;
    }
}

@media(min-width: 992px) {
    .transparent-price .price-body .price-item {
        flex-direction: row;
    }
}

.plagiarism-upload .plagiarism-works {
    background-color: #fff;
}

    .plagiarism-upload .plagiarism-works .features-card {
        background-color: #f4fbff;
    }

/* Plagiarism Upload Styles End */
/* ----------------------------------------------- */
/* ----------------------------------------------- */


/* ----------------------------------------------- */
/* ----------------------------------------------- */
/* Faq Section Style Start */
.faq-section .panel-group .panel {
    margin-bottom: 20px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.faq-section .panel .panel-heading {
    border-left: 5px solid #ff5722;
    background-color: #f4fbff;
    transition: all 0.2s ease-in;
}

.faq-section .panel:hover .panel-heading {
    border-color: #ff5722;
}

.faq-section .panel-group .panel-title a {
    background-color: #f4fbff;
    padding: 10px;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
}

.faq-section .panel .panel-body {
    border-left: 5px solid #ff5722;
    border-top: 0 !important;
    padding-left: 25px;
    transition: all 0.2s ease-in;
}

.faq-section .panel:hover .panel-body {
    border-color: #ff5722;
}

/* Faq Section Style End */
/* ----------------------------------------------- */
/* ----------------------------------------------- */


/* CDR Report Style Start */
/* ----------------------------------------------- */
/* ----------------------------------------------- */
.cdr-banner {
    background-image: url(./../images/Plagiarism/our-responsibility.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: calc(100vh - 127px);
    align-items: center;
    padding-top: 31px;
    margin-top: 125px;
}

    .cdr-banner h1 {
        font-size: 3rem;
    }

    .cdr-banner p {
        font-size: 18px;
    }

    .cdr-banner .form-wrapper {
        background-color: #f4fbff;
        padding: 30px 20px;
        border-radius: 8px;
    }

        .cdr-banner .form-wrapper .dropdown button {
            width: 100%;
            text-align: left;
            border-color: #1f4d98;
            color: #1f4d98;
            background-color: #fff;
            border: 1px solid #1f4d98;
        }

        .cdr-banner .form-wrapper .form-control {
            border-color: #1f4d98;
            color: #1f4d98;
            border-radius: 4px;
        }

        .cdr-banner .form-wrapper .btn-wrap .btn-primary {
            background-color: #1f4d98;
            border-color: #1f4d98;
            color: #fff;
            border-radius: 4px;
            font-size: 16px;
        }

.cdr-report .features-services {
    background-color: #f4fbff;
}

    .cdr-report .features-services .features-card {
        background-color: #fff;
    }


        .cdr-report .features-services .features-card .read-more {
            background: #204c97;
            color: #fff;
            transition: all 0.5s ease;
        }

        .cdr-report .features-services .features-card:hover .read-more {
            color: #204c97;
            background-color: #fff;
        }

/* .cdr-banner .form-wrapper .transparent-price .dropdown button {
  color: #fff;
  font-size: 14px;
} */

.how-it-works {
    background-color: #f4fbff;
}

    .how-it-works .img-wrap {
        overflow: auto;
    }

@media(max-width: 991px) {
    .how-it-works .img-wrap img {
        max-width: initial;
    }
}


/* CDR Report Style End */
/* ----------------------------------------------- */
/* ----------------------------------------------- */








/* CDR Writing Style Start */
/* ----------------------------------------------- */
/* ----------------------------------------------- */



.cdr-wrapper {
    background-color: #f4fbff;
}

    .cdr-wrapper h2 {
        font-size: 2.8rem;
    }

    .cdr-wrapper p {
        font-size: 18px;
    }

    .cdr-wrapper .list-unstyled li {
        font-size: 16px;
        list-style-position: outside;
    }

    .cdr-wrapper .list-unstyled .icon-outer {
        color: #ec5328;
        margin-right: 10px;
    }


/* CDR Writing Style End */
/* ----------------------------------------------- */
/* ----------------------------------------------- */




/* CDR Writing Style End */
/* ----------------------------------------------- */
/* ----------------------------------------------- */

.pdf-report {
    background-color: #f4fbff;
}

.pdf-wrapper .frame-wrapper iframe {
    height: calc(100vh - 114px);
}


/* CDR Writing Style End */
/* ----------------------------------------------- */
/* ----------------------------------------------- */
