﻿@using PagedList;
@using PagedList.Mvc
@{
    ViewBag.Title = "ListOfArticles";
    Layout = "~/Areas/NewAdmin/Views/Shared/_Layout.cshtml";
    var data = (PagedList<LibraryBILayer.Admin.SolutionLibr>)ViewBag.data;
}

<style>
    .pagination {
        float: right;
        margin: 0;
    }

        .pagination li.active a {
            cursor: not-allowed;
        }

            .pagination li.active a:hover {
                cursor: not-allowed;
            }

    .fa-sort {
        margin: 0 4px;
    }

    .faSpinner {
        display: none;
        position: absolute;
        z-index: 9;
        width: 100%;
        height: 100%;
        background: #ddd;
        opacity: 0.4;
    }

        .faSpinner i {
            position: absolute;
            left: 40%;
            top: 40%;
        }

    .myWd {
        width: 60%;
    }
</style>

<div class="content-wrapper" style="min-height: 960px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Manage Main Subject Category
            <div class="topAddNewLink"><a href="/NewAdmin/MainSubject/AddMainSubject" class="btn btn-primary btn-xs">Add New</a></div>
        </h1>
        <ol class="breadcrumb">
            <li><a href="/Admin/Dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">View Main Subject Category</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <!-- Info boxes -->
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Main Subject Category List</h3>

                        @*<a href="javascript:void(0)" class="btn btn-primary" onclick="window.history.back();" style="float: right;">Back</a>*@
                        <div class="checkbox">
                            <label>
                                <input style="float:right" type="checkbox" id="InActive" onchange="GetArticlesList(this);" class="minimal"> In-Active
                            </label>
                        </div>
                        <div class="box-tools pull-right">
                                <div class="has-feedback">
                                    <input type="text" id="Search" class="form-control input-sm" placeholder="Search - Subject, Subject Code" style="width:300px" />
                                    <span class="glyphicon glyphicon-search form-control-feedback"></span>
                                </div>
                            </div>
                    </div><!-- /.box-header -->
                    <div class="box-body" id="ArticlesList">
                        @{
                            ViewDataDictionary extraData = new ViewDataDictionary(ViewData) { { "TotalSubjectCount", ViewBag.TotalCount } };
                            Html.RenderPartial("_ListOfMainSubject", data, extraData);
                        }

                    </div><!-- /.box-body -->
                </div>
                <!-- /.box-footer -->

            </div><!-- /.col -->
        </div>

    </section><!-- /.content -->
</div>

<script type="text/javascript">
    function DeleteRecord(Id, status) {
        var txt;
        var r = confirm("Do you really want to perform this action?");
        if (r == true) {
            $.ajax({
                url: '@Url.Action("DeleteMainSubject", "MainSubject", new { area = "NewAdmin" })',
                type: "POST",
                data: JSON.stringify({ Id: Id, status: status }),
                async: false,
                contentType: "application/json",
                dataType: "json",
                success: function (result) {
                    if (result > 0) {
                        if (status == "0") {
                            toastr["success"]("Record is successfully deactivated.");
                        } else {
                            toastr["success"]("Record is successfully activated.");
                        }
                        //  alert("Record is successfully deleted.");
                        GetArticlesList();
                    }
                    else {
                        toastr["error"]("Some error while processing your request.")
                    }
                },
                error: function (data) {
                    toastr["error"]("Some error while processing your request.")
                }
            });
        }
        else {
            txt = "You pressed Cancel!";
        }
    }

    function FinalDelete(Id, status) {
        var txt;
        var r = confirm("Do you really want to perform this action?");
        if (r == true) {
            $.ajax({
                url: '@Url.Action("FinalDeleteData", "MainSubject", new { area = "NewAdmin" })',
                type: "POST",
                data: JSON.stringify({ Id: Id, status: status }),
                async: false,
                contentType: "application/json",
                dataType: "json",
                success: function (result) {
                    if (result > 0) {
                        if (status == "0") {
                            toastr["success"]("Record is successfully deactivated.");
                        }
                        else if (status == "4") {
                            toastr["success"]("Record is successfully deleted.");
                        }
                        else {
                            toastr["success"]("Record is successfully activated.");
                        }
                        //  alert("Record is successfully deleted.");
                        GetArticlesList();
                    }
                    else {
                        toastr["error"]("Some error while processing your request.")
                    }
                },
                error: function (data) {
                    toastr["error"]("Some error while processing your request.")
                }
            });
        }
        else {
            txt = "You pressed Cancel!";
        }
    }
</script>
<script type="text/javascript">
    $('#Search').keyup(function () {
          var Search = $('#Search').val().replace(/[/\<>]/g, '');
          //alert("welcome");
        if ($('#Search').val().length > 2) {
            $.ajax({
                type: 'GET',
                url: '@Url.Action("_ListOfMainSubject", "MainSubject", new { area = "NewAdmin" })',
                data: { SearchStr: Search, IsActive: false },
                success: function (data) {

                    if (data != 0) {
                        $('#ArticlesList').html(data)
                    }
                    else {
                        alert("No Record Found!!");
                    }
                },
                error: function (data) {
                }
            });
        }
        else {
            //var IsActive = false;
            $.ajax({
                type: 'GET',
                url: '@Url.Action("_ListOfMainSubject", "MainSubject", new { area = "NewAdmin" })',
                data: { SearchStr: "", IsActive: false },
                success: function (data) {

                    if (data != 0) {
                        $('#ArticlesList').html(data)
                    }
                    else {
                        alert("No Record Found!!");
                    }
                },
                error: function (data) {
                }
            });
        }
    });

</script>
<script>
    function GetArticlesList(elem) {
        $(elem).attr("disabled", 1);
        var HTML = "";
        var chkdata = "";
        var IsActive = $('#InActive').is(":Checked");
        if (IsActive == true)
        {
            chkdata = true;
        }
        else
        {
            chkdata = false;
        }
        $.ajax({
            type: 'GET',
            async: false,
            url: '@Url.Action("_ListOfMainSubject", "MainSubject", new { @area = "NewAdmin" })',
            data: { IsActive: chkdata },
            success: function (data) {
                if (data != null) {
                    $('#ArticlesList').html(data)

                    $(elem).removeAttr("disabled");
                }
                else {
                    alert("No Record Found!!")
                }
            },
            error: function (response) {
            }
        });
    }

   // $('body').on('click', '#ArticlesList a', function (event) {
   //     if (!$(this).hasClass('btn-xs')) {
   //         var url = $(this).attr("href");
   //         var HTML = "";
   //         var InActive = $('#InActive').is(":Checked");
   //         $(".faSpinner").show();

   //         if (url != undefined) {
   //             event.preventDefault();

   //             url = url + '&IsActive=' + $('#InActive').is(":Checked").toString();
   //             setTimeout(function () {
   //                 $.ajax({
   //                     url: url,
   //                     success: function (result) {
   //                         $('#ArticlesList').html(result);

   //                         $(".faSpinner").hide();
   //                     }
   //                 });
   //             },500)
   //         }
   //     }
   //});


    function ChangeUrl(page, url) {
        if (typeof (history.pushState) != "undefined") {
            var obj = { Page: page, Url: url };
            history.pushState(obj, obj.Page, obj.Url);
        } else {
            alert("Browser does not support HTML5.");
        }
    }

    function getUrlVars() {
        var vars = [], hash;
        var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
        for (var i = 0; i < hashes.length; i++) {
            hash = hashes[i].split('=');
            vars.push(hash[0]);
            vars[hash[0]] = hash[1];
        }
        return vars;
    }
</script>