﻿
@using PagedList.Mvc
@model PagedList.IPagedList<LibraryDataLayer.tbladminrole>

@{
    var totalCount = Convert.ToInt32(ViewData["TotalBlogCatCount"]);
}
@if (Model.Count > 0 && Model != null)
{
    <table id="example1" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th width="10%">Role Id</th>
                <th width="50%">Role Name</th>

                <th width="25%">Status</th>
                <th width="15%">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.RoleID</td>
                    <td>@item.RoleName</td>

                    <td>@(item.StatusID == 1 ? "Active" : "Deactive")</td>
                    <td>
                        <a title="Edit" href="@Url.Action("EditAdminRole", "AdminRole", new { @area = "NewAdmin", @Id = item.RoleID })"><i class="fa  fa-edit fa-2x"></i></a>
                        @*@Html.ActionLink("sfsd", "EditAdminRole", "AdminRole", new { @area = "NewAdmin", @Id = item.RoleID }, new { @class = "btn btn-primary btn-xs", @style = "margin-right:2%" })*@

                        @if (item.StatusID == 1)
                        {
                            <a title="Deactivate" href="@Url.Action("DeleteAdminRole", "AdminRole", new { @area = "NewAdmin", @Id = item.RoleID , @Status = 2 })"><i class="fa fa-times-circle fa-2x"></i></a>

                            @*@Html.ActionLink("Deactivate", "DeleteAdminRole", "AdminRole", new { @area = "NewAdmin", @Id = item.RoleID, @Status = 2 }, new { @class = "btn btn-warning btn-xs" })*@
                            @*<a class="btn btn-warning btn-xs" onclick="return DeleteRecord(@item.RoleID, 2)">Deactivate</a>*@
                            @*<a class="btn btn-danger btn-xs" onclick="return FinalDelete(@item.Id, 0)">Delete</a>*@
                        }
                        else
                        {
                            <a title="Activate" href="@Url.Action("DeleteAdminRole", "AdminRole", new { @area = "NewAdmin", @Id = item.RoleID , @Status = 1 })"><i class="fa fa-check-circle fa-2x"></i></a>
                            @*@Html.ActionLink("Activate", "DeleteAdminRole", "AdminRole", new { @area = "NewAdmin", @Id = item.RoleID, @Status = 1 }, new { @class = "btn btn-warning btn-xs" })*@
                            @*<a class="btn btn-primary btn-xs" onclick="return DeleteRecord(@item.RoleID, 1)">Activate</a>*@
                        }

                        <a title="Delete" href="@Url.Action("FinalDeleteAdminRole", "AdminRole", new { @area = "NewAdmin", @Id = item.RoleID})"><i class="fa fa-trash fa-2x"></i></a>
                    </td>
                </tr>
            }
        </tbody>

    </table>
    if (totalCount > ViewBag.pageSize)
    {
        @Html.PagedListPager(Model, page => Url.Action("_ListOfAdminRole", "AdminRole", new { area = "NewAdmin", IsActive = ViewBag.IsDeleted, page }));
    }
}
else
{
    <span style="color:rosybrown"><strong>No record found!!</strong></span>
}

