.d-flex {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
}

.justify-content-center {
    -webkit-box-pack: center !important;
    -webkit-justify-content: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
}

.justify-content-between {
    -webkit-box-pack: justify !important;
    -webkit-justify-content: space-between !important;
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
}

.justify-content-around {
    -webkit-justify-content: space-around !important;
    -ms-flex-pack: distribute !important;
    justify-content: space-around !important;
}

.align-items-center {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.align-middle {
    vertical-align: middle !important;
}

.align-top {
    vertical-align: top !important;
}

.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.navbar-collapse {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.navbar {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}

    .navbar > .container,
    .navbar > .container-fluid {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

.navbar-nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

    .navbar-nav .dropdown-menu {
        float: none;
    }

.form-inline {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.btn-group,
.btn-group-vertical {
    position: relative;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    vertical-align: middle;
}

    .btn-group-vertical > .btn,
    .btn-group > .btn {
        position: relative;
        -webkit-box-flex: 1;
        -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
    }

.btn-group-sm > .btn,
.btn-sm {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
}

.ml-auto,
.mx-auto {
    margin-left: auto !important;
}

.mr-2,
.mx-2 {
    margin-right: 0.5rem !important;
}

.mt-2,
.my-2 {
    margin-top: 0.5rem !important;
}

.mb-2,
.my-2 {
    margin-bottom: 0.5rem !important;
}

.mt-3,
.my-3 {
    margin-top: 1rem !important;
}

.mb-5,
.my-5 {
    margin-bottom: 3rem !important;
}

.nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    list-style: none;
}

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

*,
::after,
::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.d-inline-block {
    display: inline-block !important;
}

.dropdown-toggle {
    white-space: nowrap;
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    -o-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.d-none {
    display: none !important;
}

@media (min-width: 768px) {
    .col-md-6 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 50%;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (min-width: 992px) {
    .col-lg-4 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 33.333333%;
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

    .navbar-expand-lg .navbar-collapse {
        display: -webkit-box !important;
        display: -webkit-flex !important;
        display: -ms-flexbox !important;
        display: flex !important;
        -webkit-flex-basis: auto;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
    }

    .navbar-expand-lg {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-flow: row nowrap;
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }

        .navbar-expand-lg > .container,
        .navbar-expand-lg > .container-fluid {
            -webkit-flex-wrap: nowrap;
            -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
        }

    .navbar-expand-lg {
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-flow: row nowrap;
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
    }

        .navbar-expand-lg .navbar-nav {
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -webkit-flex-direction: row;
            -ms-flex-direction: row;
            flex-direction: row;
        }

    .mt-lg-0,
    .my-lg-0 {
        margin-top: 0 !important;
    }

    .ml-lg-3,
    .mx-lg-3 {
        margin-left: 1rem !important;
    }

    .mb-lg-0,
    .my-lg-0 {
        margin-bottom: 0 !important;
    }

    .d-lg-block {
        display: block !important;
    }
}

/* ----------------------------------------------- */
/* ----------------------------------------------- */
/* Global Styles Start */
body {
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    color: #332c2c;
}

h1 {
    font-size: 2rem;
}

@media (min-width: 768px) {
    h1 {
        font-size: 2.8rem;
    }
}

.font12 {
    font-size: 12px;
}

.fw-600 {
    font-weight: 600;
}

.text-theme-blue {
    color: #1f4d98;
}

/* Replace .bg-theme-orange with .bg-button */
.bg-theme-orange {
    background-color: #ff5722;
}

.bg-theme-light {
    background-color: #f4fbff;
}

.bg-theme-light2 {
    background-color: #c3e1ff;
}

.bg-theme-blue {
    background-color: #2e92c5;
}

.theme-orange {
    color: #ff5722;
}

/* .hr-sm {
  width: 200px;
  height: 3px;
  background-color: #ff5722;
  margin-left: 0;
  margin-top: 0;
} */
.button-wrap .btn-green {
    background-color: #ff5722;
    color: #fff;
    font-size: 20px;
}

    .button-wrap .btn-green:hover {
        background-color: #659c14;
    }

.button-wrap .btn-blue {
    background-color: #2e92c5;
    color: #fff;
    font-size: 20px;
}

    .button-wrap .btn-blue:hover {
        background-color: #21749e;
    }

.btn-orange {
    background-color: #ff5722;
    color: #fff;
    border-radius: 4px;
    font-size: 20px;
}

    .btn-orange:hover {
        color: #fff;
        background-color: #cc4419;
    }

    .btn-orange:focus {
        outline: none;
        color: #fff;
    }

/* .me-heading h4 {
  font-size: 18px;
} */
.me-heading h1 {
    border-left: 4px solid #ff5722;
    padding-left: 10px;
    font-size: 36px;
    /* font-weight: 600; */
    text-transform: capitalize;
}

.title-heading {
    color: #1f4d98;
}

.hr-sm {
    border-bottom: 2px solid #ff5722;
    width: 100px;
    height: 2px;
    margin: auto;
}

.pagination .page-item .page-link:hover {
    background-color: #f4fbff;
}

.pagination .page-item.active .page-link {
    background-color: #ff5722;
    color: #fff;
    border-color: #ff5722;
}

.pagination .page-item .page-link {
    color: #ff5722;
}

    .pagination .page-item .page-link:focus {
        -webkit-box-shadow: 0 0 0 0.2rem #ff572240;
        box-shadow: 0 0 0 0.2rem #ff572240;
    }

.pagination .page-item.disabled .page-link {
    color: #6c757d;
}

/* Grid Layout */
.grid-section {
    padding: 100px 0;
}

    .grid-section .col-md-6.col-lg-4:nth-child(3n + 1) {
        clear: both;
    }

/* Global Styles End */
/* ----------------------------------------------- */
/* ----------------------------------------------- */
/* ----------------------------------------------- */
/* ----------------------------------------------- */
/* Animation Start */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@-o-keyframes spin {
    0% {
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes dot_mover {
    0% {
        -webkit-transform: translateX(-20);
        transform: translateX(-20);
    }

    100% {
        -webkit-transform: translateX(30px);
        transform: translateX(30px);
    }
}

@-o-keyframes dot_mover {
    0% {
        -o-transform: translateX(-20);
        transform: translateX(-20);
    }

    100% {
        -o-transform: translateX(30px);
        transform: translateX(30px);
    }
}

@keyframes dot_mover {
    0% {
        -webkit-transform: translateX(-20);
        -o-transform: translateX(-20);
        transform: translateX(-20);
    }

    100% {
        -webkit-transform: translateX(30px);
        -o-transform: translateX(30px);
        transform: translateX(30px);
    }
}

@-webkit-keyframes banner_move {
    0%, 100% {
        -webkit-transform: translateY(0px) rotate(-50deg);
        transform: translateY(0px) rotate(-50deg);
    }

    50% {
        -webkit-transform: translateY(80px) rotate(-50deg);
        transform: translateY(80px) rotate(-50deg);
    }
}

@-o-keyframes banner_move {
    0%, 100% {
        -o-transform: translateY(0px) rotate(-50deg);
        transform: translateY(0px) rotate(-50deg);
    }

    50% {
        -o-transform: translateY(80px) rotate(-50deg);
        transform: translateY(80px) rotate(-50deg);
    }
}

@keyframes banner_move {
    0%, 100% {
        -webkit-transform: translateY(0px) rotate(-50deg);
        -o-transform: translateY(0px) rotate(-50deg);
        transform: translateY(0px) rotate(-50deg);
    }

    50% {
        -webkit-transform: translateY(80px) rotate(-50deg);
        -o-transform: translateY(80px) rotate(-50deg);
        transform: translateY(80px) rotate(-50deg);
    }
}

/* Animation End */
/* ----------------------------------------------- */
/* ----------------------------------------------- */
/* Header Style Start */
.classmaster-header .navbar {
    background-color: #f4fbff;
}

    .classmaster-header .navbar .navbar-collapse .btn-orange {
        font-size: 16px;
    }

.classmaster-header .navbar-light .navbar-nav .nav-link:hover {
    color: rgba(236, 83, 40, 0.7);
}

.classmaster-header .navbar-light .navbar-nav .active > .nav-link {
    color: #ff5722;
}

.classmaster-header .top-sub-header {
    background-color: #1f4d98;
}

    .classmaster-header .top-sub-header .btn {
        -webkit-box-shadow: none;
        box-shadow: none;
        color: #fff;
    }

        .classmaster-header .top-sub-header .btn:hover {
            color: #ff5722;
        }

.classmaster-header .dropdown .dropdown-item {
    border-left: 5px solid transparent;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.classmaster-header .login-menu .dropdown-item {
    border-left: 5px solid transparent;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    border-bottom: 1px dashed #ff5722;
    padding: 0.5rem 1.5rem;
}

    .classmaster-header .login-menu .dropdown-item:last-child {
        border-bottom: none;
    }

.classmaster-header .dropdown-item:focus {
    outline: none;
}

.classmaster-header .dropdown-item:active {
    background-color: transparent;
    color: #202020;
}

.classmaster-header .login-menu .dropdown-item:hover,
.classmaster-header .dropdown .left-menu a:hover {
    border-color: #ff5722;
}

.classmaster-header .dropdown .right-menu a:hover {
    border-color: #222;
}

.classmaster-header .dropdown .dropdown-menu .right-menu a:focus {
    background-color: #ff5722;
}

.classmaster-header .dropdown .dropdown-menu .left-menu a:first-child {
    padding-top: 10px;
}

.classmaster-header .dropdown .dropdown-menu .left-menu a:last-child {
    padding-bottom: 10px;
}

.classmaster-header .dropdown .dropdown-menu .left-menu a {
    padding: 0.4rem 1.2rem;
    /* border-bottom: 1px solid #ff5722; */
}

    .classmaster-header .dropdown .dropdown-menu .left-menu a:hover {
        color: #ff5722;
    }

.classmaster-header .dropdown .dropdown-menu .right-menu {
    background-color: #ff5722;
    /* padding: 10px; */
}

    .classmaster-header .dropdown .dropdown-menu .right-menu a:hover {
        background-color: #ff5722;
        color: #222;
    }

    .classmaster-header .dropdown .dropdown-menu .right-menu a {
        color: #fff;
        padding: 0.4rem 1.2rem;
        border-bottom: 1px solid #fff;
    }

.classmaster-header .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
    /* remove the gap so it doesn't close */
}

.classmaster-header .user-icon-wrap .dropdown-toggle::after {
    display: none;
}

.classmaster-header .navbar-collapse .user-icon-wrap .btn {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.classmaster-header .navbar-collapse .navbar-nav .nav-link {
    font-size: 14px;
    font-weight: 600;
}

.header-search input {
    width: 140px;
    border: 1px solid #ff5722;
    border-radius: 4px 0 0 4px;
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
    height: 38px;
}

.search-img {
    width: 20px;
    height: 20px;
    color: #fff;
    fill: #fff;
}

.header-search input:focus {
    width: 160px;
    border-radius: 4px 0 0 4px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.header-search input:active {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.header-search button {
    border-radius: 0 4px 4px 0;
    background-color: #ff5722;
    color: #fff;
}

.classmaster-header .navbar-collapse .user-icon-wrap .dropdown-toggle::after {
    display: none;
}

.classmaster-header .navbar-collapse .user-icon-wrap .dropdown-menu {
    min-width: 8rem;
    padding-top: 0;
    padding-bottom: 0;
}

.classmaster-footer .theme-footer {
    background-color: #1b252b;
    padding: 80px 0 0;
}

    .classmaster-footer .theme-footer .top-footer .brand-img {
        width: 180px;
    }

    .classmaster-footer .theme-footer .top-footer ul li a {
        color: #ccc;
    }

        .classmaster-footer .theme-footer .top-footer ul li a:hover,
        .classmaster-footer .theme-footer .sub-footer ul li a:hover {
            color: #ff5722;
        }

    .classmaster-footer .theme-footer .top-footer .social-icons li {
        margin-right: 10px;
    }

        .classmaster-footer .theme-footer .top-footer .social-icons li a {
            width: 40px;
            height: 40px;
            border: 1px solid #fff;
            border-radius: 50%;
            color: #fff;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
            text-decoration: none;
            -webkit-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            transition: all 0.5s ease;
        }

            .classmaster-footer .theme-footer .top-footer .social-icons li a:hover {
                background-color: #fff;
                color: #002b45;
            }

    .classmaster-footer .theme-footer .sub-footer {
        background-color: #2c3940;
    }

        .classmaster-footer .theme-footer .sub-footer ul li a {
            color: #fff;
        }

.home-page .testimon-section {
    background-color: #f4fbff;
}

.home-page .home-banner {
    min-height: 550px;
    height: 100%;
    padding: 80px 0;
}

.home-page.homework .home-banner {
    min-height: -webkit-calc(100vh - 0px);
    min-height: calc(100vh - 0px);
}

.home-banner .me-shape-three {
    left: 0;
    position: absolute;
    opacity: 0.7;
    -webkit-animation: dot_mover 6s linear infinite alternate;
    -o-animation: dot_mover 6s linear infinite alternate;
    animation: dot_mover 6s linear infinite alternate;
}

.home-banner .me-shape-four {
    position: absolute;
    left: 0;
    bottom: 0px;
    opacity: 0.5;
    -webkit-animation: dot_mover 4s linear infinite alternate;
    -o-animation: dot_mover 4s linear infinite alternate;
    animation: dot_mover 4s linear infinite alternate;
}

.home-banner:before {
    width: 400px;
    height: 400px;
    background-image: -webkit-radial-gradient(#0a335838 1px, transparent 1px);
    background-image: -o-radial-gradient(#0a335838 1px, transparent 1px);
    background-image: radial-gradient(#0a335838 1px, transparent 1px);
    content: "";
    -webkit-background-size: 10px 10px;
    background-size: 10px 10px;
    position: absolute;
    top: 80px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    right: -220px;
    -webkit-animation: banner_move 10s linear alternate infinite;
    -o-animation: banner_move 10s linear alternate infinite;
    animation: banner_move 10s linear alternate infinite;
}

.home-banner .banner-text h1,
.home-banner p {
    color: #1f4d97;
    font-weight: 600;
}

    .home-banner .banner-text h1 span {
        color: #ff5722;
        font-size: 32px;
    }

.home-banner .banner-search {
    background-color: #f4fbff;
    padding: 0 0px 30px;
    border-radius: 12px;
    /* min-height: 290px; */
}

    .home-banner .banner-search .nav-pills .nav-item {
        width: 50%;
    }

    .home-banner .banner-search .nav-pills .nav-link {
        color: #ec5328;
        text-align: center;
        border-bottom: 1px solid #ec5328;
        border-radius: 0.25rem 0.25rem 0 0;
    }

        .home-banner .banner-search .nav-pills .nav-link.active {
            background-color: #ec5328;
            color: #fff;
        }

    .home-banner .banner-search .tab-content {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 10px 30px;
    }

.banner-search .custom-file {
    width: 200px;
}

@media (min-width: 576px) and (max-width: 767px) {
    .banner-search .header-search input {
        width: 300px;
    }

        .banner-search .header-search input:focus {
            width: 360px;
        }
}

@media (min-width: 992px) {
    .banner-search .header-search input {
        width: 300px;
    }

    .banner-search .custom-file {
        width: 300px;
    }

    .banner-search .header-search input:focus {
        width: 350px;
    }
}

.home-banner .banner-search h3 {
    color: #1f4d97;
}

.home-banner .banner-search .form-control {
    border-color: #ff5722;
}

.home-banner .banner-search textarea.form-control {
    resize: none;
}

.home-banner .banner-search .form-control::-webkit-input-placeholder {
    color: #ff57227a;
}

.home-banner .banner-search .form-control::-moz-placeholder {
    color: #ff57227a;
}

.home-banner .banner-search .form-control:-ms-input-placeholder {
    color: #ff57227a;
}

.home-banner .banner-search .form-control::-ms-input-placeholder {
    color: #ff57227a;
}

.home-banner .banner-search .form-control::placeholder {
    color: #ff57227a;
}

.banner-search .custom-file-label {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: #ff5722;
    color: #fff;
}

    .banner-search .custom-file-label::after {
        display: none;
    }

/* Custom File Upload Name Show */
.banner-search .file-name {
    position: absolute;
    left: 50px;
    top: 50%;
    -webkit-transform: translateY(-35%);
    -ms-transform: translateY(-35%);
    -o-transform: translateY(-35%);
    transform: translateY(-35%);
}

/* ----------------------------------------------- */
/* ----------------------------------------------- */
/* Blog Page Styes Start */
.blog-banner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-image: url("./../images/compressed/blog1.jpg");
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    height: 300px;
    position: relative;
}

    .blog-banner::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #00000099;
    }

.breadcrumb {
    background-color: transparent;
}

.breadcrumb-item a {
    color: #ff5722;
    font-size: 20px;
}

.breadcrumb-item.active {
    font-size: 20px;
}

.blog-banner h1 {
    font-size: 50px;
    color: #fff;
    text-shadow: 3px 3px 6px #1f4d98;
}

.blog-page .blog-list {
    padding: 100px 0;
}

.blog-page .blog-card {
    border-radius: 8px;
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    -webkit-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.4s linear;
    min-height: 520px;
    background-color: #f4fbff;
}

    .blog-page .blog-card:hover {
        -webkit-transform: scale(1.02);
        -ms-transform: scale(1.02);
        -o-transform: scale(1.02);
        transform: scale(1.02);
    }

.blog-card .img-wrap {
    min-height: 200px;
}

    .blog-card .img-wrap img {
        border-radius: 8px 8px 0 0;
    }

.blog-card .blog-card-body {
    padding: 10px;
    background-color: #f4fbff;
    border-radius: 0 0 8px 8px;
}

    .blog-card .blog-card-body .read-more-link {
        color: #ff5722;
    }

        .blog-card .blog-card-body .read-more-link:hover {
            color: #ff5722;
            text-decoration: underline;
        }

    .blog-card .blog-card-body h3 a {
        color: #204c97;
        -webkit-transition: all 0.4s ease-in;
        -o-transition: all 0.4s ease-in;
        transition: all 0.4s ease-in;
    }

        .blog-card .blog-card-body h3 a:hover {
            color: #0d316d;
            text-decoration: underline;
        }

    .blog-card .blog-card-body h3,
    .blog-card .blog-card-body p {
        color: #333;
        margin-top: 0;
    }

.blog-card .tag-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 20px auto;
}

    .blog-card .tag-list .blog-tag {
        font-size: 12px;
        -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
        padding: 8px;
        border-radius: 4px;
        -webkit-transition: all 0.4s ease-in;
        -o-transition: all 0.4s ease-in;
        transition: all 0.4s ease-in;
    }

        .blog-card .tag-list .blog-tag:hover {
            background-color: #ff5722;
            color: #fff;
        }

            .blog-card .tag-list .blog-tag:hover i {
                color: #fff;
            }

        .blog-card .tag-list .blog-tag i {
            color: #ff5722;
            margin-right: 2px;
            -webkit-transition: all 0.4s ease-in;
            -o-transition: all 0.4s ease-in;
            transition: all 0.4s ease-in;
        }

.blog-right {
    border-radius: 8px;
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

    .blog-right .happy-students {
        background: #1f4d98;
        padding: 20px;
        color: #fff;
        border-radius: 8px 8px 0 0;
    }

        .blog-right .happy-students .fa-users {
            color: #fff;
        }

        .blog-right .happy-students h4 {
            color: #f4fbff;
            font-weight: 600;
        }

    .blog-right .recent-blog,
    .blog-right .get-quote,
    .blog-right .attachments {
        background-color: #f4fbff;
    }

        .blog-right .recent-blog .recent-title {
            background-color: #ff5722;
            color: #000;
            margin-bottom: 20px;
            -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
        }

            .blog-right .recent-blog .recent-title h3 {
                padding: 12px 4px;
                font-size: 28px;
                text-align: center;
                color: #fff;
            }

        .blog-right .get-quote .quote-title h3 {
            padding: 12px 4px;
            font-size: 28px;
            text-align: center;
            color: #fff;
        }

        .blog-right .get-quote .quote-title {
            background-color: #ff5722;
            color: #fff;
            padding-right: 10px;
            margin-bottom: 60px;
        }

        .blog-right .recent-blog .recent-body {
            margin: 60px 0px 40px;
        }

        .blog-right .recent-blog .blog-item {
            display: block;
            margin-bottom: 30px;
            padding: 12px;
            background-color: #fff;
            border-left: 5px solid #ff5722;
            border-right: 5px solid #ff5722;
            -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
            -webkit-transition: all 0.4s linear;
            -o-transition: all 0.4s linear;
            transition: all 0.4s linear;
        }

            .blog-right .recent-blog .blog-item:hover {
                -webkit-transform: scale(1.02);
                -ms-transform: scale(1.02);
                -o-transform: scale(1.02);
                transform: scale(1.02);
            }

            .blog-right .recent-blog .blog-item:last-child {
                margin-bottom: 0px;
            }

            .blog-right .recent-blog .blog-item h5 {
                margin-top: 0;
                margin-bottom: 0;
                font-size: 17px;
            }

            .blog-right .recent-blog .blog-item .img-wrap {
                width: 150px;
                margin-right: 20px;
            }

            .blog-right .recent-blog .blog-item .blog-link:hover {
                color: #ff5722;
            }

    .blog-right .quote-form .quote-body .form-control {
        border-color: #ff5722;
    }

    .blog-right .quote-form .attachments .btn-orange {
        padding: 15px 20px;
        width: 100%;
    }

.quote-form .attachments .custom-file-label {
    border: 1px solid #ff5722;
}

.custom-file-label::after {
    background-color: #ff5722;
    color: #fff;
}

.blog-page .pagination.justify-content-center {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.blog-details .blog-content {
    padding: 100px 0;
}

    .blog-details .blog-content .details-content {
        -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
        background-color: #f4fbff;
        padding: 30px;
        border-radius: 8px;
    }

        .blog-details .blog-content .details-content h2 {
            font-size: 34px;
        }

        .blog-details .blog-content .details-content p {
            font-size: 16px;
        }

/* Blog Page Styes End */
/* ----------------------------------------------- */
/* ----------------------------------------------- */
/* ----------------------------------------------- */
/* ----------------------------------------------- */
/* Plagrisim Checker Page Style Start */
/* Banner Styles Start */
.plagiarism-checker h2 {
    font-size: 28px;
    color: #1f4d98;
}

@media (min-width: 768px) {
    .plagiarism-checker h2 {
        font-size: 36px;
        color: #1f4d98;
    }
}

.report-banner {
    background: -webkit-linear-gradient(285deg, #2e92c5 0%, #1f4d98 36%, #2e92c5 100%);
    background: -o-linear-gradient(285deg, #2e92c5 0%, #1f4d98 36%, #2e92c5 100%);
    background: linear-gradient(165deg, #2e92c5 0%, #1f4d98 36%, #2e92c5 100%);
    padding: 80px 0;
    /* margin-top: 100px; */
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

@media (min-width: 1200px) {
    .report-banner {
        min-height: -webkit-calc(100vh - 72px);
        min-height: calc(100vh - 72px);
    }
}

.report-banner .carousel .carousel-control i {
    top: 50%;
    position: absolute;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #ff5722;
}

.report-banner .carousel a i {
    color: #ff5722;
}

.report-banner .carousel .carousel-indicators {
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

    .report-banner .carousel .carousel-indicators .active {
        background-color: #ff5722;
        width: 20px;
        height: 20px;
        border-radius: 50%;
    }

    .report-banner .carousel .carousel-indicators li {
        border-color: #ff5722;
        border: 0;
        width: 14px;
        height: 14px;
        border-radius: 50%;
    }

.report-banner .carousel .carousel-caption {
    font-size: 18px;
    color: #1f4d98;
    /* text-shadow: 0 1px 2px rgba(30, 77, 152, 0.6); */
    text-shadow: none;
}

.report-banner .banner-content h1 {
    font-size: 32px;
}

.report-banner .banner-list {
    font-size: 16px;
    list-style: none;
    margin-left: 8px;
}

    .report-banner .banner-list .fa-check {
        color: #ff5722;
        font-size: 16px;
    }

@media (min-width: 768px) {
    .report-banner .banner-content h1 {
        font-size: 44px;
    }

    .report-banner .banner-list {
        font-size: 20px;
    }
}

.report-banner .button-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

    .report-banner .button-wrap .btn-green,
    .report-banner .button-wrap .btn-orange {
        width: 100%;
        margin-bottom: 20px;
    }

@media (min-width: 768px) {
    .report-banner .button-wrap .btn-green,
    .report-banner .button-wrap .btn-orange {
        width: 48%;
    }
}

@media (min-width: 576px) {
    .report-banner .button-wrap {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
    }

        .report-banner .button-wrap .btn-green {
            margin-right: 20px;
        }

        .report-banner .button-wrap .btn {
            margin-bottom: 0;
        }
}

/* Banner Styles End */
/* ----------------------------------------------- */
/* ----------------------------------------------- */
/* ----------------------------------------------- */
/* ----------------------------------------------- */
/* Features Plagiarism Style Start */
.features-plagiarism {
    padding: 80px 0 60px;
}

    .features-plagiarism .row,
    .plagiarism-works .row {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

.home-page .features-card {
    min-height: 300px;
}

.features-card {
    padding: 30px 15px;
    border-radius: 8px;
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    min-height: 376px;
    background-color: #f4fbff;
}

    .features-card:hover {
        background-color: #1f4d98 !important;
        color: #fff;
    }

    .features-card i {
        color: #1f4d98;
    }

    .features-card i,
    .features-card h3,
    .features-card h4,
    .features-card p {
        -webkit-transition: all 0.3s ease-in;
        -o-transition: all 0.3s ease-in;
        transition: all 0.3s ease-in;
    }

    .features-card:hover i,
    .features-card:hover h3,
    .features-card:hover h4,
    .features-card:hover p {
        color: #fff;
    }

/* Features Plagiarism Style End */
/* ----------------------------------------------- */
/* ----------------------------------------------- */
/* ----------------------------------------------- */
/* ----------------------------------------------- */
/* Detect All Style Start */
.detect-all {
    background-image: url("./../images/compressed/pen-paper.jpg");
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    padding: 150px 15px;
}

    .detect-all::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #00000099;
        z-index: -1;
    }

    .detect-all .container {
        padding-top: 40px;
        padding-bottom: 50px;
    }

.detect-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin: auto;
    text-align: center;
    font-size: 16px;
}

/* Detect All Style End */
/* ----------------------------------------------- */
/* ----------------------------------------------- */
/* ----------------------------------------------- */
/* ----------------------------------------------- */
/* Proud Features Style Start */
.proud-features {
    padding: 80px 0 40px;
    background-color: #f4fbff;
}

    .proud-features .col-md-6.d-lg-block {
        display: none;
    }

    .proud-features .proud-bg-img h2 {
        font-size: 2rem;
    }

    .proud-features .proud-bg-img::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #00000099;
        z-index: -1;
    }

    .proud-features .proud-item {
        background-color: #fff;
        padding: 20px 10px;
        border-radius: 4px;
        -webkit-transition: all 0.3s ease-in;
        -o-transition: all 0.3s ease-in;
        transition: all 0.3s ease-in;
        -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.35) !important;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.35) !important;
        margin-bottom: 10px;
        min-height: 266px;
        text-align: center;
        width: 100%;
        -webkit-transition: all 0.2s ease-out;
        -o-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;
    }

.home-page .proud-features .proud-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.proud-features .proud-item .img-wrap {
    width: 100px;
    margin: auto;
}

@media (min-width: 992px) {
    .proud-features .proud-item:nth-child(even) {
        margin-left: auto;
    }
}

.proud-features i {
    color: #1f4d98;
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.proud-features .proud-item:hover {
    border-color: #ff5722;
    -webkit-transform: scale(1.05) !important;
    -ms-transform: scale(1.05) !important;
    -o-transform: scale(1.05) !important;
    transform: scale(1.05) !important;
}

    .proud-features .proud-item:hover i {
        color: #ff5722;
    }

/* Proud Features Style End */
/* ----------------------------------------------- */
/* ----------------------------------------------- */
.detail-report {
    padding: 80px 0;
}

/* Reviews Style Start */
/* ----------------------------------------------- */
/* ----------------------------------------------- */
.testimon-section {
    padding: 80px 0;
    position: relative;
}

    .testimon-section .bd-example .carousel-inner .carousel-item .img-wrap img {
        border: 6px solid #fff;
        border-radius: 50%;
        -webkit-box-shadow: 0 0.5rem 1rem 0.5rem rgba(0, 0, 0, 0.15);
        box-shadow: 0 0.5rem 1rem 0.5rem rgba(0, 0, 0, 0.15);
    }

@media (max-width: 991px) {
    .testimon-section .bd-example .carousel-inner .carousel-item .img-wrap {
        width: 200px;
        margin: auto;
    }
}

.testimon-section .bd-example .carousel-inner .carousel-item .carousel-caption {
    position: static;
    background-image: url("./../images/compressed/world-map.png");
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 350px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

@media (min-width: 992px) {
    .testimon-section
    .bd-example
    .carousel-inner
    .carousel-item
    .carousel-caption
    .caption-wrap {
        width: 75%;
        padding-left: 50px;
    }
}

.testimon-section
.bd-example
.carousel-inner
.carousel-item
.carousel-caption
.caption-wrap
p {
    font-weight: 700;
    color: #000;
}

.testimon-section
.bd-example
.carousel-inner
.carousel-item
.carousel-caption
.caption-wrap
h6 {
    color: #000;
}

.testimon-section .bd-example .carousel-indicators {
    position: static;
    background-color: #e6edf7;
    margin: auto;
    padding: 15px;
}

@media (min-width: 992px) {
    .testimon-section .bd-example .carousel-indicators {
        width: 100px;
    }
}

.testimon-section .bd-example .carousel-indicators li {
    width: 60px;
    height: auto;
    margin: auto;
    border-radius: 50%;
    text-indent: 0;
    background-color: transparent;
    border: 4px solid transparent;
    margin-top: 10px;
    margin-bottom: 10px;
}

.testimon-section .bd-example .carousel-indicators .active {
    border: 4px solid #fff;
    -webkit-box-shadow: 0 0.5rem 1rem 0.5rem rgba(0, 0, 0, 0.15);
    box-shadow: 0 0.5rem 1rem 0.5rem rgba(0, 0, 0, 0.15);
}

.testimon-section .career h2 {
    text-transform: capitalize;
    font-size: 70px;
    font-weight: 500;
}

.testimon-section .career p {
    font-size: 40px;
    font-weight: 300;
    margin-top: 10px;
    line-height: 40px;
}

.testimon-section .career-image-container {
    background-image: url("../../assets/images/career-pic.jpg");
    -webkit-background-size: cover;
    background-size: cover;
    min-height: 50vh;
    background-position: center center;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    z-index: 1;
}

    .testimon-section .career-image-container::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ffffff8f;
        z-index: -1;
    }

    .testimon-section .career-image-container .life-revinfotech {
        font-size: 20px;
        background: #ffffffbf;
        padding: 6px 18px;
        color: #083d77;
    }

    .testimon-section .career-image-container .slider-wrap {
        width: 500px;
        position: absolute;
        right: 30px;
        bottom: 0px;
    }

        .testimon-section .career-image-container .slider-wrap .career-items {
            background-color: #fff;
            padding: 24px;
            -webkit-box-shadow: 0px 0px 9px -2px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 0px 9px -2px rgba(0, 0, 0, 0.2);
        }

            .testimon-section
            .career-image-container
            .slider-wrap
            .career-items
            .slick-dots {
                left: 0;
                bottom: -50px;
            }

                .testimon-section
                .career-image-container
                .slider-wrap
                .career-items
                .slick-dots
                li
                button:before {
                    font-size: 10px;
                }

            .testimon-section
            .career-image-container
            .slider-wrap
            .career-items
            .career-content
            .media-body
            h5 {
                font-size: 16px;
                font-weight: 600;
                line-height: 1.15;
            }

            .testimon-section
            .career-image-container
            .slider-wrap
            .career-items
            .career-content
            .media-body
            p {
                font-size: 12px;
                line-height: 1.6;
                margin-bottom: 0;
            }

.testimon-section .opportunity-banner {
    background-color: #083d77;
    color: #fff;
    padding: 30px;
    text-align: center;
    position: absolute;
    width: 1350px;
    max-width: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 0;
    z-index: 9;
    margin: auto;
}

@media (min-width: 992px) {
    .testimon-section .opportunity-banner {
        bottom: -84px;
    }
}

.testimon-section .opportunity-banner .btn-explore {
    background-color: #fff;
    color: #083d77;
    padding: 0.7rem 1.4rem;
    border-radius: 24px;
    font-size: 14px;
    display: inline-block;
}

    .testimon-section .opportunity-banner .btn-explore:hover {
        background-color: #0c8dd0;
    }

@media (max-width: 767px) {
    .testimonial-section .career-image-container .slider-wrap {
        width: 272px;
        position: absolute;
        right: 10px;
        bottom: -26px;
    }
}

/* Reviews Style End */
/* ----------------------------------------------- */
/* ----------------------------------------------- */
/* Detail Report Style Start */
/* ----------------------------------------------- */
/* ----------------------------------------------- */
.detail-report .nav-tabs {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.detail-report .nav-tabs {
    margin-bottom: 10px;
    border-bottom: 0;
}

@media (min-width: 576px) {
    .detail-report .nav-tabs {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        white-space: nowrap;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
}

.detail-report .nav-tabs .nav-link.active {
    background-color: #2e92c5;
    border-color: #2e92c5;
    color: #fff;
}

.detail-report .nav-tabs a {
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    border-width: 1px;
}

    .detail-report .nav-tabs a:hover {
        background-color: #2e92c5;
        border: 1px solid #2e92c5;
        color: #fff;
    }

.detail-report .tab-content {
    padding: 15px;
    font-size: 18px;
    background-color: transparent;
    color: #000;
    border: none;
}

.detail-report .nav-tabs .nav-link {
    font-size: 20px !important;
    border: 1px solid #2e92c5;
    color: #555555;
}

.detail-report .list-style {
    list-style-type: none;
    padding-left: 0px;
}

/* Detail Report Style End */
/* ----------------------------------------------- */
/* ----------------------------------------------- */
/* ----------------------------------------------- */
/* ----------------------------------------------- */
/* Plagiarism Checker Works Styles Start */
.plagiarism-works {
    background-color: #f4fbff;
    padding: 80px 0 50px;
}

    .plagiarism-works .features-card {
        background-color: #fff;
        max-width: 100%;
        margin: auto;
        -webkit-transition: all 0.8s ease;
        -o-transition: all 0.8s ease;
        transition: all 0.8s ease;
    }

@media (min-width: 576px) {
    .plagiarism-works .features-card,
    .proud-features .proud-item {
        width: 350px;
        max-width: 100%;
        margin: auto;
    }
}

.other-plagiarism {
    padding: 80px 0;
}

/* Plagiarism Checker Works Styles End */
/* ----------------------------------------------- */
/* ----------------------------------------------- */
/* Fix Plagiarism Styles Start */
/* ----------------------------------------------- */
/* ----------------------------------------------- */
.fix-plagiarism {
    background-color: #f4fbff;
    padding: 30px 0;
}

.plan-card {
    border-radius: 8px;
    background: -webkit-linear-gradient(285deg, #2e92c5 0%, #1f4d98 36%, #2e92c5 100%);
    background: -o-linear-gradient(285deg, #2e92c5 0%, #1f4d98 36%, #2e92c5 100%);
    background: linear-gradient(165deg, #2e92c5 0%, #1f4d98 36%, #2e92c5 100%);
    margin-bottom: 30px;
    -webkit-transition: all 0.4s ease-in;
    -o-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
}

    .plan-card:hover {
        -webkit-transform: scale(1.04);
        -ms-transform: scale(1.04);
        -o-transform: scale(1.04);
        transform: scale(1.04);
        background: -webkit-linear-gradient(75deg, #2e92c5 0%, #1f4d98 36%, #2e92c5 100%);
        background: -o-linear-gradient(75deg, #2e92c5 0%, #1f4d98 36%, #2e92c5 100%);
        background: linear-gradient(15deg, #2e92c5 0%, #1f4d98 36%, #2e92c5 100%);
    }

    .plan-card .card-head {
        padding: 20px;
    }

    .plan-card .card-body {
        padding: 20px;
    }

    .plan-card .card-foot {
        padding: 20px;
    }

/* ----------------------------------------------- */
/* ----------------------------------------------- */
/* Fix Plagiarism Styles End */
/* ----------------------------------------------- */
/* ----------------------------------------------- */
/* Plagiarism Upload Styles Start */
.plagiarism-upload .document-upload {
    padding: 80px 0 50px;
    background-color: #f4fbff;
}

.document-upload .document-title h1 {
    color: #1f4d98;
}

.document-upload .upload-top h3 {
    color: #1f4d98;
    margin-top: 0;
}

.document-upload .upload-top p {
    font-size: 16px;
}

.document-upload .upload-wrapper {
    width: 460px;
    height: 300px;
    border: 2px dashed #ccc;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 4px;
    position: relative;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}

.document-upload .button-wrap {
    text-align: center;
}

    .document-upload .button-wrap .btn-primary {
        width: 460px;
        max-width: 100%;
        font-size: 16px;
    }

@media (min-width: 768px) {
    .document-upload .upload-wrapper {
        margin-left: 0;
    }

    .document-upload .button-wrap {
        text-align: left;
    }
}

.document-upload .overlay {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.8);
    color: #fff;
    z-index: 0;
}

.document-upload .upload-wrapper .upload-body {
    position: relative;
    width: 100%;
    text-align: center;
}

    .document-upload .upload-wrapper .upload-body .loading-spinner {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
    }

        .document-upload .upload-wrapper .upload-body .loading-spinner i {
            color: #ff5722;
            -webkit-animation: spin 2s linear infinite;
            /* Safari */
            -o-animation: spin 2s linear infinite;
            animation: spin 2s linear infinite;
        }

        .document-upload .upload-wrapper .upload-body .loading-spinner p {
            font-size: 20px;
            font-weight: 600;
            color: #1f4d98;
        }

            .document-upload .upload-wrapper .upload-body .loading-spinner p:last-child {
                font-size: 16px;
                color: #464648;
            }

.document-upload .upload-wrapper .custom-wrap {
    margin-top: 20px;
}

    .document-upload .upload-wrapper .custom-wrap p:first-child {
        font-size: 18px;
        font-weight: 600;
    }

    .document-upload .upload-wrapper .custom-wrap p:last-child {
        font-weight: 600;
    }

    .document-upload .upload-wrapper .custom-wrap .custom-label {
        width: 260px;
        height: 50px;
        background-color: #cc4419;
        text-align: center;
        margin-bottom: 0;
        position: relative;
        border-radius: 4px;
    }

        .document-upload .upload-wrapper .custom-wrap .custom-label span {
            color: #fff;
            font-size: 16px;
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }

    .document-upload .upload-wrapper .custom-wrap .custom-input {
        visibility: hidden;
    }

.document-upload .transparent-price {
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
    -webkit-box-shadow: 0px 0px 9px -2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 9px -2px rgba(0, 0, 0, 0.2);
}

.transparent-price h4 {
    font-size: 16px;
}

.transparent-price button {
    background-color: #1f4d98;
    border: none;
    font-size: 16px;
    color: #fff;
    border-radius: 4px;
    padding: 6px 10px;
}

@media (min-width: 992px) {
    .transparent-price button {
        padding: 6px 12px;
    }

    .transparent-price h4 {
        font-size: 18px;
    }
}

.transparent-price .price-body {
    margin-top: 30px;
}

    .transparent-price .price-body .price-item {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        border: 1px solid #1f4d98;
        border-radius: 4px;
        padding: 10px 20px;
        margin-bottom: 20px;
        font-size: 16px;
        color: #1f4d98;
        -webkit-transition: all 0.5s ease-in;
        -o-transition: all 0.5s ease-in;
        transition: all 0.5s ease-in;
    }

@media (min-width: 992px) {
    .transparent-price .price-body .price-item {
        font-size: 18px;
    }
}

/* .transparent-price .price-body .price-item:hover {
  background-color: #1f4d98;
  color: #fff;
} */
.transparent-price .price-foot {
    margin-top: 30px;
}

    .transparent-price .price-foot ul {
        margin-left: 0px;
    }

    .transparent-price .price-foot li {
        font-size: 12px;
    }

@media (min-width: 576px) {
    .transparent-price .price-foot li {
        font-size: 14px;
    }
}

@media (min-width: 992px) {
    .transparent-price .price-foot ul {
        margin-left: 10px;
    }

    .transparent-price .price-foot li {
        font-size: 16px;
    }
}

.transparent-price .price-foot .fa-check,
.transparent-price .price-foot a {
    color: #ff5722;
}

.transparent-price .price-foot .other-source {
    font-size: 20px;
    text-align: center;
}

@media (min-width: 768px) {
    .transparent-price .price-body .price-item {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

@media (min-width: 992px) {
    .transparent-price .price-body .price-item {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
    }
}

.plagiarism-upload .plagiarism-works {
    background-color: #fff;
}

    .plagiarism-upload .plagiarism-works .features-card {
        background-color: #f4fbff;
    }

/* Plagiarism Upload Styles End */
/* ----------------------------------------------- */
/* ----------------------------------------------- */
/* ----------------------------------------------- */
/* ----------------------------------------------- */
/* Faq Section Style Start */
.faq-section {
    padding: 80px 0;
}

    .faq-section .accordion .card {
        margin-bottom: 20px;
        -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    }

    .faq-section .card .card-header {
        border-left: 5px solid #ff5722;
        background-color: #f4fbff;
        -webkit-transition: all 0.2s ease-in;
        -o-transition: all 0.2s ease-in;
        transition: all 0.2s ease-in;
    }

        .faq-section .card .card-header .btn {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
            -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
            justify-content: space-between;
            text-align: left;
            width: 100%;
        }

    .faq-section .card:hover .card-header {
        border-color: #ff5722;
    }

    .faq-section .card-group .card-title a {
        background-color: #f4fbff;
        padding: 10px;
        font-size: 16px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .faq-section .card .card-body {
        border-left: 5px solid #ff5722;
        border-top: 0 !important;
        padding-left: 25px;
        -webkit-transition: all 0.2s ease-in;
        -o-transition: all 0.2s ease-in;
        transition: all 0.2s ease-in;
    }

    .faq-section .card:hover .card-body {
        border-color: #ff5722;
    }

/* Faq Section Style End */
/* ----------------------------------------------- */
/* ----------------------------------------------- */
/* CDR Report Style Start */
/* ----------------------------------------------- */
/* ----------------------------------------------- */
.cdr-banner {
    background-image: url("./../images/compressed/our-responsibility.jpg");
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: -webkit-calc(100vh - 127px);
    min-height: calc(100vh - 127px);
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 60px 0;
}

    .cdr-banner p {
        font-size: 18px;
    }

    .cdr-banner .form-wrapper {
        background-color: #f4fbff;
        padding: 30px 20px;
        border-radius: 8px;
    }

        .cdr-banner .form-wrapper .dropdown button {
            width: 100%;
            text-align: left;
            border-color: #1f4d98;
            color: #1f4d98;
            background-color: #fff;
            border: 1px solid #1f4d98;
        }

        .cdr-banner .form-wrapper .form-control {
            border-color: #1f4d98;
            color: #1f4d98;
            border-radius: 4px;
        }

        .cdr-banner .form-wrapper .btn-wrap .btn-primary {
            background-color: #1f4d98;
            border-color: #1f4d98;
            color: #fff;
            border-radius: 4px;
            font-size: 16px;
        }

    .cdr-banner .custom-file-label {
        width: 42px;
        height: 42px;
        border-radius: 50%;
        background-color: #204c97;
        color: #fff;
    }

        .cdr-banner .custom-file-label::after {
            display: none;
        }

    /* Custom File Upload Name Show */
    .cdr-banner .file-name {
        position: absolute;
        left: 50px;
        top: 50%;
        -webkit-transform: translateY(-35%);
        -ms-transform: translateY(-35%);
        -o-transform: translateY(-35%);
        transform: translateY(-35%);
    }

.cdr-report .choose-us {
    padding: 60px 0;
}

.cdr-report .features-services {
    background-color: #f4fbff;
    padding: 60px 0;
}

.cdr-report .our-features {
    padding: 60px 0 30px;
}

.cdr-report .features-services .features-card {
    background-color: #fff;
}

    .cdr-report .features-services .features-card .read-more {
        background: #204c97;
        color: #fff;
        -webkit-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }

    .cdr-report .features-services .features-card:hover .read-more {
        color: #204c97;
        background-color: #fff;
    }

.how-it-works {
    background-color: #f4fbff;
    padding: 60px 0;
}

    .how-it-works .img-wrap {
        overflow: auto;
    }

        .how-it-works .img-wrap img {
            max-width: initial;
        }

@media (min-width: 992px) {
    .how-it-works .img-wrap img {
        max-width: 100%;
    }
}

/* CDR Report Style End */
/* ----------------------------------------------- */
/* ----------------------------------------------- */
/* CDR Writing Style Start */
/* ----------------------------------------------- */
/* ----------------------------------------------- */
.cdr-wrapper {
    background-color: #f4fbff;
}

    .cdr-wrapper p {
        font-size: 18px;
    }

    .cdr-wrapper .list-unstyled li {
        font-size: 16px;
        list-style-position: outside;
    }

    .cdr-wrapper .list-unstyled .icon-outer {
        color: #ff5722;
        margin-right: 10px;
    }

/* CDR Writing Style End */
/* ----------------------------------------------- */
/* ----------------------------------------------- */
/* ----------------------------------------------- */
/* ----------------------------------------------- */
/* PDF Report style Start */
.pdf-wrapper {
    background-color: #f4fbff;
}

    .pdf-wrapper .frame-wrapper iframe {
        width: 100%;
        height: -webkit-calc(100vh - 80px);
        height: calc(100vh - 80px);
    }

.overview-wrapper .source-overview {
    background-color: #fff;
}

.source-overview .title-bar {
    background-color: #deeaf7;
}

    .source-overview .title-bar a {
        color: #ff5722;
        background-color: #f4fbff;
        width: 40px;
        height: 40px;
        padding: 8px;
        border-radius: 50%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-shadow: 0px 1px 5px 1px #f4fbff;
        box-shadow: 0px 1px 5px 1px #f4fbff;
        text-decoration: none;
        -webkit-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        transition: all 0.4s ease;
    }

        .source-overview .title-bar a:hover {
            color: #f4fbff;
            background-color: #ff5722;
            -webkit-box-shadow: 0px 1px 5px 1px #ff5722;
            box-shadow: 0px 1px 5px 1px #ff5722;
        }

    .source-overview .title-bar span {
        color: #332c2c;
        font-size: 18px;
        font-weight: 600;
    }

.source-overview .header-bar h2 {
    color: #1f4d98;
    font-size: 36px;
}

.source-overview .header-bar p {
    font-size: 14px;
}

.source-overview .footer-bar button {
    color: #ff5722;
    background-color: #f4fbff;
    width: 72px;
    height: 60px;
    padding: 8px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 24px;
    border-radius: 0%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-decoration: none;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

    .source-overview .footer-bar button:hover {
        color: #f4fbff;
        background-color: #ff5722;
    }

@media (min-width: 768px) {
    .source-overview .body-bar .similarity-wrapper {
        height: -webkit-calc(100vh - 350px);
        height: calc(100vh - 350px);
        overflow: auto;
    }
}

.similarity-wrapper .card {
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
}

.similarity-wrapper .card-header button {
    background-color: #f4fbff;
}

    .similarity-wrapper .card-header button:hover {
        background-color: #deeaf7;
    }

.similarity-wrapper .card-header .number-wrap {
    width: 40px;
    height: 40px;
    padding: 10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #ff5722;
    border-radius: 50%;
    color: #fff;
    font-weight: 600;
    margin-right: 12px;
}

.similarity-wrapper .card-header h4 {
    color: #1f4d98;
}

.similarity-wrapper .card-header h6 {
    color: #1f4d98;
    text-align: left;
    word-break: break-word;
}

/* PDF Report Style End */
/* ----------------------------------------------- */
/* ----------------------------------------------- */
/* ---- particles.js Styles ---- */
canvas {
    display: block;
    vertical-align: bottom;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #1f4d9730;
    background-image: url("");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: 50% 50%;
}

.js-count-particles {
    font-size: 1.1em;
}

#stats,
.count-particles {
    -webkit-user-select: none;
    margin-top: 5px;
    margin-left: 5px;
}

#stats {
    border-radius: 3px 3px 0 0;
    overflow: hidden;
}

.count-particles {
    border-radius: 0 0 3px 3px;
}

/* ---- particles.js Styles End ---- */
/* Me Login form Styles */
a:hover,
.me-team-box .me-team-info a:hover {
    color: #1f4d98;
    text-decoration: none;
}

input,
input:focus,
textarea {
    outline: none;
}

::-webkit-input-placeholder {
    color: #ccc;
}

::-moz-placeholder {
    color: #ccc;
}

:-ms-input-placeholder {
    color: #ccc;
}

::-ms-input-placeholder {
    color: #ccc;
}

::placeholder {
    color: #ccc;
}

input,
textarea {
    width: 100%;
    height: 50px;
    border: 1px solid #eee;
    padding: 0px 15px;
}

/* login */
.me-login-close {
    font-size: 25px;
    position: absolute;
    top: -10px;
    right: -10px;
    background: #ff5722;
    width: 30px;
    height: 30px;
    display: block;
    border-radius: 1400%;
    line-height: 30px;
    color: #fff;
    text-align: center;
}

.me-login-form input {
    margin-bottom: 20px;
}

.me-login-title {
    margin-bottom: 20px;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
}

.me-login-model .modal-body {
    padding: 41px 0px 0px;
}

.me-login-model form {
    margin-bottom: 0;
}

.me-login-form {
    padding: 0px 50px;
}

.me-remember input {
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    margin-bottom: 0;
}

.me-remember .s_checkbox {
    position: absolute;
    top: 4px;
    left: 0;
    border: 1px solid #e9edfa;
    border-radius: 4px;
    background-color: #f8f9fd;
    -webkit-box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.04);
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.04);
    width: 17px;
    height: 17px;
}

.me-remember {
    margin: 15px 0px 27px;
    position: relative;
}

    .me-remember .s_checkbox:after {
        left: 6px;
        top: 2px;
        width: 5px;
        height: 10px;
        border: solid #1f4d98;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .me-remember input:checked ~ .s_checkbox:after {
        display: block;
    }

    .me-remember .s_checkbox:after {
        content: "";
        position: absolute;
        display: none;
    }

    .me-remember label {
        padding-left: 30px;
        cursor: pointer;
    }

.me-login-btn {
    position: relative;
}

    .me-forgot-password,
    .me-login-btn p {
        position: absolute;
        right: 0;
        top: 0;
        color: #606060;
    }

    .me-login-btn p {
        margin-bottom: 0px;
        bottom: 0;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }

        .me-login-btn p a {
            color: #1f4d98;
            padding-left: 5px;
            font-weight: 600;
        }

    .me-login-btn .me-btn {
        line-height: 39px;
    }

.me-login-with-social {
    background: -webkit-linear-gradient(45deg, #1f4d98, #ff5722);
    background: -o-linear-gradient(45deg, #1f4d98, #ff5722);
    background: linear-gradient(45deg, #1f4d98, #ff5722);
    padding: 20px;
    margin-top: 50px;
    text-align: center;
    position: relative;
}

    .me-login-with-social ul {
        padding: 0;
    }

        .me-login-with-social ul li {
            display: inline-block;
            margin-right: 5px;
        }

            .me-login-with-social ul li:last-child {
                display: none;
            }

    .me-login-with-social p {
        color: #fff;
        margin: 7px 0px 15px;
    }

    .me-login-with-social a,
    .me-login-with-social span {
        width: 30px;
        height: 30px;
        display: inline-block;
        background: #fff;
        border-radius: 100%;
        text-align: center;
        line-height: 30px;
        color: #1f4d98;
    }

        .me-login-with-social a i {
            line-height: 30px;
        }

    .me-login-with-social span {
        position: absolute;
        top: -17px;
        left: 0;
        right: 0;
        text-align: center;
        margin: auto;
        text-transform: uppercase;
        -webkit-box-shadow: 0px 0px 27px 0px rgba(0, 0, 0, 0.12);
        box-shadow: 0px 0px 27px 0px rgba(0, 0, 0, 0.12);
    }

.me-login-model .modal-content {
    border: none;
    border-radius: 0;
}

.modal.me-login-model {
    overflow-y: auto;
}

.me-btn {
    display: inline-block;
    min-width: 130px;
    height: 40px;
    /* line-height: 40px; */
    border: none;
    background: #ff5722;
    color: #ffffff;
    outline: none;
    text-align: center;
    border-radius: 30px;
    position: relative;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    text-transform: capitalize;
    cursor: pointer;
}

    .me-btn:focus {
        outline: none;
    }

    .me-btn:hover {
        background: #ffffff;
        color: #606060;
    }

    .me-btn:after {
        position: absolute;
        border: 2px solid #ff5722;
        content: "";
        width: 130px;
        height: 40px;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        border-radius: 30px;
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
        transform: scale(0);
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
    }

    .me-btn:hover:after {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }

.me-team-close span {
    background: #ff5722;
    width: 30px;
    height: 30px;
    display: block;
    border-radius: 1400%;
    line-height: 30px;
    color: #fff;
}

.me-team-close {
    position: absolute;
    top: -10px;
    right: -10px;
    opacity: 1;
    z-index: 5;
}

    .me-team-close:focus {
        outline: none;
    }

.close.me-team-close:hover {
    opacity: 1;
}

/* Featured Services Start */
.me-hwork-box {
    text-align: center;
    position: relative;
}

    .me-hwork-box .me-hwork-svg {
        width: 180px;
        height: 180px;
        background: #fff;
        margin: 0px auto 15px;
        line-height: 180px;
        border-radius: 100%;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        text-align: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        z-index: 2;
        position: relative;
        -webkit-box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.15) !important;
        box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.15) !important;
    }

    .me-hwork-box img {
        width: 60px;
        height: 60px;
    }

    .me-hwork-box .me-hwork-svg:after {
        position: absolute;
        content: "";
        border: 3px solid #ff5722;
        right: -2px;
        z-index: 0;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
        opacity: 0;
        visibility: hidden;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        border-radius: 100%;
    }

    .me-hwork-box h4 {
        font-weight: 600;
    }

    .me-hwork-box:hover .me-hwork-svg {
        -webkit-transform: translate(0px, -10px);
        -ms-transform: translate(0px, -10px);
        -o-transform: translate(0px, -10px);
        transform: translate(0px, -10px);
    }

        .me-hwork-box:hover .me-hwork-svg:after {
            opacity: 1;
            visibility: visible;
        }

/* Our Mission */
.our-mission {
    padding: 80px 0;
}

    .our-mission .me-about-img {
        position: relative;
        -webkit-box-shadow: 1.5px 3.99px 27px 0px rgba(0, 0, 0, 0.1);
        box-shadow: 1.5px 3.99px 27px 0px rgba(0, 0, 0, 0.1);
        margin-left: 20px;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
    }

.me-about-img:after {
    position: absolute;
    content: "";
    left: -20px;
    top: -20px;
    background: #ff5722;
    width: 250px;
    bottom: 120px;
    z-index: -1;
}

@media (max-width: 575px) {
    .me-about-img:after {
        width: 220px;
        bottom: 60px;
    }
}

.our-expert {
    padding: 80px 0;
}

    .our-expert .me-blog-box {
        width: 280px;
        max-width: 100%;
    }

    .our-expert .me-blog-content {
        background: #fff;
        -webkit-box-shadow: 1.5px 3.99px 27px 0px rgba(0, 0, 0, 0.1);
        box-shadow: 1.5px 3.99px 27px 0px rgba(0, 0, 0, 0.1);
        z-index: 1;
        padding: 19px 25px 22px 25px;
        position: relative;
        margin-left: auto;
        margin-top: -60px;
        width: 100%;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
        text-align: center;
    }

    .our-expert .me-blog-title {
        margin: 6px 0px;
    }

        .our-expert .me-blog-title a {
            color: #111111;
        }

    .our-expert .me-blog-box:hover .me-blog-content {
        -webkit-transform: translate(0px, -30px);
        -ms-transform: translate(0px, -30px);
        -o-transform: translate(0px, -30px);
        transform: translate(0px, -30px);
    }

.question-section {
    padding: 80px 0;
}

    .question-section .me-faq-box .me-faq-list {
        -webkit-box-shadow: 0px 3.99px 27px 0px rgba(0, 0, 0, 0.08);
        box-shadow: 0px 3.99px 27px 0px rgba(0, 0, 0, 0.08);
        margin-bottom: 30px;
        background: #fff;
        border-radius: 5px;
    }

.me-faq-head,
.me-faq-toggle p:last-child,
.me-faq-list p {
    margin-bottom: 0;
}

.me-faq-head {
    font-size: 18px;
    font-weight: 600;
    color: #545454;
    display: block;
    cursor: pointer;
    padding: 20px;
}

.me-faq-head {
    position: relative;
    padding-right: 40px;
}

    .me-faq-head.me-faq-open,
    .me-faq-head[aria-expanded="true"] {
        background: -webkit-linear-gradient(45deg, #204c97, #e95127);
        background: -o-linear-gradient(45deg, #204c97, #e95127);
        background: linear-gradient(45deg, #204c97, #e95127);
        color: #fff;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
    }

    .me-faq-head button {
        background: transparent;
        text-align: center;
        border: none;
        outline: none;
        position: absolute;
        right: 14px;
        top: 18px;
    }

    .me-faq-head span {
        width: 20px;
        height: 20px;
        background: #545454;
        border-radius: 100%;
        vertical-align: bottom;
        position: relative;
        display: inline-block;
    }

    .me-faq-head.me-faq-open.collapsed span {
        background-color: #545454;
    }

    .me-faq-head.me-faq-open span {
        background-color: #ffffff;
    }

    .me-faq-head span:after {
        width: 10px;
        height: 2px;
        background: #fff;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    }

    .me-faq-head.me-faq-open span:after,
    .me-faq-head[aria-expanded="true"] span:after {
        background-color: #0a3358;
    }

    .me-faq-head.me-faq-open.collapsed span:after,
    .me-faq-head[aria-expanded="true"] span {
        background: #fff;
    }

    .me-faq-head span:before {
        width: 2px;
        height: 10px;
        background: #fff;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    }

    .me-faq-head span:after {
        width: 10px;
        height: 2px;
        background: #fff;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    }

.question-section .team-imgs .img-wrap {
    width: 100px;
    display: inline-block;
}
