﻿.input-validation-error {
        border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
.field-validation-error {
    color:#a94442;
    position:absolute;
}

.pagination-container { clear:both;}
    .pagination-container{ display:inline-block; float:right;}
     .pagination-container ul li {
  display: block;
  border: 1px solid silver;
  float: left;
  font-weight: 700;
  margin: 0 2px;
  text-align: center;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(214,214,214,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(214,214,214,1)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(214,214,214,1) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(214,214,214,1) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(214,214,214,1) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(214,214,214,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#d6d6d6',GradientType=0 );
}
         .pagination-container ul li.active a {
                 background-color: #3576bc;
    color: #fff;
         }

.pagination-container a{font-size:11px; text-transform:uppercase;line-height: 20px;width:19px;text-align:center;display:inline-block;}
.pagination-container a:hover,.pagination-container a.active{ background:#3576bc; color:#FFFFFF;}
.pagingCounter {
    float: left;
}


.alert {
    padding: 15px;
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 15px;
}
.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
