﻿@model LibraryBILayer.Admin.SolutionLibr
@{
    ViewBag.Title = "Add Main Subject";
}

<script src="~/Contents/customjs/jquery.validate.min.js"></script>
<script src="~/Contents/customjs/jquery.validate.unobtrusive.js"></script>
<script src="~/Contents/customjs/jquery.validate.unobtrusive.min.js"></script>
<link href="~/Contents/customcss/validate.css" rel="stylesheet" />
<script src="~/Contents/customjs/validations.js"></script>
<style>
    .custom-input-error {
        border: 1px solid #a94442 !important;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;
        background-color: #FBE8E8 !important;
    }

    .custom-input-success {
        border: 1px solid #3c763d !important;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;
        background-color: #D6F3D6 !important;
    }

    .add_field_button {
        background-color: #089cd3;
        border: none;
        margin-bottom: 15px;
        color: #fff;
        font-weight: 400;
        padding: 5px 11px;
    }
</style>

<div class="content-wrapper" style="min-height: 960px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Add Main Subject
        </h1>
        <ol class="breadcrumb">
            <li><a href="/NewAdmin/Panel"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">  Add Main Subject</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <!-- Info boxes -->

        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Add Main Subject Information</h3>

                    </div><!-- /.box-header -->
                    <div class="box-body">
                        @using (Html.BeginForm("AddMainSubject", "MainSubject", new { @area = "NewAdmin" }, FormMethod.Post, new { enctype = "multipart/form-data", @id = "Add-Form" }))
                        {
                        <div class="box-body">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Subject Code</label>
                                @Html.TextBoxFor(m => m.SubjectCode, new { @placeholder = "Enter Subject Code", @class = "form-control", style = "width:85%" })
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Subject Name</label>
                                @Html.TextBoxFor(m => m.Subject, new { @placeholder = "Enter Subject Name", @class = "form-control", style = "width:85%" })
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">University</label>
                                @Html.DropDownListFor(m => m.UID, (IEnumerable<SelectListItem>)ViewBag.University, "Select", new { @class = "form-control", style = "width:85%" })
                                @*@Html.TextBoxFor(m => m.UID, new { @placeholder = "Select University", @class = "form-control", style = "width:85%" })*@
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Country</label>
                                @Html.TextBoxFor(m => m.country, new { @placeholder = "Enter Country", @class = "form-control", style = "width:85%" })
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Subject Category</label>
                                @Html.DropDownListFor(m => m.SolSubID, (IEnumerable<SelectListItem>)ViewBag.Subject, "Select", new { @class = "form-control", style = "width:85%" })
                                @*@Html.TextBoxFor(m => m.SolSubID, new { @placeholder = "Select Subject Category", @class = "form-control", style = "width:85%" })*@
                            </div>
                        </div><!-- /.box-body -->

                            <div class="box-footer">
                                <button type="submit" id="btnSubmitArticle2" class="btn btn-primary">Add</button>
                                <a href="/NewAdmin/MainSubject/ViewMainSubject" class="btn btn-primary" style="float: right;">Back to list</a>
                            </div>
                        }

                    </div><!-- ./box-body -->
                    <!-- /.box-footer -->
                </div><!-- /.box -->
            </div><!-- /.col -->
        </div>

    </section><!-- /.content -->
</div>
<script src="~/Areas/NewAdmin/NewContent/plugins/jQuery/jQuery-2.1.4.min.js"></script>
<script src="~/Areas/NewAdmin/NewContent/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
<script type="text/javascript" src="~/ckeditor/ckeditor.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        //  alert("ehl");

        $("#btnSubmitArticle2").click(function () {
            if ($("#SubjectCode").val() == "") {
                alert("Please enter subject code");
                $("#SubjectCode").focus();
                return false;
            }
            if ($("#SubjectName").val() == "") {
                alert("Please enter subject name");
                $("#SubjectName").focus();
                return false;
            }
            if ($("#UID").val() == "") {
                alert("Please select university");
                $("#UID").focus();
                return false;
            }
            if ($("#SolSubID").val() == "") {
                alert("Please select subject category");
                $("#SolSubID").focus();
                return false;
            }
           
        });


    });


</script>

@*<script src="~/Content/Editor/jquery.tinymce.min.js"></script>
    <script src="~/Content/Editor/tinymce.min.js"></script>*@
<script>

    $("#ParentArtName").keyup(function (e) {

        $(this).val($(this).val().replace(/[/\<>#.:;*$^]/g, ''));
        $(this).next('span').children().html("Special characters are not allowed.");
        //var isValid = true;
        //if (event.shiftKey == true) {
        //  //  return false;
        //}
        //if ((e.which < 48 && (e.keyCode != 8 && e.keyCode != 32)) || (e.which > 57 && e.which < 65) || (e.which > 90 && e.which < 97) || e.which > 122) {
        //    isValid = false;
        //}
        //if (e.keyCode == 189)
        //{ isValid = true; }
        //return isValid;
    });


    tinymce.init({
        mode: 'exact',
        //selector: 'textarea',
        elements: 'editor1',
        height: 250,
        statusbar: true,
        //resize: 'both',
        theme_advanced_resizing: false,
        plugins: [
            'wordcount',
            'advlist autolink lists link charmap print preview anchor',
            'searchreplace visualblocks code fullscreen',
            'insertdatetime media table contextmenu paste code'

        ],
        wordcount_countregex: /[\w\u2019\x27\-\u00C0-\u1FFF]+/g,
        toolbar_items_size: 'small',
        menubar: false,
        removed_menuitems: 'formats',
        toolbar: ' undo redo | fontsizeselect | bold italic | link | alignleft aligncenter | bullist numlist outdent indent | preview ',
        content_css: [
          '//fast.fonts.net/cssapi/e6dc9b99-64fe-4292-ad98-6974f93cd2a2.css',
          '//www.tinymce.com/css/codepen.min.css'
        ],
      //  invalid_elements: 'strong,bold,b,em,br,span,div,p,img,a,table,td,th,tr,header,font,body,h,h1,h2,h3,h4,h5',
      //  invalid_styles: 'color font-size text-decoration font-weight',
        entity_encoding: 'raw',
        entities: '160,nbsp,38,amp,60,lt,62,gt',

    });
</script>
<script type="text/javascript">

    $('#btnSubmitArticle').click(function () {

        var imagename = $('#imagefile').val().split('/').pop().split('\\').pop();
        if (imagename == "") {
            alert('Please Select Banner Image');
            return false;
        }

        isValid = true;
        if ($(tinyMCE.get('editor1').getContent()).text() != "") {
            if ($('#mceu_27').html() == "Words: 0") {
                isValid = false;
                alert('Only space or numeric content is not allowed.');
            }
        }
        if (isValid == false)
            return false;
    });


    @*function AddParentArticle() {
        debugger;
        var ParentArticleName = $('#ParentArticleName').val();
        if (ParentArticleName.trim() != "") {
            var ParentArticleActive = $('#ParentArticleActive').is(":checked");
            $.ajax({
                url: '@Url.Action("AddParArt", "Article", new { area = "Admin" })',
                type: "POST",
                data: JSON.stringify({ Name: ParentArticleName, IsActive: ParentArticleActive }),
                async: false,
                contentType: "application/json",
                dataType: "json",
                success: function (data) {
                    debugger;
                    if (data == 0) {
                    } else {
                        window.location.reload();
                    }
                },
                error: function (data) {
                    alert(data);
                }
            });
        }
        else {
            $('#ParentArticleName').css("border-color", "#a94442");
            $('#ParentArticleRequired').html("Master Category name is required.")
        }
    }
    $('#ParentArticleName').keypress(function () {
        $('#ParentArticleName').css("border-color", "#4375A7");
        $('#ParentArticleRequired').html("")
    });*@
</script>



