﻿@model LibraryDataLayer.tblBlogCat
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/NewAdmin/Views/Shared/_Layout.cshtml";
}

<script src="~/Contents/customjs/jquery.validate.min.js"></script>
<script src="~/Contents/customjs/jquery.validate.unobtrusive.js"></script>
<script src="~/Contents/customjs/jquery.validate.unobtrusive.min.js"></script>
<link href="~/Contents/customcss/validate.css" rel="stylesheet" />
<script src="~/Contents/customjs/validations.js"></script>
<style>
    .custom-input-error {
        border: 1px solid #a94442 !important;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;
        background-color: #FBE8E8 !important;
    }

    .custom-input-success {
        border: 1px solid #3c763d !important;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;
        background-color: #D6F3D6 !important;
    }

    .add_field_button {
        background-color: #089cd3;
        border: none;
        margin-bottom: 15px;
        color: #fff;
        font-weight: 400;
        padding: 5px 11px;
    }

    .add_field_button1 {
        background-color: #089cd3;
        border: none;
        margin-bottom: 15px;
        color: #fff;
        font-weight: 400;
        padding: 5px 11px;
    }
</style>

<div class="content-wrapper" style="min-height: 960px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Add Blog Category
        </h1>
        <ol class="breadcrumb">
            <li><a href="/NewAdmin/Panel"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active"> Add Blog Category</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <!-- Info boxes -->

        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Add Blog Category Information</h3>

                    </div><!-- /.box-header -->
                    <div class="box-body">
                        @using (Html.BeginForm("AddBlogCat", "BlogCat", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                        <div class="box-body">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Category Name</label>
                                @Html.TextBoxFor(c => c.BlogCatName, new { @class = "form-control", @placeholder = "Enter Blog Category Name" })
                                @*  @Html.DropDownListFor(m => m.UID, (IEnumerable<SelectListItem>)ViewBag.University, "Select", new { @class = "form-control", style = "width:85%" })*@
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Meta Title</label>
                                @Html.TextBoxFor(c => c.Meta_Title, new { @class = "form-control", @placeholder = "Enter Meta Title" })
                                @*@Html.DropDownListFor(m => m.SolSubID, (IEnumerable<SelectListItem>)ViewBag.Subject, "Select", new { @class = "form-control", style = "width:85%" })*@
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Meta Desc</label>
                                @Html.TextBoxFor(c => c.Meta_Desc, new { @class = "form-control", @placeholder = "Enter Meta Description" })
                                @*@Html.DropDownListFor(m => m.SolSubID, (IEnumerable<SelectListItem>)ViewBag.Subject, "Select", new { @class = "form-control", style = "width:85%" })*@
                            </div>

                            <div class="form-group">
                                <label for="exampleInputEmail1">Meta Keyword</label>
                                @Html.TextBoxFor(c => c.Meta_Keyword, new { @class = "form-control", @placeholder = "Enter Meta Keyword" })
                                @*@Html.TextBoxFor(m => m.Subject_Code, new { @placeholder = "Enter Subject Code", @class = "form-control", style = "width:85%" })*@
                            </div>
                           
                            @*<div class="form-group">
            <label for="exampleInputEmail1">Keywords</label>
            @Html.TextBoxFor(m => m.Tags, new { @class = "form-control", @placeholder = "Enter keyword", @style = "width:85%", maxlength = 400 })

        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Description</label>
            @Html.TextBoxFor(m => m.Description, new { @class = "form-control", @placeholder = "Enter Description", @style = "width:85%", maxlength = 4000 })

        </div>*@


                            @*<div class="form-group">
            <label for="exampleInputEmail1">Solution Url</label>
            @Html.TextBoxFor(m => m.UrlText, new { @id = "UrlText", @name = "UrlText", @class = "form-control", @Placeholder = "Enter Solution URL", @rows = "10", @cols = "80" })
        </div>*@

                          



                        </div><!-- /.box-body -->

                            <div class="box-footer">
                                <button type="submit" id="btnSubmitArticle" class="btn btn-primary">Add</button>
                                <a href="/NewAdmin/BlogCat/BlogCatList" class="btn btn-primary" style="float: right;">Back to list</a>
                            </div>
                        }

                    </div><!-- ./box-body -->
                    <!-- /.box-footer -->
                </div><!-- /.box -->
            </div><!-- /.col -->
        </div>

    </section><!-- /.content -->
</div>
<script src="~/Areas/NewAdmin/NewContent/plugins/jQuery/jQuery-2.1.4.min.js"></script>
<script src="~/Areas/NewAdmin/NewContent/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/5.0.4/tinymce.min.js"></script>
<script>
    $(document).ready(function () {

        var max_fields = 6; //maximum input boxes allowed
        var wrapper = $(".input_fields_wrap"); //Fields wrapper
        var add_button = $(".add_field_button"); //Add button ID

        var x = 1; //initlal text box count
        $(add_button).click(function (e) { //on add input button click
            e.preventDefault();
            if (x < max_fields) { //max input box allowed
                x++; //text box increment
                $(wrapper).append('<div class="row" style= "margin-left:0px;margin-right:0px;"> <input type="file" name="myfile[]" class="myup" onchange="angular.element(this).scope().LoadFileData(this.files)" style="height: 36px; margin-bottom: 5px;float:left;width:85%; padding:6px;" /> <a href="javascript:void(0)" class="remove_field cross" style="padding-left: 2%;"><img src="/img/redCross.png" class="mainds" style="padding-left: 5px; width: 27px;padding-top: 7px; float:right;"></a></div>'); //add input box
                //$(wrapper).append('<div class="element"><i class="fa fa-cloud-upload fm gyanUpload' + x + '" ></i > <span class="name spanname' + x +'" style="padding-left:5px;">No file selected</span><input type="file" name="myFile[]" class="myfileup"><a href="#" class="remove_field cross"><img src="images/errorclose.png" class="mainds" style="padding-left: 5px;"></a></div>'); //add input box

                $(".attach").text('Attach More Files');
            }
        });

        $(wrapper).on("click", ".remove_field", function (e) { //user click on remove text
            e.preventDefault(); $(this).parent('div').remove(); x--;
            var m = $('.myup').length;
            if (m == 0) {
                $(".attach").text('Attach File');
            }
        });

        var max_fields1 = 6; //maximum input boxes allowed
        var wrapper1 = $(".input_fields_wrap1"); //Fields wrapper
        var add_button1 = $(".add_field_button1"); //Add button ID

        var y = 1; //initlal text box count
        $(add_button1).click(function (e) { //on add input button click
            e.preventDefault();
            if (y < max_fields1) { //max input box allowed
                y++; //text box increment
                $(wrapper1).append('<div class="row" style= "margin-left:0px;margin-right:0px;"> <input type="file" name="myfile[]" class="myup1" onchange="angular.element(this).scope().LoadFileData(this.files)" style="height: 36px; margin-bottom: 5px;float:left;width:85%; padding:6px;" /> <a href="javascript:void(0)" class="remove_field1 cross" style="padding-left: 2%;"><img src="/img/redCross.png" class="mainds" style="padding-left: 5px; width: 27px;padding-top: 7px; float:right;"></a></div>'); //add input box
                //$(wrapper).append('<div class="element"><i class="fa fa-cloud-upload fm gyanUpload' + x + '" ></i > <span class="name spanname' + x +'" style="padding-left:5px;">No file selected</span><input type="file" name="myFile[]" class="myfileup"><a href="#" class="remove_field cross"><img src="images/errorclose.png" class="mainds" style="padding-left: 5px;"></a></div>'); //add input box

                $(".attach1").text('Attach More Files');
            }
        });

        $(wrapper1).on("click", ".remove_field1", function (e) { //user click on remove text
            e.preventDefault(); $(this).parent('div').remove(); y--;
            var m = $('.myup1').length;
            if (m == 0) {
                $(".attach1").text('Attach File');
            }
        });

    });
</script>

@*<script src="~/Content/Editor/jquery.tinymce.min.js"></script>
    <script src="~/Content/Editor/tinymce.min.js"></script>*@
<script>

    $("#ParentArtName").keyup(function (e) {

        $(this).val($(this).val().replace(/[/\<>#.:;*$^]/g, ''));
        $(this).next('span').children().html("Special characters are not allowed.");
        //var isValid = true;
        //if (event.shiftKey == true) {
        //  //  return false;
        //}
        //if ((e.which < 48 && (e.keyCode != 8 && e.keyCode != 32)) || (e.which > 57 && e.which < 65) || (e.which > 90 && e.which < 97) || e.which > 122) {
        //    isValid = false;
        //}
        //if (e.keyCode == 189)
        //{ isValid = true; }
        //return isValid;
    });



</script>
<script type="text/javascript">
    tinymce.init({
        selector: "textarea",
        plugins: "code,fullscreen,link,image,lists,table",
        extended_valid_elements: "#span[class]",
        relative_urls: false,
        remove_script_host: false,
        convert_urls: false,
        toolbar: "numlist bullist underline bold italic fontsizeselect formatselect code fullscreen link image alignleft aligncenter alignright alignjustify"
    });
</script>


@*<script type="text/javascript">

    $('#btnSubmitArticle').click(function () {

        //var imagename = $('#imagefile').val().split('/').pop().split('\\').pop();
        //if (imagename == "") {
        //    alert('Please Select Banner Image');
        //    return false;
        //}

        //isValid = true;
        //if ($(tinyMCE.get('editor1').getContent()).text() != "") {
        //    if ($('#mceu_27').html() == "Words: 0") {
        //        isValid = false;
        //        alert('Only space or numeric content is not allowed.');
        //    }
        //}
        //if (isValid == false)
        //    return false;


        if ($("#HUID").val() != null) {
            alert("Please select university");
            $("#HUID").focus();
            return false;
        }
        if ($("#HSolSubID").val() != null) {
            alert("Please select category");
            $("#HSolSubID").focus();
            return false;
        }
        if ($("#HMSID").val() != null) {
            alert("Please select subject code");
            $("#HMSID").focus();
            return false;
        }
        //if ($("#Title").val() != "") {
        //    alert("Please enter solution library title");
        //    $("#Title").focus();
        //    return false;
        //}
        if ($("#Amount").val() != "") {
            alert("Please enter the amount");
            $("#Amount").focus();
            return false;
        }
    });*@


@*function AddParentArticle() {
        debugger;
        var ParentArticleName = $('#ParentArticleName').val();
        if (ParentArticleName.trim() != "") {
            var ParentArticleActive = $('#ParentArticleActive').is(":checked");
            $.ajax({
                url: '@Url.Action("AddParArt", "Article", new { area = "Admin" })',
                type: "POST",
                data: JSON.stringify({ Name: ParentArticleName, IsActive: ParentArticleActive }),
                async: false,
                contentType: "application/json",
                dataType: "json",
                success: function (data) {
                    debugger;
                    if (data == 0) {
                    } else {
                        window.location.reload();
                    }
                },
                error: function (data) {
                    alert(data);
                }
            });
        }
        else {
            $('#ParentArticleName').css("border-color", "#a94442");
            $('#ParentArticleRequired').html("Master Category name is required.")
        }
    }
    $('#ParentArticleName').keypress(function () {
        $('#ParentArticleName').css("border-color", "#4375A7");
        $('#ParentArticleRequired').html("")
    });*@



