﻿@using LibraryBILayer.Model
@model IEnumerable<AdminNavigationModel>
@{
    List<AdminNavigationModel> tempList = new List<AdminNavigationModel>();
    List<AdminNavigationModel> subItemList = new List<AdminNavigationModel>();
}

<ul class="sidebar-menu" data-widget="tree">
    @foreach (var item in Model)
    {
        if(tempList.Contains(item))
        {
            continue;
        }

        int subItemCount = Model.Where(x => x.ParentID == item.AdminNavigationID && x.IsParent != true).Count();
        if (item.IsParent == true && subItemCount <= 0)
        {
            <li class="treeview">
                <a href="/@item.AreaName/@item.Controller/@item.Action">
                    <i class="@item.Glyphicon"></i> <span> @item.AdminNavigation</span>
                </a>
            </li>
        }

        else
        {
            subItemList = Model.Where(x => x.ParentID == item.AdminNavigationID && x.IsParent != true).ToList();
            tempList.AddRange(subItemList);
            <li class="treeview">
                <a href="#">
                    <i class="@item.Glyphicon"></i> <span>@item.AdminNavigation</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    @foreach (var subItem in subItemList)
                    {
                        <li>
                            <a href="/@subItem.AreaName/@subItem.Controller/@subItem.Action"><i class="@subItem.Glyphicon"></i> @subItem.AdminNavigation</a>
                        </li>
                    }
                </ul>
            </li>
        }
    }
</ul>

@*<ul class="sidebar-menu" data-widget="tree">
    <li class="treeview">
        <a href="/NewAdmin/Panel">
            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
        </a>
    </li>

    <li class="treeview">
        <a href="#">
            <i class="fa fa-rss"></i> <span>Tenant Management</span>
            <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
            <li>
                <a href="/NewAdmin/AdminRole/AdminRoleList"><i class="fa fa-circle-o"></i> Manage Roles</a>
            </li>
            <li><a href="/NewAdmin/AdminUser/AdminUserList"><i class="fa fa-circle-o"></i> Manage Admin</a></li>
            <li>
                <a href="/NewAdmin/ManageRoleClaim/Index"><i class="fa fa-circle-o"></i> Manage Role Claims</a>
            </li>
        </ul>
    </li>

    <li class="treeview">
        <a href="/NewAdmin/UserNavigation/UserNavigationList">
            <i class="fa fa-question-circle" aria-hidden="true"></i> <span>Manage Navigation</span>
        </a>
    </li>

    <li class="treeview">
        <a href="/NewAdmin/Question">
            <i class="fa fa-question-circle" aria-hidden="true"></i> <span>24/7 Questions</span>
        </a>
    </li>

    <li class="treeview">
        <a href="#">
            <i class="fa fa-rss"></i> <span>Plagiarism</span>
            <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
            <li>
                <a href="/NewAdmin/ManagePlagiarism/PlagiarismPriceList"><i class="fa fa-circle-o"></i> Manage Price</a>
            </li>
            <li><a href="/NewAdmin/ManagePlagiarism/Index"><i class="fa fa-question-circle"></i> Plagiarism Checker</a></li>

        </ul>
    </li>


    <li class="treeview">
        <a href="/NewAdmin/ManageCDRService">
            <i class="fa fa-question-circle" aria-hidden="true"></i> <span>CDR Service</span>
        </a>
    </li>


    <li class="treeview">
        <a href="#">
            <i class="fa fa-rss"></i> <span>Manage Blog</span>
            <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
            <li>
                <a href="/NewAdmin/BlogCat/Index"><i class="fa fa-circle-o"></i> Add Blog Category</a>
            </li>
            <li><a href="/NewAdmin/BlogCat/BlogCatList"><i class="fa fa-circle-o"></i> View Blog Category</a></li>
            <li>
                <a href="/NewAdmin/BlogData/Index"><i class="fa fa-circle-o"></i> Add Blog </a>
            </li>
            <li><a href="/NewAdmin/BlogData/BlogLists"><i class="fa fa-circle-o"></i> View Blog</a></li>



        </ul>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-users"></i> <span>Manage Solution</span>
            <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
            <li>
                <a href="/NewAdmin/SolutionLibrary/AddSolution"><i class="fa fa-circle-o"></i> Add Solution </a>
            </li>
            <li><a href="/NewAdmin/SolutionLibrary/ViewSolution"><i class="fa fa-circle-o"></i> Manage Solution</a></li>



        </ul>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-university" aria-hidden="true"></i> <span>Manage University</span>
            <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
            <li>
                <a href="/NewAdmin/University/AddUniversity"><i class="fa fa-circle-o"></i> Add University </a>
            </li>
            <li><a href="/NewAdmin/University/ViewUniversity"><i class="fa fa-circle-o"></i> View University</a></li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-file" aria-hidden="true"></i> <span>Manage Category</span>
            <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
            <li>
                <a href="/NewAdmin/Subject/AddSubject"><i class="fa fa-circle-o"></i> Add Category </a>
            </li>
            <li><a href="/NewAdmin/Subject/ViewSubject"><i class="fa fa-circle-o"></i> View Category</a></li>
        </ul>
    </li>
    <li>
        <a href="/NewAdmin/Panel/RegisterData">
            <i class="fa fa-graduation-cap" aria-hidden="true"></i> <span>Student Data</span>
        </a>

    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-book" aria-hidden="true"></i> <span>Manage Subject</span>
            <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
            <li>
                <a href="/NewAdmin/MainSubject/AddMainSubject"><i class="fa fa-circle-o"></i> Add Subject </a>
            </li>
            <li><a href="/NewAdmin/MainSubject/ViewMainSubject"><i class="fa fa-circle-o"></i> View Subject</a></li>
        </ul>
    </li>
    <li>
        <a href="/NewAdmin/Panel/OrderData">
            <i class="fa fa-shopping-cart" aria-hidden="true"></i> <span>Order Data</span>
        </a>

    </li>

</ul>*@
