﻿@model LibraryApp.Areas.NewAdmin.Models.AdminProfile

@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login V2</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Areas/NewAdmin/NewContent/login/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Areas/NewAdmin/NewContent/login/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Areas/NewAdmin/NewContent/login/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Areas/NewAdmin/NewContent/login/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Areas/NewAdmin/NewContent/login/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Areas/NewAdmin/NewContent/login/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Areas/NewAdmin/NewContent/login/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Areas/NewAdmin/NewContent/login/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Areas/NewAdmin/NewContent/login/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Areas/NewAdmin/NewContent/login/css/main.css">
    <!--===============================================================================================-->
</head>
<body>

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                @using (Html.BeginForm("GetLogin", "Login", new { returl = ViewBag.returl,@class= "login100-form validate-form" }, FormMethod.Post))
                {
                        <span class="login100-form-title p-b-26">
                            Welcome
                        </span>
                        <span class="login100-form-title p-b-48">
                            <i class="zmdi zmdi-font"></i>
                        </span>

                        <div class="wrap-input100 validate-input" data-validate="Valid email is: a@b.c">

                            @Html.TextBoxFor(model => model.Email, new { @class = "input100", placeholder = "Email", id = "Email" })
                            @*<span class="focus-input100" data-placeholder="Email"></span>*@
                        </div>

                        <div class="wrap-input100 validate-input" data-validate="Enter password">
                            <span class="btn-show-pass">
                                <i class="zmdi zmdi-eye"></i>
                            </span>
                            @Html.PasswordFor(model => model.Password, new { @class = "input100", placeholder = "Password", id = "Password" })
                            @*<span class="focus-input100" data-placeholder="Password"></span>*@
                        </div>

                        <div class="container-login100-form-btn">
                            <div class="wrap-login100-form-btn">
                                <div class="login100-form-bgbtn"></div>
                                <button class="login100-form-btn">
                                    Login
                                </button>
                            </div>
                        </div>

                        @*<div class="text-center p-t-115">
                    <span class="txt1">
                        Don’t have an account?
                    </span>

                    <a class="txt2" href="#">
                        Sign Up
                    </a>
                </div>*@
                   
                }
                </div>
        </div>
    </div>


    <div id="dropDownSelect1"></div>

    <!--===============================================================================================-->
    <script src="~/Areas/NewAdmin/NewContent/login/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Areas/NewAdmin/NewContent/login/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Areas/NewAdmin/NewContent/login/vendor/bootstrap/js/popper.js"></script>
    <script src="~/Areas/NewAdmin/NewContent/login/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Areas/NewAdmin/NewContent/login/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Areas/NewAdmin/NewContent/login/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/Areas/NewAdmin/NewContent/login/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/Areas/NewAdmin/NewContent/login/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/Areas/NewAdmin/NewContent/login/js/main.js"></script>

</body>
</html>