﻿@model LibraryBILayer.Admin.SolutionLibr
@using LibraryBILayer.Admin
@{
    int i = 1;
    ViewBag.Title = "Index";
    Layout = "~/Areas/NewAdmin/Views/Shared/_Layout.cshtml";
}

<script src="~/Content/customjs/jquery.validate.min.js"></script>
<script src="~/Content/customjs/jquery.validate.unobtrusive.js"></script>
<script src="~/Content/customjs/jquery.validate.unobtrusive.min.js"></script>
<link href="~/Content/customcss/validate.css" rel="stylesheet" />
<script src="~/Content/customjs/validations.js"></script>
<style>
    .custom-input-error {
        border: 1px solid #a94442 !important;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;
        background-color: #FBE8E8 !important;
    }

    .custom-input-success {
        border: 1px solid #3c763d !important;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;
        background-color: #D6F3D6 !important;
    }

    .add_field_button {
        background-color: #089cd3;
        border: none;
        margin-bottom: 15px;
        color: #fff;
        font-weight: 400;
        padding: 5px 11px;
    }

    .add_field_button1 {
        background-color: #089cd3;
        border: none;
        margin-bottom: 15px;
        color: #fff;
        font-weight: 400;
        padding: 5px 11px;
    }

    .del {
        font-size: 12px;
        margin-left: 20px;
        color: red;
        text-decoration: underline;
        cursor: pointer;
    }
</style>

<div class="content-wrapper" style="min-height: 960px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Edit Solutions
        </h1>
        <ol class="breadcrumb">
            <li><a href="/NewAdmin/Panel"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active"> Edit Solution</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <!-- Info boxes -->

        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Edit Solution Information</h3>

                    </div><!-- /.box-header -->
                    <div class="box-body">

                        @using (Html.BeginForm("EditSolutionLibrary", "SolutionLibrary", new { @area = "NewAdmin" }, FormMethod.Post, new { enctype = "multipart/form-data", @id = "Add-Form" }))
                        {
                            <div class="box-body">

                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">University</label>
                                            @Html.HiddenFor(c => c.UID)
                                            <select class="form-control" id="HUID" name="HUID" style="width:85%"></select>
                                            @*  @Html.DropDownListFor(m => m.UID, (IEnumerable<SelectListItem>)ViewBag.University, "Select", new { @class = "form-control", style = "width:85%" })*@
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Subject Category</label>
                                            @Html.HiddenFor(c => c.SolSubID)
                                            <select class="form-control" id="HSolSubID" name="HSolSubID" style="width:85%"></select>
                                            @*@Html.DropDownListFor(m => m.SolSubID, (IEnumerable<SelectListItem>)ViewBag.Subject, "Select", new { @class = "form-control", style = "width:85%" })*@
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Subject Code</label>
                                            @Html.HiddenFor(c => c.MSID)
                                            @Html.HiddenFor(m => m.AnswerID)
                                            @Html.HiddenFor(m => m.Sol_ID)
                                            @Html.HiddenFor(c => c.Question_File_ID)
                                            @Html.HiddenFor(c => c.SubjectName)
                                            @Html.HiddenFor(c => c.country)
                                            <input type="hidden" name="CheckStatus" id="CheckStatus" value="@Model.CheckStatus" />
                                            <select class="form-control" id="HMSID" name="HMSID" style="width:85%"></select>
                                            @*@Html.TextBoxFor(m => m.Subject_Code, new { @placeholder = "Enter Subject Code", @class = "form-control", style = "width:85%" })*@
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Subject Name</label>
                                            <select class="form-control" id="HSubjectName" name="HSubjectName" style="width:85%"></select>
                                            @*@Html.TextBoxFor(m => m.Subject_Code, new { @placeholder = "Enter Subject Code", @class = "form-control", style = "width:85%" })*@
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Country</label>
                                            <select class="form-control" id="HCountry" name="HCountry" style="width:85%"></select>
                                            @*@Html.TextBoxFor(m => m.Subject_Code, new { @placeholder = "Enter Subject Code", @class = "form-control", style = "width:85%" })*@
                                        </div>
                                    </div>

                                    <div class="col-md-6 col-sm-12">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Solution Library Title</label>
                                            @Html.TextBoxFor(m => m.Title, new { @class = "form-control", @placeholder = "Enter Solution Library Title", @style = "width:85%", maxlength = 200 })

                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Keywords</label>
                                            @Html.TextBoxFor(m => m.Tags, new { @class = "form-control", @placeholder = "Enter keyword", @style = "width:85%", maxlength = 400 })

                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Description</label>
                                            @Html.TextBoxFor(m => m.Description, new { @class = "form-control", @placeholder = "Enter Description", @style = "width:85%", maxlength = 4000 })

                                        </div>

                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Amount</label>
                                            @Html.TextBoxFor(m => m.Amount, new { @class = "form-control", @placeholder = "Enter Amount", @style = "width:85%", maxlength = 4000 })

                                        </div>

                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Solution Url</label>
                                            @Html.TextBoxFor(m => m.UrlText, new { @id = "UrlText", @name = "UrlText", @class = "form-control", @Placeholder = "Enter Solution URL", @rows = "10", @cols = "80" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Solution Library Question Content</label>
                                    @Html.TextAreaFor(m => m.SolContent, new { @id = "editor1", @name = "editor1", @class = "form-control ckeditor", @Placeholder = "Enter content here", @rows = "10", @cols = "80" })
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Upload Question Files</label>
                                    @*<input type="file" name="file" />*@
                                    <div class="input_fields_wrap">
                                        <button class="add_field_button btnColor"><i class="pin_img"><img src="~/images/link-chain.png" style="width: 17px;"></i> <span class="attach">Attach File</span></button>
                                    </div>

                                    @foreach (var m in ManageLibrary.GetQuestionFile(Convert.ToInt32(Model.Sol_ID)))
                                    {
                                        <p>
                                            <a class="answerFile" href="@m.Question_File_Name.Replace("~/","../../../")" download>Question_@i</a>
                                            <a onclick="return delQues(@m.ID)" class="del">Delete</a>
                                        </p>
                                        i++;
                                    }

                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Answer </label>
                                    @*@Html.CheckBoxFor(c=>c.IsAnswer==null?false:true)*@
                                    @*@Html.Partial(c=>c.)*@
                                    <input type="checkbox" name="IsAnswer" id="IsAnswer" />

                                </div>
                                <div class="form-group" id="ans" style="display:none;">
                                    <label for="exampleInputEmail1">Answer Preview </label>
                                    @Html.TextAreaFor(m => m.AnswerPreview, new { @id = "editor2", @name = "editor2", @class = "form-control ckeditor", @Placeholder = "Enter content here", @rows = "10", @cols = "80" })
                                </div>
                                <div class="form-group" id="ans2" style="display:none;">

                                    <label for="exampleInputEmail1">Upload Solution File</label>

                                    <div class="input_fields_wrap1">
                                        <button class="add_field_button1 btnColor"><i class="pin_img"><img src="~/images/link-chain.png" style="width: 17px;"></i> <span class="attach1">Attach File</span></button>
                                    </div>
                                    <p>
                                        @if (Model.AnswerfilePath != null)
                                        {
                                            <a class="answerFile" href="@Html.ValueFor(c => c.AnswerfilePath).ToString().Replace("~/", "../../../")" download>Download Answer File</a>
                                        }

                                    </p>
                                </div>

                            </div><!-- /.box-body -->

                            <div class="box-footer">
                                <input type="hidden" id="hidUID" />
                                <button type="submit" id="btnSubmitArticle" class="btn btn-primary">Update</button>
                                <a href="/NewAdmin/SolutionLibrary/ViewSolution" class="btn btn-primary" style="float: right;">Back to list</a>
                            </div>
                        }

                    </div><!-- ./box-body -->
                    <!-- /.box-footer -->
                </div><!-- /.box -->
            </div><!-- /.col -->
        </div>

    </section><!-- /.content -->
</div>
<script>
    function delQues(Id) {
        $.ajax({
            url: '@Url.Action("DeleteQuestionSolution", "SolutionLibrary", new { area = "NewAdmin" })',
            type: "POST",
            data: JSON.stringify({ Id: Id }),
            async: false,
            contentType: "application/json",
            dataType: "json",
            success: function (result) {
                if (result > 0) {

                    toastr["success"]("Record is successfully deleted.");

                    window.location.reload();
                    //  alert("Record is successfully deleted.");
                   // GetArticlesList();
                }
                else {
                    toastr["error"]("Some error while processing your request.")
                }
            },
            error: function (data) {
                toastr["error"]("Some error while processing your request.")
            }
        });
    }
</script>

<script src="~/Areas/NewAdmin/NewContent/plugins/jQuery/jQuery-2.1.4.min.js"></script>
<script src="~/Areas/NewAdmin/NewContent/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/5.0.4/tinymce.min.js"></script>
@*<script src="~/Content/Editor/jquery.tinymce.min.js"></script>
    <script src="~/Content/Editor/tinymce.min.js"></script>*@

<script>
    $(document).ready(function () {

        var max_fields = 6; //maximum input boxes allowed
        var wrapper = $(".input_fields_wrap"); //Fields wrapper
        var add_button = $(".add_field_button"); //Add button ID

        var x = 1; //initlal text box count
        $(add_button).click(function (e) { //on add input button click
            e.preventDefault();
            if (x < max_fields) { //max input box allowed
                x++; //text box increment
                $(wrapper).append('<div class="row" style= "margin-left:0px;margin-right:0px;"> <input type="file" name="myfile[]" class="myup" onchange="angular.element(this).scope().LoadFileData(this.files)" style="height: 36px; margin-bottom: 5px;float:left;width:85%; padding:6px;" /> <a href="javascript:void(0)" class="remove_field cross" style="padding-left: 2%;"><img src="/img/redCross.png" class="mainds" style="padding-left: 5px; width: 27px;padding-top: 7px; float:right;"></a></div>'); //add input box
                //$(wrapper).append('<div class="element"><i class="fa fa-cloud-upload fm gyanUpload' + x + '" ></i > <span class="name spanname' + x +'" style="padding-left:5px;">No file selected</span><input type="file" name="myFile[]" class="myfileup"><a href="#" class="remove_field cross"><img src="images/errorclose.png" class="mainds" style="padding-left: 5px;"></a></div>'); //add input box

                $(".attach").text('Attach More Files');
            }
        });

        $(wrapper).on("click", ".remove_field", function (e) { //user click on remove text
            e.preventDefault(); $(this).parent('div').remove(); x--;
            var m = $('.myup').length;
            if (m == 0) {
                $(".attach").text('Attach File');
            }
        });

        var max_fields1 = 6; //maximum input boxes allowed
        var wrapper1 = $(".input_fields_wrap1"); //Fields wrapper
        var add_button1 = $(".add_field_button1"); //Add button ID

        var y = 1; //initlal text box count
        $(add_button1).click(function (e) { //on add input button click
            e.preventDefault();
            if (y < max_fields1) { //max input box allowed
                y++; //text box increment
                $(wrapper1).append('<div class="row" style= "margin-left:0px;margin-right:0px;"> <input type="file" name="myfile[]" class="myup1" onchange="angular.element(this).scope().LoadFileData(this.files)" style="height: 36px; margin-bottom: 5px;float:left;width:85%; padding:6px;" /> <a href="javascript:void(0)" class="remove_field1 cross" style="padding-left: 2%;"><img src="/img/redCross.png" class="mainds" style="padding-left: 5px; width: 27px;padding-top: 7px; float:right;"></a></div>'); //add input box
                //$(wrapper).append('<div class="element"><i class="fa fa-cloud-upload fm gyanUpload' + x + '" ></i > <span class="name spanname' + x +'" style="padding-left:5px;">No file selected</span><input type="file" name="myFile[]" class="myfileup"><a href="#" class="remove_field cross"><img src="images/errorclose.png" class="mainds" style="padding-left: 5px;"></a></div>'); //add input box

                $(".attach1").text('Attach More Files');
            }
        });

        $(wrapper1).on("click", ".remove_field1", function (e) { //user click on remove text
            e.preventDefault(); $(this).parent('div').remove(); y--;
            var m = $('.myup1').length;
            if (m == 0) {
                $(".attach1").text('Attach File');
            }
        });



    });

</script>

<script>

    $("#ParentArtName").keyup(function (e) {

        $(this).val($(this).val().replace(/[/\<>#.:;*$^]/g, ''));
        $(this).next('span').children().html("Special characters are not allowed.");

    });



</script>


<script type="text/javascript">
    tinymce.init({
        selector: "textarea",
        plugins: "code,fullscreen,link,image,lists,table",
        extended_valid_elements: "#span[class]",
        relative_urls: false,
        remove_script_host: false,
        convert_urls: false,
        toolbar: "numlist bullist underline bold italic fontsizeselect formatselect code fullscreen link image alignleft aligncenter alignright alignjustify"
    });
</script>
<script>
    $(document).ready(function () {
        var ddlUniversity = $('#HUID');
        ddlUniversity.append($("<option></option>").val('').html('Please Select University'));
        $.ajax({
            url: '/api/app/universityDetails',
            //url: 'http://localhost:55544/api/app/universityDetails',
            type: 'GET',
            dataType: 'json',
            success: function (d) {
                $.each(d, function (i, country) {
                    ddlUniversity.append($("<option></option>").val(country.UID).html(country.University));
                });

                ddlUniversity.val($("#UID").val());

                if ($("#UID").val() != null) {
                    var CountryId = parseInt($("#UID").val());
                    $("#hidUID").val(CountryId);
                    if (!isNaN(CountryId)) {
                        var ddlState = $('#HSolSubID');
                        ddlState.empty();
                        ddlState.append($("<option></option>").val('').html('Please wait ...'));

                        //debugger;
                        $.ajax({
                            url: '/api/app/categoryDetails',
                            //url: 'http://localhost:55544/api/app/categoryDetails',
                            type: 'GET',
                            dataType: 'json',
                            data: { UID: CountryId },
                            success: function (d) {

                                ddlState.empty(); // Clear the please wait
                                ddlState.append($("<option></option>").val('').html('Select Subject Category'));
                                $.each(d, function (i, states) {
                                    ddlState.append($("<option></option>").val(states.SolSubID).html(states.Subject));
                                });

                                ddlState.val($("#SolSubID").val());

                                if ($("#SolSubID").val() != null) {
                                    var StateId = parseInt($("#SolSubID").val());
                                    if (!isNaN(StateId)) {
                                        var ddlCity = $('#HMSID');
                                        ddlCity.append($("<option></option>").val('').html('Please wait ...'));

                                        //debugger;
                                        $.ajax({
                                            url: '/api/app/subjectDetails',
                                            //url: 'http://localhost:55544/api/app/subjectDetails',
                                            type: 'GET',
                                            dataType: 'json',
                                            data: { SolSubID: StateId, UID: parseInt($("#hidUID").val()) },
                                            success: function (d) {


                                                ddlCity.empty(); // Clear the plese wait
                                                ddlCity.append($("<option></option>").val('').html('Select Subject Code'));
                                                $.each(d, function (i, cities) {
                                                    ddlCity.append($("<option></option>").val(cities.MSID).html(cities.SubjectCode));
                                                });

                                                ddlCity.val($("#MSID").val());

                                                /*---SUBJECT NAME & COUNTRY----*/
                                                if ($("#MSID").val() != null) {
                                                    var StateId = parseInt($("#MSID").val());
                                                    if (!isNaN(StateId)) {
                                                        var ddlSubName = $('#HSubjectName');
                                                        ddlSubName.append($("<option></option>").val('').html('Please wait ...'));
                                                        var ddlSubName2 = $('#HCountry');
                                                        ddlSubName2.append($("<option></option>").val('').html('Please wait ...'));
                                                        $.ajax({
                                                            url: '/api/app/subjectDetailsByName',
                                                            type: 'GET',
                                                            dataType: 'json',
                                                            data: {
                                                                code: StateId
                                                            },
                                                            success: function (d) {
                                                                ddlSubName.empty(); // Clear the plese wait
                                                                ddlSubName.append($("<option></option>").val('').html('Select Subject Name'));
                                                                ddlSubName2.empty(); // Clear the plese wait
                                                                ddlSubName2.append($("<option></option>").val('').html('Select Country'));
                                                                $.each(d, function (i, cities) {
                                                                    ddlSubName.append($("<option></option>").val(cities.SubjectName).html(cities.SubjectName));
                                                                    ddlSubName2.append($("<option></option>").val(cities.Country).html(cities.Country));
                                                                });

                                                                ddlSubName.val($("#SubjectName").val());
                                                                ddlSubName2.val($("#country").val());
                                                            },
                                                            error: function () {
                                                                alert('Error!');
                                                            }
                                                        });
                                                    }


                                                }
                                                /*---END SUBJECT NAME & COUNTRY----*/
                                            },
                                            error: function () {
                                                alert('Error!');
                                            }
                                        });
                                    }


                                }

                            },
                            error: function () {
                                alert('Error!');
                            }
                        });
                    }


                }

                $("#HUID").change(function () {
                    var CountryId = parseInt($(this).val());

                    if (!isNaN(CountryId)) {
                        var ddlState = $('#HSolSubID');
                        ddlState.empty();
                        ddlState.append($("<option></option>").val('').html('Please wait ...'));

                        //debugger;
                        $.ajax({
                            url: '/api/app/categoryDetails',
                            //url: 'http://localhost:55544/api/app/categoryDetails',
                            type: 'GET',
                            dataType: 'json',
                            data: { UID: CountryId },
                            success: function (d) {

                                ddlState.empty(); // Clear the please wait
                                ddlState.append($("<option></option>").val('').html('Select Subject Category'));
                                $.each(d, function (i, states) {
                                    ddlState.append($("<option></option>").val(states.SolSubID).html(states.Subject));
                                });

                                if ($("#HSolSubID").val() == "") {
                                    var StateId = parseInt($("#HUID").val());
                                    if (!isNaN(StateId)) {
                                        var ddlCity = $('#HMSID');
                                        ddlCity.append($("<option></option>").val('').html('Please wait ...'));

                                        $.ajax({
                                            url: '/api/app/subjectDetails',
                                            //url: 'http://localhost:55544/api/app/subjectDetails',
                                            type: 'GET',
                                            dataType: 'json',
                                            data: { SolSubID: StateId, UID: parseInt($("#hidUID").val()) },
                                            success: function (d) {
                                                ddlCity.empty(); // Clear the plese wait
                                                ddlCity.append($("<option></option>").val('').html('Select Subject Code'));
                                                $.each(d, function (i, cities) {
                                                    ddlCity.append($("<option></option>").val(cities.MSID).html(cities.SubjectCode));
                                                });
                                            },
                                            error: function () {
                                                alert('Error!');
                                            }
                                        });
                                    }
                                }
                            },
                            error: function () {
                                alert('Error!');
                            }
                        });
                    }

                    $("#UID").val($("#HUID").val());
                });

                //City Bind By satate id
                $("#HSolSubID").change(function () {
                    var StateId = parseInt($(this).val());

                    if (!isNaN(StateId)) {
                        var ddlCity = $('#HMSID');
                        ddlCity.append($("<option></option>").val('').html('Please wait ...'));


                        $.ajax({
                            url: '/api/app/subjectDetails',
                            //url: 'http://localhost:55544/api/app/subjectDetails',
                            type: 'GET',
                            dataType: 'json',
                            data: { SolSubID: StateId, UID: parseInt($("#hidUID").val()) },
                            success: function (d) {


                                ddlCity.empty(); // Clear the plese wait
                                ddlCity.append($("<option></option>").val('').html('Select Subject Code'));
                                $.each(d, function (i, cities) {
                                    ddlCity.append($("<option></option>").val(cities.MSID).html(cities.SubjectCode));
                                });
                            },
                            error: function () {
                                alert('Error!');
                            }
                        });
                    }

                    $("#SolSubID").val($("#HSolSubID").val());
                });

                $("#HMSID").change(function () {
                    $("#MSID").val($("#HMSID").val());
                });

            },
            error: function () {
                alert('Error!');
            }
        });


        $("#IsAnswer").click(function () {
            if ($(this).is(":checked")) {
                $("#ans").show();
                $("#ans2").show();
                $("#CheckStatus").val('1');
            }
            else {
                $("#ans").hide();
                $("#ans2").hide();
                $("#CheckStatus").val('0');
            }

        });
        $("#HSubjectName").change(function () {
            $("#SubjectName").val($("#HSubjectName").val());
        });
        $("#HCountry").change(function () {
            $("#country").val($("#HCountry").val());
        });

        if ($("#CheckStatus").val() == 1) {
            $("#IsAnswer").attr('checked', 'checked')
            $("#ans").show();
            $("#ans2").show();
        }
        else {
            $("#ans").hide();
            $("#ans2").hide();
        }
    });
</script>