﻿
@{
    ViewBag.Title = "Forget Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="blog-details overflow-auto">
    <section class="blog-banner">
    </section>
    <div class="bg-theme-light shadow-sm">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Forget Password</li>

                </ol>
            </nav>
        </div>
    </div>


    <section class="blog-content">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
        
                if (TempData["msg"] != null)
                {
                    <div class="col-md-12">
                        <p class="msgr">@TempData["msg"].ToString()</p>
                    </div>
                }

                <div class="me-login-form">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="form_username_email">Enter Email</label>
                            <input id="email" name="email" type="email" placeholder="Email" class="form-control requiredField" required />
                        </div>
                    </div>

                    <div class="me-login-btn">

                        <button type="submit" class="btn btn-warning">Send forget password link</button>
                    </div>
                </div>
                }

        </section>
</main>

<script>
    function ForgetPassword() {
        var hasError = Validate("#frmCDRService");
        if (!hasError) {
            var email = $('#email').val();
            $.post('/Register/SendForgetPasswordLink', { email: email }, function (data) {
                if (data.IsSuccess == 1) {
                    swal({
                        title: "Success",
                        text: data.Message,
                        icon: "success",
                    })
                        .then((refresh) => {
                            window.location.href = '/Register/Login';
                        });
                }

                else {
                    swal("Oops", data.Message, "error");
                }
            });
        }
</script>


