﻿@model LibraryDataLayer.tblCollegeStudent
@{
    ViewBag.Title = "Login";
}



    <main class="blog-details overflow-auto">
        <section class="blog-banner">
        </section>
        <div class="bg-theme-light shadow-sm">
            <div class="container">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Login</li>
                    
                    </ol>
                </nav>
            </div>
        </div>


        <section class="blog-content">

            @using (Html.BeginForm())
            {
                if (TempData["msg"] != null)
                {
                    <div class="col-md-12">
                        <p class="msgr">@TempData["msg"].ToString()</p>
                    </div>
                }

                <div class="container">
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class=" col-md-6 col-sm-12 col-xs-12">

                            <div class="me-login-form">
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <label for="form_username_email">Username/Email</label>
                                        @Html.TextBoxFor(c => c.Email, new { @class = "form-control colb", @placeholder = "Enter your email", @required = "required" })
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <label for="form_password">Password</label>
                                        @Html.PasswordFor(c => c.Password, new { @class = "form-control colb", @placeholder = "Enter your password", @required = "required" })
                                    </div>
                                </div>

                                <div class="me-login-btn">
                                    <button type="submit" class="me-btn">Login</button>

                                    <br />
                                    <p>
                                        Having trouble in logins
                                        <a href="~/forget-password">Forget Password</a>
                                    </p>
                                </div>
                                <div class="me-login-btn">

                                    <p>
                                        Don't have an accont
                                        <a href="~/register">Sign Up</a>
                                    </p>
                                 
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            }           @*</div>*@
        </section>
            @*<div class="me-login-with-social">
                <span>or</span>
                <p>Login with another account</p>
                <ul>
                    <li>
                        <a href="javascript:;"><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li>
                        <a href="javascript:;"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li>
                        <a href="javascript:;"><i class="fab fa-linkedin-in"></i></a>
                    </li>
                    <li>
                        <a href="javascript:;"><i class="fab fa-pinterest-p"></i></a>
                    </li>
                    <li>
                        <a href="javascript:;"><i class="fab fa-instagram"></i></a>
                    </li>
                </ul>
            </div>*@
      
    </main>

<script>
    $(document).ready(function () {
        $("#btnSubmit").click(function () {
            if ($("#form_email").val() == "") {
                alert("Please enter your email");
                $("#form_email").focus();
                return false;
            }
            if ($("#form_pass").val() == "") {
                alert("Please enter your password");
                $("#form_pass").focus();
                return false;
            }
        });
    });
</script>


