﻿
@{
    ViewBag.Title = "Page404";
}

<div class="main-content">

    <div class="row" style="text-align: center; padding: 27px 0px 50px 0px;">
        <div class="col-md-8 col-md-offset-2">
            <h1 class="font-150 text-theme-colored mt-0 mb-0"><i class="fa fa-map-signs text-theme-color-2"></i>404!</h1>
            <h2 class="mt-0">Oops! Page Not Found</h2>
            <p>The page you were looking for could not be found.</p>
            <a class="btn btn-border btn-gray btn-transparent btn-circled" href="/">Return Home</a>
        </div>
    </div>


</div>