﻿
<style>
    .cat_sub li {
        list-style-image: url('../../img/icon.png');
    }
    
</style>
<h4 class="widget-title topSub">Popular Subjects</h4>
<ul class="cat_sub">
    <li><a href="/solutions/economics">Economics</a></li>
    <li><a href="/solutions/accounts">Accounting</a></li>
    <li><a href="/solutions/finance">Finance</a></li>
    <li><a href="/solutions/management">Management</a></li>
    <li><a href="/solutions/engineering">Engineering</a></li>
    <li><a href="/solutions/science">Science</a></li>
    <li><a href="/solutions/computer-science">Computer Science</a></li>
    <li><a href="/solutions/mathematics">Mathematics</a></li>
    <li><a href="/solutions/writing">Writing</a></li>
    <li><a href="/solutions/statistics">Statistics</a></li>
    <li><a href="/solutions/law">Law</a></li>
    <li><a href="/solutions/auditing">Auditing</a></li>
    <li><a href="/solutions/nursing">Nursing</a></li>
    @*<li><a href="/solutions/others">Others</a></li>*@
    @*<li><a href="/solutions">All Subject</a></li>*@
</ul>
