﻿
@{
    ViewBag.Title = "Cart";
    int sum = 0;
    int countSol = 0;
}


<style type="text/css">
    .Menu {
        list-style-type: none !important;
    }

        .Menu li {
            float: left !important;
            padding-right: 1%;
            padding-top: 10px;
        }

            .Menu li i {
                color: #2bace0;
                font-weight: bold;
            }

    .MainDiv {
        float: left;
        background-color: #f2f4f5;
        padding: 0px 0px 20px 20px;
        margin-top: 50px;
    }

    .table > tbody > tr > td, .table > tfoot > tr > td {
        vertical-align: middle;
    }

    @@media screen and (max-width: 600px) {
        table#cart tbody td .form-control {
            width: 20%;
            display: inline !important;
        }

        .actions .btn {
            width: 36%;
            margin: 1.5em 0;
        }

        .actions .btn-info {
            float: left;
        }

        .actions .btn-danger {
            float: right;
        }

        table#cart thead {
            display: none;
        }

        table#cart tbody td {
            display: block;
            padding: .6rem;
            min-width: 320px;
        }

        table#cart tbody tr td:first-child {
            background: #333;
            color: #fff;
        }

        table#cart tbody td:before {
            content: attr(data-th);
            font-weight: bold;
            display: inline-block;
            width: 8rem;
        }



        table#cart tfoot td {
            display: block;
        }

            table#cart tfoot td .btn {
                display: block;
            }
    }
</style>

<div class="main-content">
    @*<section class="inner-header divider parallax" style="height:440px;background-image: url('/img/download.png'); background-position: 50% 94px;">
            <div class="container pb-20" style="height: 261px;">
                <!-- Section Content -->
                <div class="section-content pd40">
                    <div class="row">
                        <div class="col-md-12">
                            <p class="mainP mb-0">Expert Your Classes</p>
                            <p class="f18">Access over 15 million course-specific study materials.</p>
                        </div>
                        <div class="col-md-11">
                            <input type="text" class="form-control orangecol" placeholder="Search Library" />
                        </div>
                        <div class="col-md-1 orange">
                            <button id="btnSearch" class="mainsearch">Search</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>*@
    <!-- Section: Blog -->
    <section>
        <div class="container" style="padding-top:20px">
            <div class="row">
                <div class="col-md-9 mPad">
                    <div class="pt-30">
                        @if (ViewBag.MyCart.Count > 0)
                        {
                            <table id="cart" class="table table-hover table-condensed">
                                <thead>
                                    <tr>
                                        <th style="width:50%">Product</th>
                                        <th style="width:10%">Price</th>
                                        <th style="width:8%">Quantity</th>
                                        <th style="width:22%" class="text-center">Subtotal</th>
                                        <th style="width:10%"></th>
                                    </tr>
                                </thead>
                                <tbody>


                                    @foreach (var data in ViewBag.MyCart)
                                    {
                                        sum = sum + Convert.ToInt32(data.price);
                                        countSol = ViewBag.MyCart.Count;
                                        <tr>
                                            <td data-th="Product">
                                                <div class="row">
                                                    @*    <div class="col-sm-2 hidden-xs"><img src="http://placehold.it/100x100" alt="..." class="img-responsive" /></div>*@
                                                    <div class="col-sm-12">
                                                        <h4 class="nomargin">@data.solcartid</h4>
                                                        <p>@data.desc</p>
                                                    </div>
                                                </div>
                                            </td>
                                            <td data-th="Price">$@data.price</td>
                                            <td data-th="Quantity" class="text-center">
                                                1
                                            </td>
                                            <td data-th="Subtotal" class="text-center">$@data.price</td>
                                            <td class="actions" data-th="">
                                                <a href="~/del_cart?id=@data.id"
                                                   class="btn btn-danger btn-sm">
                                                    <i class="fa fa-trash"></i>
                                                </a>
                                            </td>
                                        </tr>

                                    }
                                </tbody>
                                <tfoot>
                                    <tr class="visible-xs">
                                        <td class="text-center"><strong>Total @sum</strong></td>
                                    </tr>
                                    <tr>
                                        <td><a href="~/" class="btn btn-warning"><i class="fa fa-angle-left"></i> Continue Shopping</a></td>
                                        <td colspan="2" class="hidden-xs"></td>
                                        <td class="hidden-xs text-center"><strong>Total $@sum</strong></td>
                                        <td><a href="@Url.Action("SaveAddress", "Home", new { cost = @sum, qty = @countSol, QuestionID = 0})" class="btn btn-success btn-block" id="cartshop">Checkout <i class="fa fa-angle-right"></i></a></td>
                                        @*<td><a href="~/payment?cost=@sum&qty=@countSol" class="btn btn-success btn-block">Checkout <i class="fa fa-angle-right"></i></a></td>*@
                                    </tr>
                                </tfoot>
                            </table>
                        }
                        else
                        {
                            <p>Empty Data, Please continue shopping by <a href="~/">click here</a></p>
                        }
                    </div>

                </div>

                <div class="col-sm-12 col-md-3 formS">
                    <div class="sidebar sidebar-left mt-sm-30 ml-40">
                        <div class="widget">
                            @Html.Partial("_Category")
                        </div>
                        @*<div class="widget mainSide">

                            </div>*@
                        @*<div>
                                <img src="~/img/howitworks.jpg" class="hwt" />
                            </div>
                            <div style="padding-top: 30px;">
                                <img src="~/img/sample.jpg" class="sam" />
                            </div>*@
                    </div>
                </div>
            </div>
            <div class="int-handle">

            </div>
        </div>
    </section>

</div>
    </div>

@*<section class="your_service">
        <div></div>
        <div class="border"></div>
        <p class="main_ft_p">Your online learning platform for every course.</p>
        <p class="pt-25">
            <a class="live_chat c_livechat ord" href="~/register">Register Now</a>
        </p>
        <div class="clear"></div>
    </section>*@
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
<script>
    $(document).ready(function () {
        $("#cartshop").click(function () {
            $("#cartshop").html("Please Wait");
        });
    });
</script>