﻿
@{
    ViewBag.Title = "Payment failed";
}

<div class="main-content">

    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-push-3" style="text-align:center;padding-top: 45px;">
                    <i class="fa fa-check rightclick" aria-hidden="true"></i>
                    <p style="padding-top: 30px;font-size: 20px;">Payment failed</p>

                </div>
            </div>
        </div>
    </section>
</div>


