﻿@model PagedList.IPagedList<LibraryBILayer.Admin.SolutionLibr>
@using PagedList.Mvc
@using LibraryApp.Models
@{
    ViewBag.Title = "Solution Library";
}

<style type="text/css">


    .Menu {
        list-style-type: none !important;
    }

        .Menu li {
            float: left !important;
            padding-right: 1%;
            padding-top: 10px;
        }

            .Menu li i {
                color: #2bace0;
                font-weight: bold;
            }

    .MainDiv {
        float: left;
        background-color: #f2f4f5;
        padding: 0px 0px 20px 20px;
        margin-top: 50px;
    }
</style>

<div class="main-content">
   @* <section class="inner-header divider parallax" style="height:440px;background-image: url('/img/download.png'); background-position: 50% 94px;">
        <div class="container pb-20" style="height: 261px;">
            <!-- Section Content -->
            <div class="section-content pt-80">
                @using (Html.BeginForm("Search", "Home", FormMethod.Post))
                {
                <div class="row">
                    <div class="col-md-12">
                        <p class="mainP mb-0">Expert Your Classes</p>
                        <p class="f18">Access over 15 million course-specific study materials.</p>
                    </div>
                    <div class="col-md-11">
                        <input type="text" class="form-control orangecol" name="searchtxt" placeholder="Find study guides, class notes, practice problems and more." />
                    </div>
                    <div class="col-md-1 text-center">
                        <button id="btnSearch" class="mainsearch">Search</button>
                    </div>
                </div>
                }
            </div>
        </div>
    </section>*@
    <!-- Section: Blog -->
    <section>
        <div class="container" style="padding-top:20px">
            <div class="row">
                <div class="col-md-9 mPad">
                    <div class="pt-30">
                        <h3 class="mt-0" style="font-size: 17px;font-style: italic;">@ViewBag.CountArticle Solution found for "@ViewBag.SubjectName"</h3>
                        @*<p class="mFont">
            Choose The Service You Looking For -
        </p> <ul class="styleMain">
            <li><a href="#">Assignment</a></li>
        </ul>*@
                        @if (Model.Count != 0)
                        {
                            foreach (var item in Model)
                            {
                                //var myContent = HttpUtility.HtmlDecode(Html.DisplayFor(modelItem => item.AnswerPreview).ToString()).Replace("<p>", "");
                                //var mycontent2 = myContent.Replace("</p>", "");
                                var mycontent2 = RemHTML.StripHTML(item.SolContent);
                                <div class="single-service single mb-30">
                                    <h3 class="text-theme-colored">@item.Title</h3>
                                    <p> @Html.Raw(mycontent2.Substring(0, mycontent2.Length > 300 ? 300 : mycontent2.Length))...</p>
                                    <p class="pt-15"><a href="/solution/@item.UrlText" class="solBtn">Read More</a></p>
                                </div>
                            }
                        }
                        else
                        {
                            <img src="~/img/nodatafound.png" />
                            <p class="p-top">
                                <a class="a-link" href="/homework-help"><i class="fa fa-question-circle" aria-hidden="true"></i> Get Homework Help</a>
                            </p>
                        }
                    </div>

                </div>

                <div class="col-md-3 formS">
                    <div class="sidebar sidebar-left mt-sm-30 ml-40">
                        <div class="widget">
                            @Html.Partial("_Category")
                        </div>
                        @*<div class="widget mainSide">

                            </div>*@
                        @*<div>
                                <img src="~/img/howitworks.jpg" class="hwt" />
                            </div>
                            <div style="padding-top: 30px;">
                                <img src="~/img/sample.jpg" class="sam" />
                            </div>*@
                    </div>
                </div>
            </div>
            <div class="int-handle">

            </div>
        </div>
    </section>

</div>
  

@*<section class="your_service">
    <div></div>
    <div class="border"></div>
    <p class="main_ft_p">Your online learning platform for every course.</p>
    <p class="pt-25">
        <a class="live_chat c_livechat ord" href="~/register">Register Now</a>
    </p>
    <div class="clear"></div>
</section>*@