﻿
@{
    ViewBag.Title = "SingleAnswer";

    var QuesID = Request.QueryString["ques"];
}

<section id="pricing" data-bg-img="/images/pattern/p4.png" style="background-image: url(&quot;/images/pattern/p4.png&quot;);">
    <div class="container">
        <div class="section-content">
            <div class="row">
                <div class="cent_div">
                    <div class="col-xs-12 col-sm-4 col-md-4 hvr-float-shadow mb-sm-30">
                        <div class="pricing-table">
                            <div class="font-36 pl-20 bg-theme-color-2 text-white text-center pr-20 p-10">
                                20% <span style="font-size:19px">Off </span>
                            </div>
                            <div class=" bg-lighter border-1px p-20 pt-20 pb-20">
                                <h3 class="package-type m-0 text-black price_set">Premium</h3>
                                <ul class="table-list list-icon theme-colored pb-0">
                                    <li><i class="fa fa-check"></i>Content type - <span class="ft600">Original</span></li>
                                    <li><i class="fa fa-check"></i>Plagiarism Free/ Originality? - <span class="ft600">100% Original</span></li>
                                    <li><i class="fa fa-check"></i>Can be submitted to University? - <span class="ft600">Yes</span></li>
                                    <li><i class="fa fa-check"></i>24X7 Support - <span class="ft600">Yes</span></li>
                                    <li><i class="fa fa-check"></i>Free Call back - <span class="ft600">Yes</span></li>
                                    <li><i class="fa fa-check"></i>Delivery - <span class="ft600">24 to 72 Hrs</span></li>
                                    <li><i class="fa fa-check"></i>Answer Quality - <span class="ft600">5 Star</span></li>
                                </ul>
                            </div>
                            <a href="/homework-help?single_ques=@QuesID" class="btn btn-lg btn-theme-colored text-uppercase btn-block pt-20 pb-20 btn-flat">Order Now</a>
                        </div>
                    </div>
                </div>
                </div>
            </div>
    </div>
</section>

