﻿@model LibraryDataLayer.tblBlogCat
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/NewAdmin/Views/Shared/_Layout.cshtml";
}

<script src="~/Contents/customjs/jquery.validate.min.js"></script>
<script src="~/Contents/customjs/jquery.validate.unobtrusive.js"></script>
<script src="~/Contents/customjs/jquery.validate.unobtrusive.min.js"></script>
<link href="~/Contents/customcss/validate.css" rel="stylesheet" />
<script src="~/Contents/customjs/validations.js"></script>
<style>
    .custom-input-error {
        border: 1px solid #a94442 !important;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;
        background-color: #FBE8E8 !important;
    }

    .custom-input-success {
        border: 1px solid #3c763d !important;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;
        background-color: #D6F3D6 !important;
    }

    .add_field_button {
        background-color: #089cd3;
        border: none;
        margin-bottom: 15px;
        color: #fff;
        font-weight: 400;
        padding: 5px 11px;
    }

    .add_field_button1 {
        background-color: #089cd3;
        border: none;
        margin-bottom: 15px;
        color: #fff;
        font-weight: 400;
        padding: 5px 11px;
    }
</style>

<div class="content-wrapper" style="min-height: 960px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Role Claims
        </h1>
        <ol class="breadcrumb">
            <li><a href="/NewAdmin/Panel"><i class="fa fa-dashboard"></i> Home</a></li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">

        @using (Html.BeginForm("UpdateRoleClaim", "ManageRoleClaim"))
        {

            <!-- Info boxes -->
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <div class="form-group" style="">
                        <div class="transparent-price">
                            @Html.DropDownList("RoleID", new ListObject(0, "RoleList").RoleList, "-- SELECT --", new { @onchange = "GetAssignedNavigationList()", @autocomplete = "off", @class = "form-control requiredField", @title = "Service" })

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="box">
                        <div class="box-header with-border">
                            <div id="assignedRoles">
                                @Html.Action("GetAdminNavigation", "ManageRoleClaim")

                            </div>
                            <div class="box-footer">
                                <button type="button" onclick="AssignAdminRoles()" id="btnSubmitArticle" class="btn btn-primary">Update</button>
                                <a href="/NewAdmin/ManageRoleClaim/Index" class="btn btn-primary" style="float: right;">Back to list</a>
                            </div>

                        </div><!-- /.box-header -->
                        <div class="box-body">

                        </div><!-- ./box-body -->
                        <!-- /.box-footer -->
                    </div><!-- /.box -->
                </div><!-- /.col -->
            </div>
        }
    </section><!-- /.content -->
</div>
<script src="~/Areas/NewAdmin/NewContent/plugins/jQuery/jQuery-2.1.4.min.js"></script>
<script src="~/Areas/NewAdmin/NewContent/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/5.0.4/tinymce.min.js"></script>

<script>

    var destinationArrayOfRole = [];
    function GetAssignedNavigationList() {      
        $('#assignedRoles').html('');
        destinationArrayOfRole = [];
        var RoleID = $('#RoleID').val();
        $.post('/NewAdmin/ManageRoleClaim/GetAssignedNavigationList', { RoleID: RoleID }, function (data) {
            $('#assignedRoles').html(data);
            addToArray();
        });
    }

    function addToArray() {
        $("input:checkbox[name=AdminRole]:checked").each(function () {
            destinationArrayOfRole.push($(this).attr('id'));
        });
    }

    function changeRole(input) {
        debugger;
        var RoleID = $(input).attr('id');
        var isChecked = $(input).prop('checked');

        var index = destinationArrayOfRole.indexOf(RoleID);
        if (index <= -1 && isChecked) {
            destinationArrayOfRole.push(RoleID);
        }

        if (index >= 0 && !isChecked) {
            destinationArrayOfRole.splice(index, 1);
        }
    }

    function AssignAdminRoles() {       
        var totalItem = destinationArrayOfRole.length;
        var RoleID = $('#RoleID').val();
        if (totalItem <= 0) {
            swal("Oops", data.Message, "Please assign any roles");
        }
        else {
            $.post('/NewAdmin/ManageRoleClaim/AssignRoles', { roleIDList: destinationArrayOfRole, RoleID: RoleID}, function (data) {
                if (data > 0) {
                    swal({
                        title: "Success",
                        text: "Role claims updated successfully",
                        icon: "success",
                    })
                        .then((refresh) => {
                            location.reload();
                        });
                }
                else {
                    swal("Oops", "Some server error occurred! Please try again later", "error");
                }
            });
        }
    }
</script>
