﻿
@using PagedList.Mvc
@using LibraryBILayer.Model
@model PagedList.IPagedList<AdminUserModel>

@{
    var totalCount = Convert.ToInt32(ViewData["TotalBlogCatCount"]);
}
@if (Model.Count > 0 && Model != null)
{
    <table id="example1" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th width="30%">Firt Name</th>
                <th width="20%">Last Name</th>

                <th width="20%">Role</th>

                <th width="15%">Status</th>
                <th width="15%">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.FirstName</td>
                    <td>@item.LastName</td>

                    <td>
                        @item.RoleName
                    </td>

                    <td>@(item.StatusID == 1 ? "Active" : "Deactive")</td>
                    <td>
                        <a title="Edit" href="@Url.Action("EditAdminUser", "AdminUser", new { @area = "NewAdmin", @Id = item.AdminId })"><i class="fa  fa-edit fa-2x"></i></a>

                        @if (item.StatusID == 1)
                        {
                            <a title="Deactivate" href="@Url.Action("DeleteAdminUser", "AdminUser", new { @area = "NewAdmin", @Id = item.AdminId , @Status = 2 })"><i class="fa fa-times-circle fa-2x"></i></a>

                        }
                        else
                        {
                            <a title="Activate" href="@Url.Action("DeleteAdminUser", "AdminUser", new { @area = "NewAdmin", @Id = item.AdminId , @Status = 1 })"><i class="fa fa-check-circle fa-2x"></i></a>

                            @*<a class="btn btn-primary btn-xs" onclick="return DeleteRecord(@item.RoleID, 1)">Activate</a>*@
                        }

                        <a title="Delete" href="@Url.Action("FinalDeleteAdminUser", "AdminUser", new { @area = "NewAdmin", @Id = item.AdminId})"><i class="fa fa-trash fa-2x"></i></a>

                    </td>
                </tr>
            }
        </tbody>

    </table>
    if (totalCount > ViewBag.pageSize)
    {
        @Html.PagedListPager(Model, page => Url.Action("_ListOfAdminUser", "AdminUser", new { area = "NewAdmin", IsActive = ViewBag.IsDeleted, page }));
    }
}
else
{
    <span style="color:rosybrown"><strong>No record found!!</strong></span>
}

@*<script type="text/javascript">
        function DeleteRecord(Id, status) {
            var txt;
            debugger;
            var r = confirm("Do you really want to perform this action?");
            if (r == true) {
                $.ajax({
                    url: '@Url.Action("DeleteAdminRole", "AdminRole", new { area = "NewAdmin" })',
                    type: "POST",
                    data: JSON.stringify({ Id: Id, status: status }),
                    async: false,
                    contentType: "application/json",
                    dataType: "json",
                    success: function (result) {
                        if (result > 0) {
                            if (result > 0) {
                                debugger;

                                toastr["success"]("Record is successfully updated");

                                //  alert("Record is successfully deleted.");
                                location.reload();
                            }
                        else {
                            toastr["error"]("Some error while processing your request.")
                        }
                    },
                    error: function (data) {
                        toastr["error"]("Some error while processing your request.")
                    }
                });
            }
            else {
                txt = "You pressed Cancel!";
            }
        }

    </script>*@

@*<script>
        function GetArticlesList(elem) {
            $(elem).attr("disabled", 1);
            var HTML = "";
            var chkdata = "";
            var IsActive = $('#InActive').is(":Checked");
            if (IsActive == true)
            {
                chkdata = false;
            }
            else
            {
                chkdata = true;
            }
            $.ajax({
                type: 'GET',
                async: false,
                url: '@Url.Action("_ListOfAdminRole", "AdminRole", new { @area = "NewAdmin" })',
                data: { IsActive: chkdata },
                success: function (data) {
                    if (data != null) {
                        $('#ArticlesList').html(data)

                        $(elem).removeAttr("disabled");
                    }
                    else {
                        alert("No Record Found!!")
                    }
                },
                error: function (response) {
                }
            });
        }

        $('body').on('click', '#ArticlesList a', function (event) {
            if (!$(this).hasClass('btn-xs')) {
                var url = $(this).attr("href");
                var HTML = "";
                var InActive = $('#InActive').is(":Checked");
                $(".faSpinner").show();

                if (url != undefined) {
                    event.preventDefault();

                    url = url + '&IsActive=' + $('#InActive').is(":Checked").toString();
                    setTimeout(function () {
                        $.ajax({
                            url: url,
                            success: function (result) {
                                $('#ArticlesList').html(result);

                                $(".faSpinner").hide();
                            }
                        });
                    },500)
                }
            }
       });

    </script>*@