@media only screen and (min-width: 1400px) {
.bannerImg {height:938px;}
}
@media only screen and (max-width: 1199px) {
.logo img {width:150px;}
.leftMenu {padding:30px 0 0 10px; width:40%;}
.leftMenu ul li {font-size:14px;}
.rightMenu {padding:30px 10px 0 0; width:40%;}
.rightMenu ul li {font-size:14px;}
.bannerCon {min-height:inherit;}
.bannerInfo {padding:150px 10px 120px 10px;}
.step {margin:0 9% 90px 9%;}
.askQuestion {width:950px; margin-right:-865px;}
.askQuestion.active {margin-right:0;}
.askQestionDet {width:865px;}
.askQImg {padding:95px 0 0 0;}
.askQImg img {width:150px;}
.askQDet {padding:20px 0 0 10px;}
.askQHd {font-size:22px; padding-bottom:15px;}
.askQTxt {width:320px;}
.askQForm {width:330px;}
}

@media only screen and (min-width: 1000px) {
.menuBox {display:block !important; height:auto !important;}
}

@media only screen and (max-width: 999px) {
.homeHeader {height:auto;}
.logo {padding:20px 10px; float:left;}
a.showMobMenu {display:block; background:#00aeef; border-radius:3px; width:42px; height:32px; float:right; margin:20px 10px 0 0; padding-top:8px;}
a.showMobMenu i {display:block; width:30px; height:2px; background:#fff; margin:0 auto 5px auto;}
.menuBox {display:none; position:absolute; right:10px; top:50px; background:#00aeef; border-radius:3px 0 3px 3px; width:250px;}
.leftMenu {float:none; padding:0; width:auto; z-index:1000;}
.leftMenu ul li {float:none; padding-right:0; border-bottom:1px solid #029ed8;}
.leftMenu ul li a {display:block; padding:10px;}
.leftMenu ul li a:hover {color:#fff;}
.rightMenu {float:none; padding:0; width:auto;}
.rightMenu ul li {float:none; padding-left:0; border-bottom:1px solid #029ed8;}
.rightMenu ul li:last-child {border-bottom:none;}
.rightMenu ul {float:none;}
.rightMenu ul li a {display:block; padding:10px;}
.rightMenu ul li a:hover {color:#fff;}
.bannerInfo {padding:150px 10px 80px 10px;}
.searchHd {font-size:22px; padding-bottom:20px;}
.searchHd span {font-size:40px;}
.searchBox {height:40px; padding-right:40px;}
.searchInput {font-size:15px; padding:11px;}
.searchBtn {height:40px; width:40px;}
.sep {margin:40px 0;}
a.dwnArrow {width:55px; height:55px; bottom:-27px; margin-left:-27px;}
a.dwnArrow img {margin:24px 0 0 22px;}
.serviceWeOffer {padding:50px 0;}
.mainHd {font-size:40px;}
.txtBox {font-size:15px; line-height:22px;}
.serviceList li {width:32%; margin-right:2%;}
.serviceList li .hd {font-size:22px;}
.serviceList li .txt {font-size:15px; line-height:22px;}
.serviceList li .btn {padding-top:25px;}
.serviceList li a {font-size:15px;}
.serviceList li img {width:110px;}
.eduResouces {padding:50px 0;}
.eduResoucesHd {font-size:25px;}
.eduResoucesHd span {font-size:60px; line-height:60px;}
.resInfo ul li {width:32%; margin-right:2%; padding-top:20px; text-align:center;}
.countBox {padding:0 0 10px 0;}
.countBox span.number {font-size:40px; line-height:42px;}
.counter {position:static; margin-bottom:10px; display:block;}
a.startbtn {font-size:32px; padding:80px 0;}
a.startbtn img {width:40px;}
.solutionCon {padding:50px 0;}
.howDone {font-size:24px; padding-bottom:20px;}
.solutionTab {float:none; width:100%;}
.solutionTab ul li {font-size:18px; padding:25px 0; min-height:160px; float:left; width:50%;}
.solutionTab ul li a:hover:before, .solutionTab ul li.active a:before {border-left:10px solid transparent; border-right:10px solid transparent; border-top:10px solid #00aeef; position:absolute; left:46px; top:132px; margin:0;}
.solutionInfo {float:none; width:100%; min-height:inherit; border-top:1px solid #00aeef; border-right:none; padding-top:200px;}
.solutionTxt {width:100%; padding:0; text-align:center;}
.solutionTxt .hd {font-size:30px;}
.solutionTxt .txt {font-size:14px; line-height:20px;}
.solGraph {width:275px; height:275px; background:none; position:absolute; right:50%; top:-127px; margin-right:-132px;}
.solGraph a {text-align:center;}
.solGraph a span {display:block; margin-top:5px;}
.solGraph a.browse {left:-40px; top:133px;}
.solGraph a.subscribe {left:105px; top:210px;}
.solGraph a.access {left:226px; top:133px;}
.testimonialCon {padding:50px 0;}
.testimonialSlider {margin-top:120px;}
#vitrine-desc {font-size:15px !important; padding:120px 65px 0 65px; line-height:22px;}
#vitrine-desc:before {background-size:48px auto; top:120px; width:48px;}
#vitrine-desc:after {background-size:48px auto; top:120px; width:48px;}
#vitrine-desc span {font-size:30px;}
.signupBox {padding:30px 0; font-size:22px;}
.footerInfo {padding:25px 0; width:40%;}
.footerLink {padding:25px 0; width:22%;}
.socialLinks {padding:25px 0;}
.linkBot a {margin:0 25px;}
.linkBot a:after {right:-30px;}
.copyBot {padding-bottom:20px;}
.innerHeader {height:auto;}
.innerHeader .leftMenu ul li a {color:#fff;}
.innerHeader .leftMenu ul li a:hover {color:#fff;}
.innerHeader .rightMenu ul li a {color:#fff;}
.innerHeader .rightMenu ul li a:hover {color:#fff;}
.innerHeader .rightMenu ul li a:hover, .innerHeader .rightMenu ul li a.active {color:#fff;}
.planBanner {padding:20px 0;}
.planBanner .hd {font-size:30px; padding-bottom:15px;}
.planTlft {float:none; width:100%; padding-bottom:20px;}
.planTrgt {float:none; width:100%;}
.planTrgt:after {left:25px; top:-28px; border-left: 14px solid transparent; border-right: 14px solid transparent; border-bottom:14px solid rgba(255,255,255,.9);}
.subscribeHd {padding:15px;}
.subscribeTxt {padding:15px;}
.midCon {padding:40px 0;}
.paymentCon .lft {float:none; padding:20px 0 00 ; width:100%;}
.paymentCon .rgt {float:none; padding:20px 0 00 ; width:100%;}
.payInfo {padding:15px;}
.getFullAccess {padding:50px 0;}
.getFullAccess .hd {font-size:40px;}
.detBanner {padding:40px 0;}
.detBanner .txt, .qaBanner .txt {font-size:20px;}
.detBanner .hd, .qaBanner .hd {font-size:36px;}
.blueCon {padding:20px 0;}
.midLft {width:70%;}
.dd {padding:15px 0 15px 10px;}
.showPages {padding:10px 10px 10px 0;}
.fullDoc {padding:20px 180px 20px 30px; background:url(../images/info_icon.png) no-repeat 10px 21px;}
.fullDoc a {right:10px; top:10px; padding:8px 10px;}
.docImg {margin:15px;}
.midRgt {width:30%; padding-left:15px;}
.blueBgHd {padding:10px;}
.docDet {padding:10px;}
.faqList {padding:10px;}
.reatedMat {padding:30px 0;}
.realtedList {padding-bottom:30px;}
.realtedList ul li {width:19%; margin:20px 1.25% 0 0;}
.qaBanner {padding:40px 0;}
.padding20 {padding:15px;}
.questionHd {font-size:15px; line-height:20px;}
.answerHd {font-size:15px;}
.answerHd span {color:#f26522;}
.mainHdSmll {font-size:28px;}
.queList ul li {margin:10px 2% 0 0; width:49%;}
.queList ul li:nth-child(3n) {margin-right:2%;}
.queList ul li:nth-child(2n) {margin-right:0;}
.queList ul li a {font-size:15px; line-height:20px;}
.tutorList ul li {min-height:49px; padding:10px 10px 10px 54px;}
.tutorList ul li .userImg {left:10px; top:10px;}
.tutorList ul li .rating {right:10px; top:14px;}
.gotStudy .det {padding:15px; font-size:13px;}
.gotStudy .det .hd {font-size:15px;}
.answerThis {font-size:14px;}
.helpBanner {font-size:38px; padding:80px 0;}
.helpRgt {padding:0 0 0 20px;}
.getinToch {padding:15px;}
.notACustomerLink li {width:100%; float:none; padding-bottom:15px;}
.resultBox {padding:15px;}
.usereRating {right:15px; top:15px;}
.youThinkInner {padding:20px 0 35px 160px; min-height:182px; position:relative;}
.youThinkInner .img {left:0;}
.smllHd {font-size:24px;}
a.subscribeBtn {position:static; margin-top:15px; display:inline-block;}
.resultList ul li {width:24%; margin:0 1.33% 0 0;}
.overBox .inner {padding-top:20px;}
.overBox .inner .margB20 {margin-bottom:15px;}
.payGetInner {padding:20px 0 20px 410px;}
.payGetInner .img {left:0; top:0; bottom:inherit;}
.multipleDInner {padding:25px 0 20px 320px;}
.userPos {position:relative; margin:5px 0 0 40px;}
.reatedMat .queList ul li {margin:10px 2% 0 0; width:32%;}
.reatedMat .queList ul li:nth-child(4n) {margin-right:2%;}
.reatedMat .queList ul li:nth-child(3n) {margin-right:0;}
.studyMatList ul li {margin:10px 2% 0 0; width:32%; padding:10px;}
.studyMatList ul li:nth-child(4n) {margin-right:2%;}
.studyMatList ul li:nth-child(3n) {margin-right:0;}
.categoryBanner {font-size:34px; padding:80px 0;}
.step ul li {font-size:13px;}
.subHd {font-size:20px;}
.categorytxt {font-size:15px;}
.categoryHd {font-size:15px; padding:15px 15px 15px 50px; background-position:15px 12px;}
.active .categoryHd {background-position:15px 12px;}
.categoryInfo {padding:15px;}
.categoryInfo ul li {font-size:14px;}
.categoryInfo ul li ul li {font-size:13px;}
.formBox {padding:15px;}
.grayBox {padding:15px;}
.tpiHdCov {padding:15px;}
.tpiList {padding:15px;}
.createBanner {font-size:34px; padding:80px 0;}
.createBanner span {font-size:24px;}
.qaTlft {width:48%; font-size:18px; line-height:26px;}
.resultList.recentList {padding:15px 15px 0 15px;}
.resultList.recentList ul li {width:32%; margin:0 2% 15px 0;}
.resultList.recentList ul li:nth-child(3n) {margin-right:0;}
.acTab {border-top:2px solid #c7c7c7; border-bottom:none; padding:0;}
.acTab ul li {float:none; padding:0; border-bottom:2px solid #c7c7c7;}
.acTab ul li a {float:none; padding:10px 20px;}
.uploadInfo {width:100%; font-size:14px; padding:10px 5px 10px 50px; margin-bottom:15px;}
.uploadInfo span {padding-top:10px;}
.stepList {margin-top:-80px; padding:35px 0;}
.stepList ul li  {padding:0 0 35px 0;}
.lightBlueCon {padding:25px 0;}
.whtplaneBox {padding:15px;}
.checlList li {width:31.33%; margin:20px 1% 0 1%;}
.howTW li {padding:40px 2% 0 2%;}
.howTW li .icon img {max-width:100%;}
.videoBox {padding:15px;}
.becomeCourseHero .inner {font-size:20px;}
.earnMoneyInfo  {margin-top:-80px;}
.earnMoneyInfo ul li {font-size:17px;}
.earnMoneyInfo ul li .icon {width:115px; height:115px; border:5px solid #838383; padding-top:14px;}
.earnMoneyGraph {margin:0 30px 110px 30px;}
.earnMoneyGraph ul li .txt {font-size:13px;}
.askQuestion {width:700px; margin-right:-615px;}
.askQestionDet {width:615px;}
.askQDet {padding:20px 0 0 15px;}
.askQImg {display:none;}
.askQTxt {width:300px;}
.askQTxt ul li {padding:5px 0 5px 10px;}
.askQTxt ul li:after {top:11px;}
.askQForm {width:270px; margin-left:15px;}
.askQForm .inputBox.half {width:100%;}

.servocePopup {position:fixed; left:50%; top:70px; margin-left:-350px;}
.servocePopup:after {display:none;}
.serviceTab ul li {border:none; padding:15px 10px;}
.serviceSubTab ul li {border:none;}
.serviceSubTab ul li a {padding:0;}
.serviceFinal ul li {border:none;}
.serviceFinal ul li a {padding:0;}
.serviceFinal ul li a:hover {color:#333;}
}

@media only screen and (max-width: 767px) {
.bannerInfo {padding:100px 10px 50px 10px;}
.searchHd {font-size:18px;}
.searchHd span {font-size:30px;}
.jumpTo {line-height:22px;}
.sep {margin:25px 0;}
.bannerBtns a {margin:0 5px; font-size:16px; padding:10px 20px;}
.serviceWeOffer {padding:50px 0 25px 0;}
.mainHd {font-size:30px;}
.serviceList li {width:100%; float:none; margin-right:0; border-bottom:1px solid #eee; padding-bottom:20px;}
.serviceList li .hd {font-size:20px;}
.serviceList li:last-child {padding-bottom:0; border:none;}
.eduResouces {padding:25px 0;}
.eduResoucesHd {font-size:22px;}
.eduResoucesHd span {font-size:50px; line-height:50px;}
.resInfo ul li {width:100%; margin-right:0; border-bottom:1px solid #ccc; padding-bottom:20px;}
.resInfo ul li:last-child {padding-bottom:0; border:none;}
a.startbtn {font-size:28px; padding:50px 0; float:none; width:100%;}
a.startbtn.tutor {border-bottom:1px solid #fff; border-right:none;}
.solutionCon {padding:25px 0;}
.txtBox {padding-bottom:15px;}
.solutionTab {float:none; width:100%;}
.solutionTab ul li {min-height:inherit; text-align:center; padding:15px 10px;}
.solutionTab ul li a .icon {width:80px; height:80px; position:static; border:5px solid #00aeef; margin:0 auto 10px auto; }
.solutionTab ul li a .icon img {width:40px;}
.solutionTab ul li a .txt {display:block; height:auto; padding:0;}
.solutionTab ul li a:hover:before, .solutionTab ul li.active a:before {left:50%; top:92px; margin:0 0 0 -10px;}
.solutionTxt .hd {font-size:24px;}
.solGraph a span {width:55px; height:55px; padding-top:11px;}
.solGraph a span img {width:32px;}
.solutionInfo {padding-top:150px;}
.solGraph {width:220px; height:220px; top:-110px; margin-right:-110px;}
.solGraph a {font-size:13px;}
.solGraph a.browse {left:-28px; top:118px;}
.solGraph a.subscribe {left:80px; top:175px;}
.solGraph a.access {left:176px; top:118px;}
.testimonialCon {padding:25px 0;}
.testimonialSlider {margin-top:90px;}
#vitrine-desc {padding:120px 45px 0 45px;}
#vitrine-desc:before {background-size:38px auto; top:120px; width:38px;}
#vitrine-desc:after {background-size:38px auto; top:120px; width:38px;}
#vitrine-desc span {font-size:25px;}
.dataImg {transform:scale(.7);}
.signupBox {padding:20px 0; font-size:20px;}
.footerInfo {float:none; padding:15px 0; width:auto;}
.footerLink {float:left; padding:15px 0; width:40%;}
.socialLinks {padding:15px 0;}
.linkBot a {margin:0 15px;}
.linkBot a:after {right:-18px; width:4px; height:4px;}
.footerBot .responsive {height:auto; padding:0;}
a.helpSupport {display:block; border-bottom:1px solid #333; height:50px; line-height:50px; float:none; position:static; padding-left:60px; background-position:20px center;}
a.reqCallback {display:block; height:50px; line-height:50px; float:none; position:static; margin:0; padding-left:60px; background-position:20px center;}
a.liveChat {display:block; height:50px; line-height:50px; float:none; position:static; margin:0; font-size:14px;}
.popupBox {width:300px; margin-left:-150px;}
.popupLogo {padding:15px;}
.close {right:10px; top:10px; font-size:20px;}
.popupPadding {padding:15px;}
.popupHd {font-size:26px;}
.loginLft {width:100%; float:none;}
.loginField {padding-bottom:15px;}
.loginRgt {width:100%; position:static; margin-top:0px;}
.or {width:100%; height:1px; position:static; margin:25px 0;}
.or span {top:0;}
.dontHaveAc {margin-top:20px; padding:20px 0 0 0; font-size:14px;}
.note {font-size:14px; padding-top:20px;}
.agreeTxt {padding:20px 0 0 0; font-size:14px;}
.agreeTxt a {color:#00aeef;}
.regTab {padding-bottom:20px;}
.regTab a {width:120px;}

.planBanner .hd {font-size:24px;}
.choosePlan {font-size:15px;}
.midCon {padding:25px 0;}
.planHd {font-size:14px;}
.planHd span {font-size:18px; padding-bottom:5px;}
.planCon {padding-bottom:20px;}
.monthlyPlan {width:100%; margin-top:20px; float:none;}
.dailyPlan {width:100%; margin-top:20px; float:none;}
.planCon .inner {padding:20px 15px; font-size:14px; line-height:26px;}
.planCon .price {font-size:21px; padding-bottom:10px;}
.planCon .price span {font-size:30px;}
a.chooseBtn {margin-top:15px;}
.paymentCon .lft {padding:0;}
.paymentCon .lft ul li {font-size:14px; line-height:21px; padding:15px 0 0 25px; background:url(../images/check.png) no-repeat 0 17px; background-size:20px auto;}
.paymentCon .lft ul li span {font-size:16px;}
.paymentCon .rgt {font-size:15px;}
.planSelect {width:100%;}
.payOpt {margin:10px 10px 0 0;}
.checkoutWith {padding:20px 0 0 0; font-size:17px;}
.checkoutWith img {width:160px;}
.checkoutWith a {font-size:16px; padding:8px 15px;}
.getFullAccess {padding:25px 0;}
.getFullAccess .hd {font-size:30px; padding-bottom:10px;}
.getFullAccess .txt {font-size:14px; line-height:22px;}
.detBanner {padding:20px 0;}
.detBanner .txt, .qaBanner .txt{font-size:18px;}
.detBanner .hd, .qaBanner .hd {font-size:30px; padding-bottom:15px;}
.blueHd {font-size:20px; padding-bottom:15px;}
.blueHd span {font-size:16px;}
.midLft {width:100%; float:none;}
.fullDoc {padding:15px 10px 15px 35px; font-size:14px; background:url(../images/info_icon.png) no-repeat 10px 16px;}
.fullDoc a {position:static; width:170px; margin-top:10px; text-align:center;}
.docImg {margin:10px;}
.midRgt {width:100%; float:none; padding:20px 0 0 0;}
.reatedMat {padding:20px 0;}
.realtedList {padding-bottom:20px;}
.realtedList ul li {width:32%; margin:20px 2% 0 0;}
.realtedList ul li:nth-child(3n) {margin-right:0;}
.betterGrade {padding:20px 0; min-height:inherit; font-size:18px; text-align:center;}
.betterGrade img {position:static; display:block; margin:auto; width:140px;}
.betterGrade .big {font-size:22px;}
.betterGrade .big span {font-size:25px;}
.qaBanner {padding:20px 0;}
.mainHdSmll {font-size:22px;}
.queList ul li a {padding:10px 10px 10px 35px; font-size:14px; line-height:20px; background:#fff url(../images/q_icon.png) no-repeat 10px 10px;}
.queList ul li a:hover {background:#00aeef url(../images/q_icon_wht.png) no-repeat 10px 10px;}
.helpBanner {font-size:30px; padding:50px 0;}
.helpLft {float:none; width:100%;}
.searchBox.help {margin-bottom:20px;}
.qBox {font-size:15px; padding:10px 10px 10px 35px; background:url(../images/q_icon_gray.png) no-repeat 10px 7px;}
.faqBox.active .qBox {background:url(../images/q_icon.png) no-repeat 10px 7px;}
.aBox {padding:10px 10px 10px 35px; font-size:14px; line-height:21px;}
.paging {font-size:14px;}
.helpRgt {float:none; width:100%; padding:25px 0 0 0;}
.notACustomer {font-size:20px;}
.notACustomerLink li {width:33.33%; float:left; padding:10px 5px 0 5px; font-size:14px;}
.notACustomerLink li a span {width:70px; height:70px; padding-top:8px;}
.regAddCon {padding:30px 0;}
.addressList {width:49%; font-size:15px; line-height:22px; margin-right:1%;}
.addressList span {font-size:17px; padding-bottom:10px;}
.filterCon {padding:15px 0;}
.filterOuter {padding:0;}
.filterHd {position:static; font-size:14px; padding-bottom:5px;}
.selectFilter {padding:0 5px;}
.resetFilter {position:static; clear:both; padding-top:10px; text-align:right;}
.searchTab {margin-bottom:20px; border-bottom:none;}
.searchTab ul li {float:none; margin-right:0; font-size:14px; border-bottom:2px solid #c7c7c7;}
.searchTab ul li a {float:none; padding:5px;}
.searchTab ul li a:hover:after, .searchTab ul li.active a:after {left:50px;}
.topResultHd {font-size:14px; float:none; padding-bottom:5px;}
.viewResult {float:none; font-size:14px; text-align:right;}
.resanswerBox {font-size:14px;}
.resultBox {padding:10px;}
.usereRating {position:static; padding-top:10px; font-size:14px;}
.youThinkInner {padding:20px 0 190px 0; min-height:inherit;}
.youThinkInner .img {position:absolute; left:0; bottom:0;}
.smllHd {font-size:22px;}
.bulletTxt li {font-size:14px;}
a.subscribeBtn {font-size:15px; padding:10px 15px;}
.resultList ul li {width:48%; margin:0 4% 20px 0;}
.resultList ul li:nth-child(2n) {margin-right:0;}
.resultList ul li .txt {padding:10px;}
.payGetInner {padding:20px 0 200px 0; min-height:inherit;}
.payGetInner .img {bottom:0; top:inherit; max-width:100%;}
.multipleDInner {padding:20px 0 160px 0; min-height:inherit;}
.multipleDInner .img {left:0; bottom:10px; max-width:100%;}
.reatedMat .queList ul li {margin:10px 2% 0 0; width:49%;}
.reatedMat .queList ul li:nth-child(3n) {margin-right:2%;}
.reatedMat .queList ul li:nth-child(2n) {margin-right:0;}
.resultList.studyList ul li {width:48%; margin:0 4% 20px 0;}
.resultList.studyList ul li:nth-child(3n) {margin-right:4%;}
.resultList.studyList ul li:nth-child(2n) {margin-right:0;}
.studyMatList ul li {margin:10px 2% 0 0; width:49%;}
.studyMatList ul li:nth-child(3n) {margin-right:2%;}
.studyMatList ul li:nth-child(2n) {margin-right:0;}
.studyMatList ul li a {font-size:14px;}
.categoryBanner {font-size:26px; padding:50px 0;}
.step {margin:20px 50px 70px 50px; height:4px;}
.step ul li.one {top:-13px;}
.step ul li.two {top:-13px;}
.step ul li.three {top:-13px;}
.step ul li.four {top:-13px;}
.step ul li.five {top:-13px;}
.step ul li {font-size:11px; width:25%; margin-left:-12.5%;}
.step ul li span {height:26px; width:26px; line-height:26px; font-size:14px;}
.step ul li.active:before {top:13px; height:4px;}
.subHd {font-size:18px;}
.categoryInfo {padding:10px 15px;}
.categoryInfo ul li {width:50%; font-size:13px; padding:3px 0;}
.formBtn.smll {padding:8px 10px; font-size:15px;}
.workSampleBox {padding:20px;}
.workSampleHd {padding-bottom:10px; font-size:17px;}
.workSampleTxt li {float:none; width:100%; font-size:14px; line-height:20px; padding:20px 0; border-bottom:1px solid #ccc; border-right:none;}
.workSampleTxt li a.blueBtn {font-size:15px;}
.personalInfo {width:100%; float:none;}
.generalInfo {width:100%; float:none;}
.grayBox {padding:10px;}
.tpiBox {margin-bottom:10px;}
.tpiHdCov {padding:10px;}
.tpiHd {font-size:15px; float:none;}
.tpiLinks {float:none; text-align:right; font-size:12px;}
.tpiLinks a {margin-left:10px;}
.tpiList {padding:10px;}
.tpiList .first {float:none; width:100%;}
.tpiList .second {width:auto; margin:8px 10px 0 0;}
.tpiList .third {width:auto; margin:8px 10px 0 0;}
.tpiList a.addLink {font-size:14px;}
.createBanner {font-size:26px; padding:40px 0;}
.createBanner span {font-size:20px;}
.qaTlft {float:none; width:100%;}
.qaTrgt {float:none; width:100%; padding:0 0 30px 0;}
.qaTab {border-bottom:2px solid #c7c7c7; height:auto;}
.qaTab ul li {float:none; width:100%;}
.qaTab ul li a {border-right:2px solid #c7c7c7; border-bottom:none;}
.topPad {padding-top:20px;}
.formField {padding-bottom:10px;}
.formLabel {font-size:14px;}
.borBtn {font-size:15px; padding:7px 10px;}
.notification {background-position:10px 7px; padding:10px 10px 10px 45px; font-size:14px;}
.qaFilter {padding:10px;}
.subjectBox {float:none; width:100%; margin:0 0 10px 0;}
.keywordBox {float:none; width:100%; margin:0 0 10px 0;}
.filterBtn {float:right; width:120px;}
.showing {padding:10px; font-size:14px;}
.questionList {padding:10px 10px 10px 30px;}
.questionList ul li {padding:0 0 0 30px; margin-bottom:10px;}
.questionList ul li .text {font-size:14px; padding:10px 10px 10px 0;}
.estimateE {float:none; padding:10px 0;}
.questionList ul li a.orangeBtn {margin-top:5px;}
.questionList ul li a.blueBtn {margin-top:5px;}
.qlBtns {float:none; text-align:right; padding:0 10px 10px 10px;}
.profileLft {width:100%; float:none;}
.profileImg {width:292px; margin:auto;}
.profileLinks li a:hover:after, .profileLinks li a.active:after {display:none;}
.profileRgt {width:100%; float:none; padding:20px 0 0 0;}
.uploadDoc {font-size:15px; padding:10px;}
.lighBlueHd {padding:10px;}
.resultList.recentList {padding:10px 10px 0 10px;}
.resultList.recentList ul li {width:48%; margin:0 4% 15px 0;}
.resultList.recentList ul li:nth-child(3n) {margin-right:4%;}
.resultList.recentList ul li:nth-child(2n) {margin-right:0;}
.stepList {margin-top:0; padding:25px 0; font-size:14px;}
.stepList ul {padding-bottom:20px;}
.stepList ul li {float:none; width:100%; padding:25px 0; font-size:16px; border-bottom:1px solid #eee;}
.stepList ul li:first-child {padding-top:0;}
.stepList ul li .stepIcon {width:100px;}
.stepList ul li .stepImg {width:100px; height:100px; border:4px solid #838383; padding-top:15px;}
.stepList ul li .stepImg img {width:60px;}
.stepList ul li .count {right:-32px; top:10px;}
a.applyBtn {font-size:17px; padding:10px 25px;}
.lightBlueCon {padding:25px 0;}
.whtplaneBox {padding:10px;}
.checlList li {float:none; width:100%; margin:10px 0 0 0; font-size:15px; background-position:0 1px;}
.howTW {padding-top:25px;}
.howTW li {float:none; width:100%; padding:30px 0; font-size:20px;}
.howTW li:first-child:after {width:100%;}
.howTW li:last-child:after {width:100%;}
.videoBox {padding:10px;}
.qNBox {font-size:15px; padding:15px 15px 15px 35px; background-position:10px 14px;}
.qNBox:after {right:10px;}
.faqNBox.active .qNBox { background-position:10px 14px;}
.aNBox {padding:0 15px 15px 35px; font-size:14px; line-height:20px;}
.becomeCourseHero .inner {font-size:18px; padding:20px 0; text-align:center;}
.becomeCourseHero .inner a.applyBtn {position:static; display:block; width:150px; margin:15px auto 0 auto;}
.earnMoneyInfo  {padding:0 0 20px 0; margin-top:0;}
.earnMoneyInfo ul li {float:none; width:100%; border-bottom:1px solid #eee; padding:20px 0;}
.earnMoneyInfo ul li:first-child {padding-top:0;}
.earnMoneyGraph {height:auto; background:none; margin-bottom:0px;}
.earnMoneyGraph ul li {position:static; padding-bottom:25px; width:50%; float:left;}
.earnMoneyGraph ul li .number {margin:0 auto 10px auto;}
.earnMoneyGraph ul li .txt {width:auto; position:static;}
.earnMoneyGraph ul li.five {width:100%;}
.earnMoneyGraph ul li.five .txt {width:auto; text-align:center;}
.earnMoneyGraph ul li.one .number {margin:0 auto; width:52px; height:52px; line-height:52px;}
.courseHd {padding:10px 10px 10px 34px; font-size:20px;}
.courseHd span {font-size:14px;}
.courseHd .docUpload {position:static; text-align:right; display:block;}
.courseHd .arrow {left:10px; top:18px;}
.uploadTxt {font-size:18px; padding:30px;}
.uploadBtnNew {font-size:15px;}
.upInner {width:80%; margin:60px auto 0 auto;}
.upInner .hd {padding:10px; font-size:20px;}
.uploadDet {padding:20px; font-size:16px;}

.askQuestion  {display:none;}
.leftMenu ul li:first-child {display:none;}

}

@media only screen and (max-width: 479px) {
.bannerBtns a {margin:0 auto 5px auto; display:block; width:220px; padding:10px 0;}
a.startbtn {font-size:24px;}
.footerLink {width:50%;}
.socialLinks {padding:15px 0; float:none;}
.linkBot a {line-height:22px;}
.linkBot a:after {top:8px;}
.planTlft .img {width:32%;}
.planTlft .img img {width:100%;}
.choosePlan {padding:8px 0; font-size:14px;}
.courseDet {margin:10px 0 0 10px; font-size:13px; line-height:22px; padding:0 0 0 15px;}
.queList ul li {margin:10px 0 0 0; width:100%; float:none;}
.addressList {width:100%; margin-right:0; padding:15px 0;}
.filterBox {float:none; width:100%; margin:0 0 5px 0;}
.payGetInner {padding-bottom:155px;}
.resultList ul li {width:248px; margin:0 auto 15px auto !important; float:none;}
.reatedMat .queList ul li {margin:10px 0 0 0; width:100%;}
.reatedMat .queList ul li:nth-child(3n) {margin-right:0;}
.resultList.studyList ul li {width:240px; margin:0 auto 15px auto !important;}
.studyMatList ul li {margin:10px 0 0 0 !important; width:100%;}
.step {margin:20px 35px 70px 35px;}
.step ul li {font-size:10px;}
.categoryInfo ul li {float:none; width:100%;}
.acInfo ul li {float:none; width:100%; background:none; border-bottom:1px solid #dbdbdb;}
.acInfo ul li:last-child {border:none;}
.resultList.recentList ul li {width:240px; float:none; margin:0 auto 15px auto !important;}
.borBtn  {margin:5px 0;}
.formField.half {width:100%;}
}

/*-----------neeru-------------- */
.UnlockReedem {padding:20px 0 0 0; font-size:17px;}
/*.UnlockReedem img {width:160px;}*/
.UnlockReedem a {font-size:16px; padding:8px 15px;}
   

