﻿
@using PagedList.Mvc
@model PagedList.IPagedList<LibraryDataLayer.tblUniversity>

@{
    var totalCount = Convert.ToInt32(ViewData["TotalUniversityCount"]);
}
@if (Model.Count > 0 && Model != null)
{
    <table id="example1" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th width="20%">Created Date</th>
                <th width="20%">University</th>
                <th width="20%">Country</th>
                <th width="20%">Status</th>
                <th width="20%">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>@Convert.ToDateTime(item.CreatedOn).ToString("yyyy-MM-dd")</td>
                <td>@item.shortName</td>
                <td>@item.country</td>
                <td>@(item.IsActive == false ? "Active" : "Not Active")</td>
                <td>

                 
                    @if (item.IsActive == false)
                    {

                        <a title="Edit" href="@Url.Action("EditUniversity", "University", new { @area = "NewAdmin", @Id = item.UID })"><i class="fa  fa-edit fa-2x"></i></a>
                        <a title="Deactivate" onclick="return DeleteRecord(@item.UID, 0)"><i class="fa fa-times-circle fa-2x"></i></a>
                        <a title="Delete" onclick="return FinalDelete(@item.UID, 0)"><i class="fa fa-trash fa-2x"></i></a>

                    }
                    else
                    {
                        <a title="Activate" onclick="return DeleteRecord(@item.UID, 1)"><i class="fa fa-check-circle fa-2x"></i></a>

                    }
                </td>
            </tr>
            }
        </tbody>

    </table>
    if (totalCount > ViewBag.pageSize)
    {
        @Html.PagedListPager(Model, page => Url.Action("_ListOfUniversity", "University", new { area = "NewAdmin", IsActive = ViewBag.IsDeleted, page }));
    }
}
else
{
    <span style="color:rosybrown"><strong>No record found!!</strong></span>
}
