﻿@using PagedList;
@using PagedList.Mvc
@{
    Layout = "~/Areas/NewAdmin/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Index";
    var data = (PagedList<LibraryDataLayer.SP_GETSTUDENT_Result>)ViewBag.StudentInfo;
}
<style>
    .pagination {
        float: right;
        margin: 0;
    }

        .pagination li.active a {
            cursor: not-allowed;
        }

            .pagination li.active a:hover {
                cursor: not-allowed;
            }

    .fa-sort {
        margin: 0 4px;
    }

    .faSpinner {
        display: none;
        position: absolute;
        z-index: 9;
        width: 100%;
        height: 100%;
        background: #ddd;
        opacity: 0.4;
    }

        .faSpinner i {
            position: absolute;
            left: 40%;
            top: 40%;
        }
</style>
<div class="content-wrapper" style="min-height: 960px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Student List
            <div class="topAddNewLink"><a href="/NewAdmin/Panel/AddStudent" class="btn btn-primary btn-xs">Add Student</a></div>
        </h1>
        <ol class="breadcrumb">
            <li><a href="/Admin/Dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Student </li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <!-- Info boxes -->

        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Student List</h3>
                        <div class="box-tools pull-right">
                            <div class="has-feedback">
                                <input type="text" id="Search" class="form-control input-sm" placeholder="Search - Student Name" style="width:300px" />
                                <span class="glyphicon glyphicon-search form-control-feedback"></span>
                            </div>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input style="float:right" type="checkbox" id="InActive" onchange="GetArticlesList(this);" class="minimal"> In-Active
                            </label>
                        </div>
                        @*<a href="javascript:void(0)" class="btn btn-primary" onclick="window.history.back();" style="float: right;">Back</a>*@
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <div id="StudentList">
                            @{
                                ViewDataDictionary extraData = new ViewDataDictionary(ViewData) { { "TotalStudentCount", ViewBag.TotalCount } };
                                Html.RenderPartial("_StudentList", data, extraData);
                            }
                        </div>

                    </div><!-- /.box-body -->

                </div>
                <!-- /.box-footer -->

            </div><!-- /.col -->
        </div>

    </section><!-- /.content -->
</div>
@*<div class="modal fade" id="modalUserDetail" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"><strong>Student details</strong></h4>
                </div>
                <div class="modal-body">

                    <form role="form">
                        <div class="box-body">
                            <table id="example1" class="table table-bordered table-striped">
                                <tbody>
                                    <tr>
                                        <td>Student-Id:</td>
                                        <td id="EntityId"></td>
                                    </tr>

                                    <tr>
                                        <td>Name:</td>
                                        <td id="NickName"></td>
                                    </tr>
                                    <tr>
                                        <td>Email:</td>
                                        <td id="Email"></td>
                                    </tr>
                                    <tr>
                                        <td>Contact:</td>
                                        <td id="Contact"></td>
                                    </tr>
                                    <tr>
                                        <td>Loyalty Points:</td>
                                        <td id="Point"></td>
                                    </tr>
                                    <tr>
                                        <td>Loyalty Deduction:</td>
                                        <td id="loyalty">
                                            <select id="drpLoyalty">
                                                <option value="0">Select</option>
                                                <option value="15">Invalid form submission</option>
                                                <option value="16">Dispute</option>
                                                <option value="17">Chargeback</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" align="center">
                                            <input type="submit" value="Submit" id="btnSubmit" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" align="center">
                                            <span id="spmsg" style="color:red;"></span>
                                        </td>
                                    </tr>

                                </tbody>

                            </table>
                        </div><!-- /.box-body -->

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>*@


    <script type="text/javascript">
    function DeleteRecord(Id, status) {
        var txt;
        var r = confirm("Do you really want to perform this action?");
        if (r == true) {
            $.ajax({
                url: '@Url.Action("DeleteStudent", "Panel", new { area = "NewAdmin" })',
                type: "POST",
                data: JSON.stringify({ Id: Id, status: status }),
                async: false,
                contentType: "application/json",
                dataType: "json",
                success: function (result) {
                    if (result > 0) {
                        if (status == "0") {
                            toastr["success"]("Record is successfully deactivated.");
                        } else {
                            toastr["success"]("Record is successfully activated.");
                        }
                        //  alert("Record is successfully deleted.");
                        GetArticlesList();
                    }
                    else {
                        toastr["error"]("Some error while processing your request.")
                    }
                },
                error: function (data) {
                    toastr["error"]("Some error while processing your request.")
                }
            });
        }
        else {
            txt = "You pressed Cancel!";
        }
    }
    function FinalDeleteRecord(Id, status) {
        var txt;
        var r = confirm("Do you really want to perform this action?");
        if (r == true) {
            $.ajax({
                url: '@Url.Action("FinalDeleteStudent", "Panel", new { area = "NewAdmin" })',
                type: "POST",
                data: JSON.stringify({ Id: Id, status: status }),
                async: false,
                contentType: "application/json",
                dataType: "json",
                success: function (result) {
                    if (result > 0) {
                        if (status == "0") {
                            toastr["success"]("Record is successfully deactivated.");
                        }
                        else if (status == "4") {
                            toastr["success"]("Record is successfully deleted.");
                        }
                        else {
                            toastr["success"]("Record is successfully activated.");
                        }
                        //  alert("Record is successfully deleted.");
                        GetArticlesList();
                    }
                    else {
                        toastr["error"]("Some error while processing your request.")
                    }
                },
                error: function (data) {
                    toastr["error"]("Some error while processing your request.")
                }
            });
        }
        else {
            txt = "You pressed Cancel!";
        }
    }
    </script>
    <script>
    function GetArticlesList(elem) {
        $(elem).attr("disabled", 1);
        var HTML = "";
        var chkdata = "";
        var IsActive = $('#InActive').is(":Checked");
        if (IsActive == true)
        {
            chkdata = true;
        }
        else
        {
            chkdata = false;
        }
        $.ajax({
            type: 'GET',
            async: false,
            url: '@Url.Action("_StudentList", "Panel", new { @area = "NewAdmin" })',
            data: { IsActive: chkdata },
            success: function (data) {
                if (data != null) {
                    $('#StudentList').html(data)

                    $(elem).removeAttr("disabled");
                }
                else {
                    alert("No Record Found!!")
                }
            },
            error: function (response) {
            }
        });
    }
    @*$('body').on('click', '#StudentList a', function (event) {
        if (!$(this).hasClass('btn-sm')) {
            var url = $(this).attr("href");
            $(".faSpinner").show();
            if (url != undefined) {
                event.preventDefault();
                var columnToSort = $(this).attr("data-sort");
                var currentSortOption = '@ViewBag.Sort';
                if (columnToSort != '') {
                    columnToSort = '&sortOption=' + columnToSort;
                }
                url = url;
                setTimeout(function () {
                    $.ajax({
                        url: url,
                        success: function (result) {
                            $('#StudentList').html(result);
                            $(".faSpinner").hide();
                        }
                    });
                },500)

            }
        }
   });*@
    $('#Search').keyup(function () {

        var Search = $('#Search').val().replace(/[/\<>]/g, '');
        //alert($('#Search').val());
        if ($('#Search').val().length > 2) {
            $.ajax({
                type: 'GET',
                url: '@Url.Action("_StudentList", "Panel", new { area = "NewAdmin" })',
                data: { SearchStr: Search },
                success: function (data) {

                    if (data != 0) {
                        $('#StudentList').html(data)
                    }
                    else {
                        alert("No Record Found!!");
                    }
                },
                error: function (data) {
                }
            });
        }
         else {
            $.ajax({
                type: 'GET',
                url: '@Url.Action("_StudentList", "Panel", new { area = "NewAdmin" })',
                data: { SearchStr: "" },
                success: function (data) {

                    if (data != 0) {
                        $('#StudentList').html(data)
                    }
                    else {
                        alert("No Record Found!!");
                    }
                },
                error: function (data) {
                }
            });
        }
    });

    function ChangeUrl(page, url) {
        if (typeof (history.pushState) != "undefined") {
            var obj = { Page: page, Url: url };
            history.pushState(obj, obj.Page, obj.Url);
        } else {
            alert("Browser does not support HTML5.");
        }
    }

    function getUrlVars() {
        var vars = [], hash;
        var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
        for (var i = 0; i < hashes.length; i++) {
            hash = hashes[i].split('=');
            vars.push(hash[0]);
            vars[hash[0]] = hash[1];
        }
        return vars;
    }
    </script>
