﻿@model PagedList.IPagedList<LibraryBILayer.Admin.SolutionLibr>
@using PagedList.Mvc
@using LibraryBILayer.Admin
@using LibraryApp.Models
@{
    int i = 1;
    var list = ViewBag.MyList;
    ViewBag.Title = list[0].Title;
    ViewBag.MetaDesc = list[0].Description;
    ViewBag.MetaKeyWord = list[0].Tags;
}
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script type="text/javascript">
    $("#myBtn").click(function () {
        $('#myModal').modal('show');
    });
</script>
<style>
    .h2_page {
        font-size: 22px !important;
    }
</style>

<div class="main-content">

    <section>
        <div class="container" style="padding-top:20px">
            <div class="row">
                <div class="col-md-9 mPad">

                    <div class="single-service single mt-30">
                        <!-- Modal -->
                        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title" id="myModalLabel">@list[0].Title </h4>
                                    </div>
                                    <div class="modal-body">@Html.Raw(list[0].SolContent)</div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        @*<button type="button" class="btn btn-primary">Save changes</button>*@
                                    </div>
                                </div>
                            </div>
                        </div>


                        <h1 class="text-theme-colored h2_page">@list[0].Title </h1>
                        @{
                            var ques = RemHTML.StripHTML(list[0].SolContent);
                        }
                        <p>@Html.Raw(HttpUtility.HtmlDecode(ques.Substring(0, ques.Length > 700 ? 700 : ques.Length)))...<a href="javascript:void(0)" id="myBtn" data-toggle="modal" data-target="#myModal" style="color: #f2184f;font-weight: 600;">Show More</a></p>
                        @*<div class="expand">
                                @Html.Raw(list[0].SolContent)
                            </div>*@
                        @if (list[0].Amount != null)
                        {
                            @*<p><span class="pr">Price - </span><span class="ft200">$@list[0].Amount</span></p>*@
                            <center><input type="button" style="background-color:orange;color:black" class="btn btn-warning" value="Price - $@list[0].Amount"/></center>
                        }
                        <br />
                        @foreach (var m in ManageLibrary.GetQuestionFile(list[0].Sol_ID))
                        {
                            <p>
                                <span style="font-weight:600">Question File @i  -</span> <a class="answerFile" href="@m.Question_File_Name.Replace("~/","../../../")" style="color: #2c5dab; font-weight: 600;" target="_blank" download>View Question</a>
                            </p>
                            i++;
                        }
                    </div>

                    <div class="ans" style="position:relative">
                        <h4 class="answerPrev">Answer Preview</h4>
                        @{
                            if (list[0].AnswerPreview != null)
                            {
                                var mycontent2 = RemHTML.StripHTML(list[0].AnswerPreview);

                                <p> <div style="padding: 0px 14px;text-align: justify;">@mycontent2</div></p>
                            }
                        }

                        <p>

                            <img src="~/img/screen1.jpg" alt="sample" />

                            @if (list[0].AnswerPreview != null)
                            {

                                <a href="~/answer-pricing?ques=@list[0].Sol_ID&price=1">
                                @*<a href="@Url.Action("QuestionPage","Home")">*@
                                    <center> <button type="submit" style="background-color:green;color:white" class="btn btn-success"><i class="fa fa-arrow-circle-down" aria-hidden="true"></i> Get Answer</button></center>
                                </a>

                            }
                            else
                            {
                                <a href="~/single-pricing?ques=@list[0].Sol_ID">
                                @*<a href="@Url.Action("QuestionPage","Home")">*@
                                    <center><button type="submit" style="background-color:green;color:white" class="btn btn-success"><i class="fa fa-arrow-circle-down" aria-hidden="true"></i> Get Answer</button></center>
</a>

                            }
                        </p>

                    </div>
                </div>
                <div class="col-md-3 formS">
                    <div class="sidebar sidebar-left mt-sm-30 ml-40">
                        <div class="widget">

                            @Html.Partial("_Category")
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </section>

</div>
</div>

@*<section class="your_service">
        <div></div>
        <p class="main_ft_p">Your online learning platform for every course.</p>
        <p class="pt-25">
            <a class="live_chat c_livechat ord" href="~/register">Register Now</a>
        </p>
        <div class="clear"></div>
    </section>*@


<script>
    $(document).ready(function () {
        $(document).bind("contextmenu", function (e) {
            return false;
        });
    });
</script>