﻿@model LibraryBILayer.Admin.QuestionLib
@using LibraryBILayer.Admin
@{
    int i = 1;
    ViewBag.Title = "Index";
    Layout = "~/Areas/NewAdmin/Views/Shared/_Layout.cshtml";

    
    List<SelectListItem> StatusIDs = new List<SelectListItem>();
    StatusIDs.Add(new SelectListItem() { Text = "Pending", Value = "1" });
    StatusIDs.Add(new SelectListItem() { Text = "Completed", Value = "2" });
    //StatusIDs.Add(new SelectListItem() { Text = "Reject", Value = "3" });
    SelectList StatusIDList = new SelectList(StatusIDs, "Value", "Text");
}

<script src="~/Content/customjs/jquery.validate.min.js"></script>
<script src="~/Content/customjs/jquery.validate.unobtrusive.js"></script>
<script src="~/Content/customjs/jquery.validate.unobtrusive.min.js"></script>
<link href="~/Content/customcss/validate.css" rel="stylesheet" />
<script src="~/Content/customjs/validations.js"></script>
<style>
    .custom-input-error {
        border: 1px solid #a94442 !important;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;
        background-color: #FBE8E8 !important;
    }

    .custom-input-success {
        border: 1px solid #3c763d !important;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;
        background-color: #D6F3D6 !important;
    }

    .add_field_button {
        background-color: #089cd3;
        border: none;
        margin-bottom: 15px;
        color: #fff;
        font-weight: 400;
        padding: 5px 11px;
    }

    .add_field_button1 {
        background-color: #089cd3;
        border: none;
        margin-bottom: 15px;
        color: #fff;
        font-weight: 400;
        padding: 5px 11px;
    }

    .del {
        font-size: 12px;
        margin-left: 20px;
        color: red;
        text-decoration: underline;
        cursor: pointer;
    }
</style>

<div class="content-wrapper" style="min-height: 960px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            View 24/7 Question
        </h1>
        <ol class="breadcrumb">
            <li><a href="/NewAdmin/Panel"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active"> 24/7 Question</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <!-- Info boxes -->

        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">24/7 Question Information</h3>

                    </div><!-- /.box-header -->
                    <div class="box-body">
                        @using (Html.BeginForm("UpdateStatus", "Question", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            <input type="hidden" value="@Model.ID" id="ID" name="ID" />
                            <input type="hidden" value="@Model.StatusID" id="StatusID" name="StatusID" />
                            <div class="box-body">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Question ID</label>
                                    <div class="form-group">
                                        @Model.QuestionID
                                    </div>

                                    @* @Html.HiddenFor(c => c.UID)*@
                                    @*    <select class="form-control" id="HUID" name="HUID" style="width:85%"></select>*@
                                    @*  @Html.DropDownListFor(m => m.UID, (IEnumerable<SelectListItem>)ViewBag.University, "Select", new { @class = "form-control", style = "width:85%" })*@
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Student Name</label>
                                    <div class="form-group">
                                        @Model.Name
                                    </div>
                                    @*@Html.DropDownListFor(m => m.SolSubID, (IEnumerable<SelectListItem>)ViewBag.Subject, "Select", new { @class = "form-control", style = "width:85%" })*@
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Student Email</label>
                                    <div class="form-group">
                                        @Model.Email
                                    </div>
                                    @*@Html.TextBoxFor(m => m.Subject_Code, new { @placeholder = "Enter Subject Code", @class = "form-control", style = "width:85%" })*@
                                </div>

                                <div class="form-group">
                                    <label for="exampleInputEmail1">Subject</label>
                                    <div class="form-group">
                                        @Model.Subject
                                    </div>

                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Phone No</label>
                                    <div class="form-group">
                                        @if (Model.Phone != null)
                                        {
                                            <span>No Mobile Number Found</span>
                                        }
                                        else
                                        {
                                            @Model.Phone
                                        }

                                    </div>

                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">File</label>
                                    <div class="form-group">
                                        @if (Model.File != "")
                                        {
                                            <a href="@Model.File" download>Download</a>
                                        }
                                    </div>

                                </div>
                                @if (Model.SolID != null)
                                        {
                                            var QuesData = ManageLibrary.getSolu(Convert.ToInt32(Model.SolID));
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Question Url</label>
                                        <div class="form-group">
                                            <a href="https://www.classmaster.com.au/solution/@QuesData.UrlText" target="_blank">https://www.classmaster.com.au/solution/@QuesData.UrlText</a>
                                        </div>

                                    </div>
                                        }
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Question</label>
                                    <div class="form-group">
                                        @Html.Raw(Model.Question)
                                    </div>

                                </div>

                                <div class="form-group">
                                    <label for="exampleInputEmail1">Price</label>
                                    <div class="form-group">
                                        @Html.TextBoxFor(c => c.EstimatedPrice, new { @class = "form-control", @placeholder = "Price", style = "width:25%" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="exampleInputEmail1">Status</label>
                                    <div class="form-group">
                                        @Html.DropDownList("ChangeStatusID", StatusIDList, "--SELECT--", new { @class = "form-control", style = "width:25%" })

                                    </div>

                                </div>


                            </div><!-- /.box-body -->

                            <div class="box-footer">
                                @*<input type="hidden" id="hidUID" />
                <button type="submit" id="btnSubmitArticle" class="btn btn-primary">Update</button>*@
                                <button type="submit" id="btnSubmitArticle" class="btn btn-primary">Update</button>
                                <a href="/NewAdmin/Question/" class="btn btn-primary" style="float: right;">Back to list</a>
                            </div>
                        }

                        </div><!-- ./box-body -->
                    <!-- /.box-footer -->
                </div><!-- /.box -->
            </div><!-- /.col -->
        </div>

    </section><!-- /.content -->
</div>
<script>
    function delQues(Id) {
        $.ajax({
            url: '@Url.Action("DeleteQuestionSolution", "SolutionLibrary", new { area = "NewAdmin" })',
            type: "POST",
            data: JSON.stringify({ Id: Id }),
            async: false,
            contentType: "application/json",
            dataType: "json",
            success: function (result) {
                if (result > 0) {

                    toastr["success"]("Record is successfully deleted.");

                    window.location.reload();
                    //  alert("Record is successfully deleted.");
                   // GetArticlesList();
                }
                else {
                    toastr["error"]("Some error while processing your request.")
                }
            },
            error: function (data) {
                toastr["error"]("Some error while processing your request.")
            }
        });
    }
</script>

<script src="~/Areas/NewAdmin/NewContent/plugins/jQuery/jQuery-2.1.4.min.js"></script>
<script src="~/Areas/NewAdmin/NewContent/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/5.0.4/tinymce.min.js"></script>
@*<script src="~/Content/Editor/jquery.tinymce.min.js"></script>
    <script src="~/Content/Editor/tinymce.min.js"></script>*@

<script>
    $(document).ready(function () {

        var max_fields = 6; //maximum input boxes allowed
        var wrapper = $(".input_fields_wrap"); //Fields wrapper
        var add_button = $(".add_field_button"); //Add button ID

        var x = 1; //initlal text box count
        $(add_button).click(function (e) { //on add input button click
            e.preventDefault();
            if (x < max_fields) { //max input box allowed
                x++; //text box increment
                $(wrapper).append('<div class="row" style= "margin-left:0px;margin-right:0px;"> <input type="file" name="myfile[]" class="myup" onchange="angular.element(this).scope().LoadFileData(this.files)" style="height: 36px; margin-bottom: 5px;float:left;width:85%; padding:6px;" /> <a href="javascript:void(0)" class="remove_field cross" style="padding-left: 2%;"><img src="/img/redCross.png" class="mainds" style="padding-left: 5px; width: 27px;padding-top: 7px; float:right;"></a></div>'); //add input box
                //$(wrapper).append('<div class="element"><i class="fa fa-cloud-upload fm gyanUpload' + x + '" ></i > <span class="name spanname' + x +'" style="padding-left:5px;">No file selected</span><input type="file" name="myFile[]" class="myfileup"><a href="#" class="remove_field cross"><img src="images/errorclose.png" class="mainds" style="padding-left: 5px;"></a></div>'); //add input box

                $(".attach").text('Attach More Files');
            }
        });

        $(wrapper).on("click", ".remove_field", function (e) { //user click on remove text
            e.preventDefault(); $(this).parent('div').remove(); x--;
            var m = $('.myup').length;
            if (m == 0) {
                $(".attach").text('Attach File');
            }
        });

        var max_fields1 = 6; //maximum input boxes allowed
        var wrapper1 = $(".input_fields_wrap1"); //Fields wrapper
        var add_button1 = $(".add_field_button1"); //Add button ID

        var y = 1; //initlal text box count
        $(add_button1).click(function (e) { //on add input button click
            e.preventDefault();
            if (y < max_fields1) { //max input box allowed
                y++; //text box increment
                $(wrapper1).append('<div class="row" style= "margin-left:0px;margin-right:0px;"> <input type="file" name="myfile[]" class="myup1" onchange="angular.element(this).scope().LoadFileData(this.files)" style="height: 36px; margin-bottom: 5px;float:left;width:85%; padding:6px;" /> <a href="javascript:void(0)" class="remove_field1 cross" style="padding-left: 2%;"><img src="/img/redCross.png" class="mainds" style="padding-left: 5px; width: 27px;padding-top: 7px; float:right;"></a></div>'); //add input box
                //$(wrapper).append('<div class="element"><i class="fa fa-cloud-upload fm gyanUpload' + x + '" ></i > <span class="name spanname' + x +'" style="padding-left:5px;">No file selected</span><input type="file" name="myFile[]" class="myfileup"><a href="#" class="remove_field cross"><img src="images/errorclose.png" class="mainds" style="padding-left: 5px;"></a></div>'); //add input box

                $(".attach1").text('Attach More Files');
            }
        });

        $(wrapper1).on("click", ".remove_field1", function (e) { //user click on remove text
            e.preventDefault(); $(this).parent('div').remove(); y--;
            var m = $('.myup1').length;
            if (m == 0) {
                $(".attach1").text('Attach File');
            }
        });



    });

</script>

<script>

    $("#ParentArtName").keyup(function (e) {

        $(this).val($(this).val().replace(/[/\<>#.:;*$^]/g, ''));
        $(this).next('span').children().html("Special characters are not allowed.");
        //var isValid = true;
        //if (event.shiftKey == true) {
        //  //  return false;
        //}
        //if ((e.which < 48 && (e.keyCode != 8 && e.keyCode != 32)) || (e.which > 57 && e.which < 65) || (e.which > 90 && e.which < 97) || e.which > 122) {
        //    isValid = false;
        //}
        //if (e.keyCode == 189)
        //{ isValid = true; }
        //return isValid;
    });



</script>
<script type="text/javascript">

    $('#btnSubmitArticle').click(function () {

        //var imagename = $('#imagefile').val().split('/').pop().split('\\').pop();
        //if (imagename == "") {
        //    alert('Please Select Banner Image');
        //    return false;
        //}

        //isValid = true;
        //if ($(tinyMCE.get('editor1').getContent()).text() != "") {
        //    if ($('#mceu_27').html() == "Words: 0") {
        //        isValid = false;
        //        alert('Only space or numeric content is not allowed.');
        //    }
        //}
        //if (isValid == false)
        //    return false;

        //if ($("#HUID").val() != null) {
        //    alert("Please select university");
        //    $("#HUID").focus();
        //    return false;
        //}
        //if ($("#HSolSubID").val() != null) {
        //    alert("Please select category");
        //    $("#HSolSubID").focus();
        //    return false;
        //}
        //if ($("#HMSID").val() != null) {
        //    alert("Please select subject code");
        //    $("#HMSID").focus();
        //    return false;
        //}
        //if ($("#Title").val() != null) {
        //    alert("Please solution library title");
        //    $("#Title").focus();
        //    return false;
        //}
        //if ($("#Amount").val() != null) {
        //    alert("Please enter the amount");
        //    $("#Amount").focus();
        //    return false;
        //}
    });


    @*function AddParentArticle() {
        debugger;
        var ParentArticleName = $('#ParentArticleName').val();
        if (ParentArticleName.trim() != "") {
            var ParentArticleActive = $('#ParentArticleActive').is(":checked");
            $.ajax({
                url: '@Url.Action("AddParArt", "Article", new { area = "Admin" })',
                type: "POST",
                data: JSON.stringify({ Name: ParentArticleName, IsActive: ParentArticleActive }),
                async: false,
                contentType: "application/json",
                dataType: "json",
                success: function (data) {
                    debugger;
                    if (data == 0) {
                    } else {
                        window.location.reload();
                    }
                },
                error: function (data) {
                    alert(data);
                }
            });
        }
        else {
            $('#ParentArticleName').css("border-color", "#a94442");
            $('#ParentArticleRequired').html("Master Category name is required.")
        }
    }
    $('#ParentArticleName').keypress(function () {
        $('#ParentArticleName').css("border-color", "#4375A7");
        $('#ParentArticleRequired').html("")
    });*@
</script>

<script type="text/javascript">
    tinymce.init({
        selector: "textarea",
        plugins: "code,fullscreen,link,image,lists,table",
        extended_valid_elements: "#span[class]",
        relative_urls: false,
        remove_script_host: false,
        convert_urls: false,
        toolbar: "numlist bullist underline bold italic fontsizeselect formatselect code fullscreen link image alignleft aligncenter alignright alignjustify"
    });
</script>
<script>
    $(document).ready(function () {
        var ddlUniversity = $('#HUID');
        ddlUniversity.append($("<option></option>").val('').html('Please Select University'));
        $.ajax({
            url: '/api/app/universityDetails',
            //url: 'http://localhost:55544/api/app/universityDetails',
            type: 'GET',
            dataType: 'json',
            success: function (d) {
                $.each(d, function (i, country) {
                    ddlUniversity.append($("<option></option>").val(country.UID).html(country.University));
                });

                ddlUniversity.val($("#UID").val());

                if ($("#UID").val() != null) {
                    var CountryId = parseInt($("#UID").val());
                    $("#hidUID").val(CountryId);
                    if (!isNaN(CountryId)) {
                        var ddlState = $('#HSolSubID');
                        ddlState.empty();
                        ddlState.append($("<option></option>").val('').html('Please wait ...'));

                        //debugger;
                        $.ajax({
                            url: '/api/app/categoryDetails',
                            //url: 'http://localhost:55544/api/app/categoryDetails',
                            type: 'GET',
                            dataType: 'json',
                            data: { UID: CountryId },
                            success: function (d) {

                                ddlState.empty(); // Clear the please wait
                                ddlState.append($("<option></option>").val('').html('Select Subject Category'));
                                $.each(d, function (i, states) {
                                    ddlState.append($("<option></option>").val(states.SolSubID).html(states.Subject));
                                });

                                ddlState.val($("#SolSubID").val());

                                if ($("#SolSubID").val() != null) {
                                    var StateId = parseInt($("#SolSubID").val());
                                    if (!isNaN(StateId)) {
                                        var ddlCity = $('#HMSID');
                                        ddlCity.append($("<option></option>").val('').html('Please wait ...'));

                                        //debugger;
                                        $.ajax({
                                            url: '/api/app/subjectDetails',
                                            //url: 'http://localhost:55544/api/app/subjectDetails',
                                            type: 'GET',
                                            dataType: 'json',
                                            data: { SolSubID: StateId, UID: parseInt($("#hidUID").val()) },
                                            success: function (d) {


                                                ddlCity.empty(); // Clear the plese wait
                                                ddlCity.append($("<option></option>").val('').html('Select Subject Code'));
                                                $.each(d, function (i, cities) {
                                                    ddlCity.append($("<option></option>").val(cities.MSID).html(cities.SubjectCode));
                                                });

                                                ddlCity.val($("#MSID").val());
                                            },
                                            error: function () {
                                                alert('Error!');
                                            }
                                        });
                                    }


                                }

                            },
                            error: function () {
                                alert('Error!');
                            }
                        });
                    }


                }

                $("#HUID").change(function () {
                    var CountryId = parseInt($(this).val());

                    if (!isNaN(CountryId)) {
                        var ddlState = $('#HSolSubID');
                        ddlState.empty();
                        ddlState.append($("<option></option>").val('').html('Please wait ...'));

                        //debugger;
                        $.ajax({
                            url: '/api/app/categoryDetails',
                            //url: 'http://localhost:55544/api/app/categoryDetails',
                            type: 'GET',
                            dataType: 'json',
                            data: { UID: CountryId },
                            success: function (d) {

                                ddlState.empty(); // Clear the please wait
                                ddlState.append($("<option></option>").val('').html('Select Subject Category'));
                                $.each(d, function (i, states) {
                                    ddlState.append($("<option></option>").val(states.SolSubID).html(states.Subject));
                                });

                                if ($("#HSolSubID").val() == "") {
                                    var StateId = parseInt($("#HUID").val());
                                    if (!isNaN(StateId)) {
                                        var ddlCity = $('#HMSID');
                                        ddlCity.append($("<option></option>").val('').html('Please wait ...'));

                                        $.ajax({
                                            url: '/api/app/subjectDetails',
                                            //url: 'http://localhost:55544/api/app/subjectDetails',
                                            type: 'GET',
                                            dataType: 'json',
                                            data: { SolSubID: StateId, UID: parseInt($("#hidUID").val()) },
                                            success: function (d) {
                                                ddlCity.empty(); // Clear the plese wait
                                                ddlCity.append($("<option></option>").val('').html('Select Subject Code'));
                                                $.each(d, function (i, cities) {
                                                    ddlCity.append($("<option></option>").val(cities.MSID).html(cities.SubjectCode));
                                                });
                                            },
                                            error: function () {
                                                alert('Error!');
                                            }
                                        });
                                    }
                                }
                            },
                            error: function () {
                                alert('Error!');
                            }
                        });
                    }

                    $("#UID").val($("#HUID").val());
                });

                //City Bind By satate id
                $("#HSolSubID").change(function () {
                    var StateId = parseInt($(this).val());

                    if (!isNaN(StateId)) {
                        var ddlCity = $('#HMSID');
                        ddlCity.append($("<option></option>").val('').html('Please wait ...'));


                        $.ajax({
                            url: '/api/app/subjectDetails',
                            //url: 'http://localhost:55544/api/app/subjectDetails',
                            type: 'GET',
                            dataType: 'json',
                            data: { SolSubID: StateId, UID: parseInt($("#hidUID").val()) },
                            success: function (d) {


                                ddlCity.empty(); // Clear the plese wait
                                ddlCity.append($("<option></option>").val('').html('Select Subject Code'));
                                $.each(d, function (i, cities) {
                                    ddlCity.append($("<option></option>").val(cities.MSID).html(cities.SubjectCode));
                                });
                            },
                            error: function () {
                                alert('Error!');
                            }
                        });
                    }

                    $("#SolSubID").val($("#HSolSubID").val());
                });

                $("#HMSID").change(function () {
                    $("#MSID").val($("#HMSID").val());
                });

            },
            error: function () {
                alert('Error!');
            }
        });

    });
</script>